@CHARSET "UTF-8";
@CHARSET "UTF-8";
/* CSS Document */
*{font-family:'Microsoft YaHei','微软雅黑';}
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{position:relative;font-size:12px;font-family:'Microsoft YaHei','微软雅黑','Tahoma','黑体','宋体'; background:url(../images/appadmin_body_bg.png);}
body,html{min-width:1200px; height:100%;}
/*html,body{width:100%;}*/
ul,ol{list-style-type:none;}em,i,cite,u{font-style:normal;}
select,input{vertical-align:middle;}
input{outline:medium;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#666666; outline: medium none; font-family:'Microsoft YaHei','微软雅黑';}
a:hover{color:#FF6600;text-decoration: none;}
.font{}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.button_confirm{background: #ff6600 none repeat scroll 0 0;border: medium none;border-radius: 2px;color: #fff;float: left;font: 14px/40px "";margin-right: 8px;text-align: center;width: 140px;}
.button_concel{background: #666 none repeat scroll 0 0;border: medium none;border-radius: 2px;color: #fff;float: left;font: 14px/40px "";margin-right: 8px;text-align: center;width: 140px;}
.cursorpointer{cursor:pointer;}
/**
*
* 次样式是解决input按钮 以及输入框 在Safari浏览器里面的 圆角恢复默认的样式  
*
**/
.safari{-moz-appearance: none;-webkit-appearance: none;-o-appearance: none;-ms-appearance: none;appearance: none;-moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -moz-box-sizing : border-box ;-webkit-box-sizing : border-box ;-o-box-sizing : border-box ;-ms-box-sizing : border-box ;box-sizing : border-box ;cursor: pointer;}

/**
*
* 圆形样式  
*
**/
.yuanjiao_input{-webkit-border-radius:2px 2px; -moz-border-radius:2px 2px; -o-border-radius:2px 2px; -ms-border-radius:2px 2px; border-radius:2px 2px;}
/**
*
* ipad下显示的样式  
*
**/
@media all and (max-width:1199px){
	body{
		background-image:none;
		width: 100%;
		height:100%;
	}
	.appadmin_content,.appadmin_login{ width:100%;}
	.s_content{ top:0%;}
	.s_content_wrapper{ top:0;}
}

/**
*
* 框架样式开始
*
**/
.appadmin_all_content{position: relative; width:100%; height:100%;}
.appadmin_content{position: relative; max-width:1200px; width:1200px; max-height:900px; height:900px; background:#333; margin:0 auto; overflow:hidden;}
.head_wrapper {height: 100%;}
.s_content{ position: relative; top: 24%;}
.s_content_wrapper { position: relative; top: -191px;}
@media all and (min-width:1300px) and (max-width:1900px){
	
	.s_content{ position: relative; top: 38%;}
	.s_content_wrapper { position: relative; top: -191px;}
	
}
.appadmin_header{ width:1140px; height:102px; margin:0 auto;}
.appadmin_header span{ display:block; width:51px; height:50px; margin:25px 0 0 3px; float:left;}
.appadmin_header span img{width:51px; height:50px;}
.appadmin_header P{ float:left; max-width:330px; margin:47px 0 0 40px;}
.appadmin_header P i{ color:#999; font: 14px/14px "微软雅黑";}
.appadmin_header P em{color:#fff; font: 14px/14px "微软雅黑";}
.appadmin_header ul{width:500px; height:40px; float:left; margin:46px 0 0 298px;}
.appadmin_header ul li{ margin-right:33px; height:30px; float:left; list-style:none; color:#999; font: 14px/14px "微软雅黑";}
.appadmin_header ul li.active{color:#fff; border-bottom:2px solid #fed4c3;}
.appadmin_header ol{ width:auto; height:28px; float:left; margin-top:38px;}
.appadmin_header ol li{ width:28px; height:28px; float:left; margin-left:6px;}

/**
*
* 框架左侧样式
*
**/
.appadmin_section{width:1140px; height:768px; margin:0 auto;}
.appadmin_section_left{ width:240px; height:768px; float:left; background:#444;}
.appadmin_section_right{ width:900px; height:768px; float:left; background:#ccc;}

/**
*
* 框架左侧内容样式
*
**/
.appadmin_section_left h2{font-weight:bold; color:#999; font: 24px/24px "微软雅黑"; margin:32px 0 24px 35px;}
.appadmin_section_left ul{ margin:0px; padding:0px;}
.appadmin_section_left ul li{ text-indent:33px; width:240px; height:37px; color:#ccc; font: 14px/37px "微软雅黑";}
.appadmin_section_left ul li i,.appadmin_section_left ul li em{display:block;}
.appadmin_section_left ul li i{ float:left;}
.appadmin_section_left ul li em{ float:right; color:#fed4c3; font: 14px/14px "微软雅黑"; margin:12px 40px 0 0px;}
.appadmin_section_left ul li.active{ background:#3d3d3d url(../images/appadmin_icon_mune.png) right center no-repeat;}

/**
*
* 框架右侧导航样式
*
**/
.section_top_navigation{ width:820px; height:33px; margin:0 auto; padding-top:27px; border-bottom:1px solid #bbb;}
.section_top_navigation span{ display:block; float:left; color:#666; font: 12px/12px "微软雅黑";}
.section_top_navigation i{ display:block; float:left; margin:0 9px 0 9px; color:#666; font: 14px/10px "微软雅黑";}

/**
*
* 框架右侧内容样式
*
**/
.section_bottom_c{ width:820px; max-height:768px; overflow:hidden; margin:0 auto;}
.section_bottom_cz{ width:820px; height:28px; margin-top:23px;}
.section_bottom_cz i,.section_bottom_cz em{float:left; background-image:url(../images/appadmin_icon_del.png); background-repeat:no-repeat;}
.section_bottom_cz i{margin-right:6px;background-position:0px 0px; display:block; width:28px; height:28px;}
.section_bottom_cz em{background-position:0px -30px; display:block; width:28px; height:28px;}
.section_bottom_list{ width:820px; min-height:360px; overflow:hidden; margin:0 auto; margin-top:28px;}
.section_list_name{ width:820px; height:40px; border-bottom:1px solid #bbb; overflow:hidden;}
.section_list_name span{ display:block; float:left; margin-top:10px; color:#333; font: 14px/20px "微软雅黑";}
.section_list_name span.span_span1{ width:163px; height:20px;}
.section_list_name span.span_span1 i{ display:block; width:20px; height:20px; margin-right:10px; float:left; background-image:url(../images/appadmin_icon_select.png); background-repeat:no-repeat; background-position:0px 0px;}
.section_list_name span.span_span1 i.active{background-image:url(../images/appadmin_icon_select.png); background-repeat:no-repeat; background-position:0px -25px; display:block; width:20px; height:20px;}
.section_list_name span.span_span2{ width:99px; overflow:hidden;}
.section_list_name span.span_span3{width:85px;}
.section_list_name span.span_span4{width:99px;}
.section_list_name span.span_span5{width:127px;}
.section_list_name span.span_span6{width:99px;}
.section_list_name span.span_span7{width:98px;}
.section_list_name span.span_span8{width:50px;}
.section_list_name span.span_span1,.section_list_name span.span_span2,.section_list_name span.span_span3,.section_list_name span.span_span4,.section_list_name span.span_span5,.section_list_name span.span_span6,.section_list_name span.span_span7,.section_list_name span.span_span8{overflow:hidden;}
.section_list_c{ width:820px; height:50px; border-bottom:1px solid #bbb; overflow:hidden;}
.section_list_c span{ display:block; float:left; color:#333; font: 14px/50px "微软雅黑";}
.section_list_c span.span_span1{ width:163px; height:50px;}
.section_list_c span.span_span1 i{ display:block; width:20px; height:20px; margin-top:15px; margin-right:10px; float:left; background-image:url(../images/appadmin_icon_select.png); background-repeat:no-repeat; background-position:0px 0px;}
.section_list_c span.span_span1 i.active{background-image:url(../images/appadmin_icon_select.png); background-repeat:no-repeat; background-position:0px -25px; display:block; width:20px; height:20px;}
.section_list_c span.span_span2{ width:99px; overflow:hidden;}
.section_list_c span.span_span3{width:85px;}
.section_list_c span.span_span4{width:99px;}
.section_list_c span.span_span5{width:127px;}
.section_list_c span.span_span6{width:99px;}
.section_list_c span.span_span7{width:98px;}
.section_list_c span.span_span8{width:50px;}
.section_list_c span.span_span1,.section_list_c span.span_span2,.section_list_c span.span_span3,.section_list_c span.span_span4,.section_list_c span.span_span5,.section_list_c span.span_span6,.section_list_c span.span_span7,.section_list_c span.span_span8{overflow:hidden;}
.section_bin{ width:820px; height:40px; margin:0 auto; margin-top:16px;}
.section_list_czbin{ width:376px; float: right; height:40px; margin:0 auto;}
.section_list_czbin span{ display:block; float:left; width:88px; height:40px; background:#444; color:#ccc; margin-left:6px; text-indent:16px; font: 14px/40px "微软雅黑";}
.section_list_czbin span i{ float:left;}
.section_list_czbin span em{display:block; width:88px; background-image:url(../images/appadmin_icon_del.png); background-repeat:no-repeat;}
.section_list_czbin span em.em_px{ background-position:57px -60px; margin-top:15px; height:12px;}
.section_list_czbin span em.em_del{ background-position:57px -76px; margin-top:10px; height:21px;}
.section_list_czbin span em.em_fabu{ background-position:57px -102px; margin-top:10px; height:21px;}
.section_list_czbin span em.em_yulan{ background-position:57px -127px; margin-top:14px; height:14px;}

/**
*
* 登录页面样式
*
**/
.appadmin_login{ max-width:1200px; width:1200px; max-height:900px; height:900px; margin:0 auto;}
.appadmin_login_c{ width:1200px; height:299px; overflow:hidden; position:relative;}
.appadmin_login_b{ width:1200px; height:299px; overflow:hidden;}
.appadmin_login_b img{width:1200px; height:299px;}
.addmin_login_img{ width:252px; height:170px; voerflow:hidden; position:absolute; left:50%; margin-left:-126px; top:15%;}
.addmin_login_img img{ width:252px; height:170px;}
.appadmin_login_b img{width:100%;
                    fixed;left:0px;top:0px;
				    -webkit-animation-direction: alternate;
					-webkit-animation-duration: 8s;
					-webkit-animation-fill-mode: both;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-name: move;
					-webkit-transform-origin: center bottom 0;
					-moz-animation-direction: alternate;
					-moz-animation-duration: 8s;
					-moz-animation-fill-mode: both;
					-moz-animation-iteration-count: infinite;
					-moz-animation-name: move;
					-moz-transform-origin: center bottom 0;
					-o-animation-direction: alternate;
					-o-animation-duration: 8s;
					-o-animation-fill-mode: both;
					-o-animation-iteration-count: infinite;
					-o-animation-name: move;
					-o-transform-origin: center bottom 0;
					-ms-animation-direction: alternate;
					-ms-animation-duration: 8s;
					-ms-animation-fill-mode: both;
					-ms-animation-iteration-count: infinite;
					-ms-animation-name: move;
					-ms-transform-origin: center bottom 0;
					animation-direction: alternate;
				    animation-duration: 8s;
				    animation-fill-mode: both;
				    animation-iteration-count: infinite;
				    animation-name: move;
				    transform-origin: center bottom 0;
}
@keyframes move {
0% {
    transform: scale(1);
}
100% {
    transform: scale(1.05);
}
}
@-webkit-keyframes move {
from {
    -webkit-transform: scale(1);
}
to {
    -webkit-transform: scale(1.05);
}
}

.appadmin_login_from{ width:1200px; height:600px; background:#323232;}
.appadmin_login_from_c{ width:320px; height:265px; margin:0 auto; padding-top:90px;}
.login_from_user{ width:318px; height:58px; border:1px solid #646464; position:relative;}
.login_from_user span{ display:block; margin:16px 0 0 14px; width:24px; height:26px; float:left; background-image:url(../images/appadmin_icon_input.png); background-repeat:no-repeat; background-position:0px 0px; position:absolute; left:0px; top:0px;}
.login_from_user input{ background:none; border:none; color:#666; font: 14px/58px "微软雅黑"; width:265px; height:58px; float:left; position:absolute; left:53px; top:0px;}
.login_from_password{ width:318px; height:58px; border:1px solid #646464; position:relative; top:20px;}
.login_from_password span{ display:block; margin:21px 0 0 14px; width:24px; height:18px; float:left; background-image:url(../images/appadmin_icon_input.png); background-repeat:no-repeat; background-position:0px -36px; position:absolute; left:0px; top:0px;}
.login_from_password input{ background:none; border:none; color:#666; font: 14px/58px "微软雅黑"; width:265px; height:58px; float:left; position:absolute; left:53px; top:0px;}
.login_from_bin{ width:320px; height:40px; background:#fff; margin:0 auto; margin-top:20px; position:relative; top:20px;}
.login_from_bin input{ width:320px; height:40px; background:#fff; border:none; color:#333; font: 14px/40px "微软雅黑"; text-align:center;}
.login_from_ts{ width:320px; height:15px; margin:0 auto; margin-top:60px; color:#666; font: 12px/15px "微软雅黑"; text-align:center;}

/**
*
* 我的面板页面样式
*
**/
.appadmin_panel{ width:820px; max-height:768px; overflow:hidden; margin:0 auto; margin-top:41px;}
.appadmin_panelmax{ width:834px; max-height:768px; overflow:hidden; margin:0 auto;}
.appadmin_panel_list{ width:400px; height:162px; float:left; background:#f2f2f2; margin-right:17px;}
.panel_list_top{ width:400px; height:44px; text-indent:24px; background:#444; color:#ccc; font: 14px/44px "微软雅黑";}
.panel_list_bottom{ width:400px; height:118px; overflow:hidden; padding-top:37px;}
.panel_list_bottom span{ display:block; color:#444; margin-bottom:16px; font: 14px/14px "微软雅黑"; text-indent:24px;}
.appadmin_panel_listtwo{ width:400px; height:162px; float:left; background:#f2f2f2; margin-right:0;}