@CHARSET "UTF-8";
/* CSS Document */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{font-size:12px;font-family:'SourceHanSansCN-Normal','微软雅黑','Tahoma','黑体','宋体';}
body,html{background:#fff; overflow-x:hidden;}
ul,ol{list-style-type:none;}em,i,cite{font-style:normal;}
select,input{vertical-align:middle;}
button,input{outline:none;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#000; outline: medium none; font-family:'Microsoft yahei';}
a:hover{color:#000;text-decoration: none;}
.font{}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.hand{cursor:pointer;}
.hide,.chide{display:none;}
.show,.cshow{ display:block;}
.invalid_warning,.check_red{border:1px solid red!important;}
.safari{-moz-appearance: none;-webkit-appearance: none;-o-appearance: none;-ms-appearance: none;appearance: none;-moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -moz-box-sizing : border-box ;-webkit-box-sizing : border-box ;-o-box-sizing : border-box ;-ms-box-sizing : border-box ;box-sizing : border-box ;cursor: pointer;}
.safariborder{ -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; -ms-border-radius:50%; border-radius:50%;}
.yuanxing{-webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;}
.company_empl_tab span.span_span11{width:34px; }
.company_empl_tab span.span_span11 i{ display:block; width:20px; height:20px; margin-top:15px; margin-right:10px; float:left; background-image:url(../images/appadmin_icon_select.png); background-repeat:no-repeat; background-position:0px 0px;}
.company_empl_tab span.span_span11 i.active{background-image:url(../images/appadmin_icon_select.png); background-repeat:no-repeat; background-position:0px -25px; display:block; width:20px; height:20px;}
/**
*
* 大框架公用样式
*
**/
.company_warp{ width:100%; height:100%; overflow:hidden;}
.company_mask{display:block; width:100%; height:100%; overflow:hidden; position:fixed; left:0px; top:0px; z-index:1111; background:#000; opacity: 0.7; filter:alpha(opacity:70);}

/**
*
* 头部公用样式
*
**/
.company_header{ min-width:1200px; width:100%; height:64px; border-bottom:1px solid #000; overflow:hidden; margin:0 auto;}
.company_logo{ width:11%; height:64px; float:left; background:#7a7a7a; color:#000; font: 24px/64px "Microsoft yahei","微软雅黑"; text-align:center;}
.company_logo img{width:44px; height:44px; margin:10px 0 0 30px;}
.company_dianji{ width:24px; height:64px; float:left; padding-left:.5%; padding-right:.5%;}
.company_dianji img{ width:24px; height:21px; margin-top:21px;}
.company_dianji:hover{background:#7a7a7a;}
.company_juese_r{ float:right; margin-right:30px;}
.company_juese{ width:86%; height:64px; float:right; text-align:right;}
.company_juese span{display:block;width:23px; height:23px; margin:20px 10px 0 0; float:left;}
.company_juese span img{width:23px; height:23px;}
.company_juese i{ margin-right:10px; display:block; float:left; color:#000; font: 12px/64px "Microsoft yahei","微软雅黑";}
.company_juese em{display:block; float:left; margin-top:20px;}
.main-header .logo {text-align: left;height: 48px;line-height: 48px;font-size: 16px;}
.logo-lg img {border-radius: 0;height: 20px; margin-right: 5px;margin-top: 15px;width: 20px; }
.main-header .sidebar-toggle {padding: 15px;}
.navbar-nav > .menu_padd {padding-bottom: 13px;padding-top: 12px;}
.menu_padd>span.hidden-xs{padding-top:3px;float:left;}
.navbar-nav > li > a {padding-bottom: 14px; padding-top: 14px;}
.main-header .navbar {min-height: 48px;}
.sidebar-menu > li {    border-bottom: 0;}
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini img {border-radius: 0;height: 20px;margin: 15px;width: 20px;}
/**
*
* 内容框架公用样式
*
**/
.company_c{ width:100%; min-height:480px; overflow:hidden;}
.company_item{}
/**
*
* 左侧框架公用样式
*
**/
.company_left{text-align: center; margin-right:.2%; width:100%; height:600px; border-right:1px solid #7a7a7a; float: left;}
.company_item .company_left{margin-right:.2%; width:4.5%; height:600px; border-right:1px solid #7a7a7a; float: left;}
/**
*
* 左侧菜单公用样式
*
**/
.shortcut_nav_item{border-bottom: 1px solid #7a7a7a; margin-top:20px; cursor: pointer; font-size: 0; height:50px; position: relative;}
.shortcut_nav_item:hover .shortCutcontent{display:block;}
.mynav_box_bgcolor {background: #00a6cf;display: none;height: 50px; left: 0; opacity: 1;position: absolute; top: 0; width: 142px; z-index: -1;}
.mynav_box_color{background: #00a6cf;height: 50px; left: 0; opacity: 1;position: absolute; top: 0; width: 142px; z-index: -1;}
.nav_icon {border:none; display: inline-block; margin-right:15px; float:left; height: 30px; margin-left: 15px; vertical-align: middle;width: 30px;}
.nav_title{display:block;color: #000; font-size: 14px; height: auto;line-height: 30px; margin: 0 0 0 10px; overflow: hidden; width: 80px;}
.company_item span.nav_title{display:none;color: #000; font-size: 14px; height: auto;line-height: 30px; margin: 0 0 0 10px; overflow: hidden; width: 80px;}
.shortCutcontent{display:none; height: auto; overflow: hidden; position: absolute; left:100%; top: 0; width: auto; background:#fff; border:1px solid #7a7a7a;}
.shortCutcontent ul{ margin:0px; padding:0px;}
.shortCutcontent ul li{ padding-left:10px; border-bottom:1px solid #7a7a7a; width:125px; height:30px; color:#000; font: 12px/30px "Microsoft yahei","微软雅黑";}
.shortCutcontent ul li:hover{ background:rgba(215, 215, 215, 1); color:#ff0000;}
.company_item .shortCutcontent{display:none; height: auto; overflow: hidden; position: absolute; left: 100%; top: 0; width: auto; background:#fff; border:1px solid #7a7a7a; border-bottom:none;}
.company_item .shortCutcontent ul{ margin:0px; padding:0px;}
.company_item .shortCutcontent ul li{ padding-left:10px; border-bottom:1px solid #7a7a7a; width:80px; height:30px; color:#000; font: 12px/30px "Microsoft yahei","微软雅黑";}
.company_item .shortCutcontent ul li:hover{ background:rgba(215, 215, 215, 1); color:#ff0000;}

/**
*
* 右侧主体内容框架公用样式
*
**/
.company_right{background: #eceff4; width:100%; height:auto; overflow:hidden; float:left;}
.company_item .company_right{ width:95.05%; height:auto; overflow:hidden; float:left; border:1px solid #7a7a7a;}
.right_title_c{ color:#000; font: 24px/64px "Microsoft yahei","微软雅黑";}

/**
*
* 右侧面包屑导航公用样式
*
**/
.company_mune{ width:100%; height:30px; background:#7a7a7a;}
.company_mune i,.company_mune b,.company_mune em{display:block; float:left; color:#fff; font: 14px/30px "Microsoft yahei","微软雅黑"; margin-right:10px;}
.company_mune i{ margin-left:20px;}
.company_mune i a{color:#fff; font: 14px/30px "Microsoft yahei","微软雅黑";}

/**
*
* 数据表排序箭头公用样式
*
**/
.list_sort_asc, .list_sort_desc, .list_sortable{display:inline-block; width:6px; height:10px; margin: 6px 0 0 0px; background-repeat:no-repeat;}
.list_sort_asc {background-image:url(../images/appadmin_icon_sort_asc.png);}
.list_sort_desc{background-image:url(../images/appadmin_icon_sort_desc.png); }
.Data_cjs_name span.span_c_5 u{ margin-right: 5px; display:block; float:left; text-decoration:none;}

/**
*
* 下拉菜单公用样式
*
**/
.content_global{ width:90%; height:auto; overflow:hidden; margin:0 auto; background:#d7d7d7; margin-top:40px;}
.content_search_all{ height:80px; margin-bottom:20px;}
.content_search{ width:auto; height:30px; padding-top:20px; margin-right:20px;}
.search_right_c{ width:auto; height:30px; float:right;}
.select_IOS{ width:88px; height:28px; float:left; border:1px solid #b8b8b8; position:relative; margin-right:10px;}
.select_IOS input{cursor: pointer;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:61px; height:26px; border:none; background:none; padding-left:6px; font: 14px/24px "微软雅黑"; color:#333;}
.select_IOS i{cursor: pointer; display:block; position:absolute; right:6px; top:12px; width:12px; height:5px;}
.select_IOS ul{display:none;z-index:222; width:87px; height:auto; background:#ccc; position:absolute; left:0px; top:27px; border:1px solid #b8b8b8;}
.select_IOS ul li{overflow:hidden;text-overflow: ellipsis;white-space: nowrap;width:80px; height:24px; font: 14px/24px "微软雅黑"; color:#333; padding-left:7px; border-bottom:1px solid #b8b8b8;}
.select_sketch{ width:88px; height:28px; border:1px solid #b8b8b8; float:left; position:relative; margin-right:8px;}
.select_sketch input{cursor: pointer;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:61px; height:26px; border:none; background:none; padding-left:6px; font: 14px/24px "微软雅黑"; color:#333;}
.select_sketch i{cursor: pointer; display:block; position:absolute; right:12px; top:15px; width:12px; height:5px;}
.select_sketch ul{display:none;z-index:222; width:114px; height:auto; background:#ccc; position:absolute; left:50px; top:32px; border:1px solid #b8b8b8;border-top:none;}
.select_sketch ul li{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:113px; height:24px; font: 14px/24px "微软雅黑"; color:#333; padding-left:7px; border-bottom:1px solid #b8b8b8;cursor:pointer;}
.select_sketch ul li:hover{background-color:#b8b8b8;}
.select_sketch ul li.on{background-color:#c0c0c0;}
.select_sketch ul li a{ font: 14px/24px "微软雅黑"; color:#333;}
.select_time_c{ width:auto; height:28px; float:left; position:relative;margin-right:2%;}
.select_time_c span.lrtime{ display:block; float:left; font: 14px/28px "微软雅黑"; color:#333; margin-right:5px;}
.time_c{ float:left; position:relative; width:88px; height:28px; margin-right:5px;}
.time_c i{cursor: pointer; display:block; position:absolute; width:12px; height:15px;}
.select_time_c input.time_input{cursor:pointer; width:86px; height:24px; border:1px solid #b8b8b8; background:none;}
.rightspan input{background:#505050;color:#fff;border:none;border-radius:3px;}
.staff_search{ width:25%; height:34px; border:none;float:left; position:relative;}
.staff_search span.span_font{float:left;height:30px;color:#000;font:14px/32px "Microsoft yahei","微软雅黑";}
.staff_search span.select2-selection{height:32px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:26px!important;}
.staff_search select{ border:1px solid #b8b8b8; float:left;cursor: pointer;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:60%!important; height:34px; background:none; padding-left:6px; font: 14px/32px "微软雅黑"; color:#333;}
.staff_search select option{width:114px;}
.staff_subimit{ float:left; margin-right:10px; width:9%; height:32px;border:none;background:#505050;color:#fff;border-radius:3px;}

/**
*
* 翻页效果样式
*
**/
.page{ width:auto; height:50px; float:right; margin-right:15px; padding:10px 0 10px 0;}
/*.page a.first,.page a.prev,.page a.next,.page a.end{ font: 14px/28px "微软雅黑"; color:#444; float:left; margin-right:15px;}
.page a.end{ margin-right:0px;}
.page a.next{ margin-left:15px;}
.page a.num {display:block; text-align:center; width:28px; height:28px; float:left; font: 14px/28px "微软雅黑"; color:#444;}
.page a.num:hover{ background:#666; color:#fff;}
.page .current{ background:#666; color:#fff;display:block; text-align:center; width:28px; height:28px; float:left; font: 14px/28px "微软雅黑";}*/
.page div{ width:auto; height:28px; float: left;}
.page div span,.page div a,.page div form{ float:left; margin-right:10px;  font: 14px/28px "微软雅黑"; color:#333;}
.page div span,.page div a{ margin-top:2px;}
.page div form{ margin-right:0px;}
.page div input.jumppage{ width:26px; height:26px; border:1px solid #b9b9b9; background:none;}
.page div input{ margin-right:0px; width:34px; height:28px; font: 14px/28px "微软雅黑"; color:#333; border:none; background:none;text-align:center;}
  .bg_black { background-color: #000 !important;}
  .bg_white { background-color: #fff !important; color:#000 !important;}
  .bg_white h3.title_h3{color:#999!important;font-family:"微软雅黑"!important;border-bottom:1px solid #f4f4f4;padding:12px 0;}
  .bg_white p.padding_none{padding:0 0 5px 12px;color:#000;font-size:12px;}
  .bg_white a i{color:#000;background:#fff;font-size:10px;line-height:12px;width:10px;}
  .info-box-text{color:#666;}
  .small-box > .small-box-footer {
    height:33px!important;
    line-height:25px!important;
    background: rgb(50, 50, 50) none repeat scroll 0 0!important;
    color: rgba(255, 255, 255, 1);
    }
  .skin-blue .main-header .logo {
    background-color: #333;
  }
  .skin-blue .main-header .navbar {
    background-color: #333;
  }
  .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #444;
  }
  .skin-blue .sidebar-menu > li > .treeview-menu {
    background: #505050;
}
.skin-blue .sidebar-menu > li.header {background-color: #444;color: #fff;font-size: 14px;height: 60px;line-height: 40px;text-overflow: ellipsis;white-space: nowrap;text-indent: 22px;}
.small-box h3{border-bottom:none;padding:0 12px;}
.small-box{box-shadow:none;}
.center{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 30px;
}
.menu_wrap{
    background-color: rgba(215, 215, 215, 1);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    height: 239px;
    width: 380px;
    float: left;
    margin: 5px;
    display: inline-block;
}
.menu_wrap h2:nth-child(1) {
    margin: 5px;
}
.menu_wrap h2:nth-child(2) {
    margin: 40px;
}
.menu_wrap button {
    margin-left: 140px;
}
.menu_wrap2{
    width: 450px;
    height: 150px;
    background-color: rgba(242, 242, 242, 1);
    margin: 5px auto;
}
.fa-line-chart,.fa-cogs,.fa-cogs,.fa-cny,.fa-user,.fa-group,.fa-bank{color:#f69f8b;}
.breadcrumb .fa-line-chart,.breadcrumb .fa-cogs,.breadcrumb .fa-cogs,.breadcrumb .fa-cny,.breadcrumb .fa-user,.breadcrumb .fa-group,.breadcrumb .fa-bank,.breadcrumb .treeview{color:#444645;}
.row_title{ display:block; height: 40px; color: #333; font: 14px/40px "Microsoft yahei","微软雅黑";}

.bg-aqua .guanli{ background:url(../images/icons/index_icon.png) no-repeat; background-position:0 0; display: block;
    height: 30px;
    margin: 9px 0 0 9px;
    width: 29px;
   }
.bg-red .infoper{ background:url(../images/icons/index_icon.png) no-repeat;background-position:0 -32px; display: block;
    height: 26px;
    margin: 11px 0 0 10px;
    width: 28px;
   } 
.bg-green .dongtai{ background:url(../images/icons/index_icon.png) no-repeat;background-position:0 -60px; display: block;
    height: 26px;
    margin: 11px 0 0 9px;
    width: 29px;
   }    
   
.bg-yellow .ionoutline{ background:url(../images/icons/index_icon.png) no-repeat; background-position:0 -88px; display: block;
    height: 26px;
    margin: 11px 0 0 10px;
    width: 28px;
   }       

.companyleft_title{ width:100%; padding-top:20px; padding-bottom:20px; font: 14px/14px "微软雅黑"; color:#fff; text-align:center;}  
.company_left input{padding-left: 15px; margin-top:10px; width:160px; letter-spacing:12px; height:42px; background:#fff; color:#333; font: 18px/42px "微软雅黑"; text-align:center; border:none;}   
.inputWrap{
            width: 100%;
            margin-bottom: 20px;
            font-size: 15px;
        }
.maskLayer{
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index:19891015;
    background-color:#000;
    opacity:0.7;
    filter:alpha(opacity=70);
    display: none;
    color: white;
}
.maskLayer .on{background-color: #00a0e9; }
.step_2>.on{ background-color: #00a0e9;}

.Authorize_box{width:100%;min-height:600px;background:#fff; margin-top:20px;}
.company_Authorize{ width:100%;min-height:500px; overflow:hidden;}
.Authorize_title{ width:100%; height:50px;}
.Authorize_title span.left{float:left;font:16px/50px "Microsoft yahei","微软雅黑";margin-left:15px;}
.Authorize_title em.right{float:right;}
.Authorize_title em.right input{width:120px;height:35px;border:none;background:#505050;margin-top:8px;margin-right:15px;color:#fff;font-size:14px;border-radius:3px;}
.Authorize_list{height:130px; background:#f2f2f2;margin:0 15px; margin-top:10px;}
.list_title{ width:99%;height:45px; border-bottom:1px solid #ccc; margin:0 auto;}
.list_title span,.list_title em{ color:#333; font: 14px/45px "Microsoft yahei","微软雅黑";margin-right:5px;}
.list_title em{width:155px;text-align:right;font-weight:700;}
.list_c{ width:99%; min-height:80px;margin:0 auto;}
.left_list p,.right_list p{line-height:25px;color:#333;font-size:14px;font-weight:500;}
.right_list input{width:140px;height:40px;border:none;background:#505050;border-radius:5px;margin-top:10px;color:#fff;font-size:14px;margin-right: 5px;}
.right_list p{text-align:center;}

/**
*
* 底部公用样式
*
**/
.company_footer{height: 65px; margin: 0 auto;}
.footer_inner{color: #848585; height: 63px; margin: 0 auto; overflow: visible;width: 1000px; color:#000; text-align:center; font: 12px/63px "Microsoft yahei","微软雅黑";}
.company_public_mask{display:none; width:100%; height:100%; overflow:hidden; position:fixed; left:0px; top:0px; z-index: 88888; background:#000; opacity: 0.7; filter:alpha(opacity:70);}

/*
 * 拖动验证码样式
 */
#imgc{width:192px; height:115px;border:1px solid #000000; position:absolute; left:0px; top:-116px;background:url(../images/d_big.png) no-repeat;z-index:33;}
#imgc #img{width:50px;height:40px;position:absolute;left:0;display:none;background:url(../images/ddd.png) no-repeat;border:none; }
#info{width:200px;height:20px;position:absolute; left: 0px;}
#td{width:218px; height:34px;border:1px solid #bababa; position:relative;top: 0px; left:0px; -webkit-border-radius:5px 5px; -moz-border-radius:5px 5px; -o-border-radius:5px 5px; -ms-border-radius:5px 5px; border-radius:5px 5px;}
#td span{width:10px;height:32px;position:absolute;background:#ABA9A9;left:0;display:block; border-radius: 3px; border: 1px solid #898989;cursor:pointer;}
.span_l_left span.font_left{margin-right:20px;}
.register_left{margin-left:20px;}
.imora_datapick_yearmonth{ width:210px; height:190px; background:#fff; border:1px solid #b8b8b8;}
.yearInfoHtml{ width:210px; height:25px;}
.yearInfoHtml span{ display:block; float:left; text-align: center; width: 70px; font: 14px/25px "微软雅黑"; color:#333;cursor:pointer;}
.monthInfoHtml{ width:210px; height:160px; overflow:hidden;}
.monthInfoHtml span{ display:block; float:left; text-align: center; width: 50px; height:50px; font: 14px/50px "微软雅黑"; color:#333;cursor:pointer;}
.monthInfoHtml span.on{ background:#ff6600; color:#fff;}


.company_right_bottom_div{ width:300px; height:200px; background:#fff;}
.company_right_bottom_div p {padding: 20px; color: #666;}
.company_industry_pop{ width:648px; height:465px; background:#f2f2f2; position:fixed; left:50%; top:50%; margin-left:-324px; margin-top:-233px; z-index:111111;}
.industry_poptitle{ width:648px; height:45px; background:#d7d7d7;}
.industry_poptitle i{float:left; display:block; color:#000; text-indent:10px; font:16px/40px "微软雅黑";}
.industry_poptitle em{height: 40px; float:left; display:block; color:#666; text-indent:10px; font: 12px/45px "微软雅黑";}
.industry_poptitle span.title_span{ display:block; float:left;}
.industry_poptitle span.sub_span{display:block; float:right;}
.industry_poptitle input.sub{ margin-top:5px; width:66px; height:30px; color:#333; margin-right:10px; font: 16px/30px "微软雅黑"; background:#fff; border:1px solid #797979; text-align:center;}
.industry_pop_c{ margin-top:10px;height:410px; overflow:hidden;}
.pop_clist{ width:624px; margin:0 auto; overflow:hidden;padding-bottom:10px;}
.list_ctitle{ width:120px;float:left; color:#333;font-size:12px;font-family:"微软雅黑";margin-top:10px;margin-left:10px;}
.list_cdl{width:490px;float:left;}
.list_cdl span{display:block;color:#444; padding:6px 7px; float:left; margin-left:10px; margin-top:5px; margin-bottom:5px; background:#d7d7d7;font-family:"微软雅黑"; -webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;}

.file_input{ width:54px; height:32px; border:1px solid #bababa; background:#eceff4; margin-left:5px;}
.register-file{ width:430px; min-height:34px; overflow:hidden; margin-bottom:20px;}
.register-file span{display:block; margin-right:20px; width:65px; height:34px; float:left; color:#333; font: 14px/34px "微软雅黑";}
.register-file span.file_spaninfo{display:block; margin-right:0px !important; width:130px; height:34px; float:left; color:#333; font: 14px/34px "微软雅黑";}
.register-file span em{ color:#fd2121;}
.register-file-r{ width:286px; min-height:34px; float:left;}
.register-file-r .file-r{ width:284px; min-height:32px; border:1px solid #bababa; background:#eceff4;overflow:hidden;cursor:pointer;}
.register-file-r p.p_box{margin:3px 3px; height:22px; border:1px solid #fb9c7c; float:left; -webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;}
.register-file-r p i{ overflow:hidden; float:left; height:22px; display:block; color:#fb9c7c; font: 12px/18px "微软雅黑";padding-left:3px;}
.register-file-r p i.remove_w{width:45px;}
.register-file-r p em{ display:block; float:right; color:#fb9c7c; font: 12px/18px "微软雅黑";margin-right:2px;}
.info_input{ width:54px; min-height:32px; border:1px solid #bababa; background:#eceff4; margin-left:5px;font-family:"微软雅黑";}
.info-file{ width:100%; min-height:34px; margin-top:30px;overflow:hidden;}
.info-file span{display:block; margin-right:20px; width:65px; height:34px; float:left; color:#333; font: 14px/34px "微软雅黑";}
.info-file span.file_spaninfo{display:block; margin-right:0px !important; width:130px; height:34px; float:left; color:#333; font: 14px/34px "微软雅黑";}
.info-file span em{ color:#fd2121;}
.info-file-r{ width:310px; min-height:34px; float:left;}
.info-file-r .info-r{ width:100%; border:1px solid #bababa; background:#fff;cursor:pointer;overflow:hidden;}
.info-h{height:32px;}
.info-file-r p.p_box{margin:4px 3px; height:22px; border:1px solid #fb9c7c; float:left; -webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;}
.info-file-r p i{ overflow:hidden; float:left; height:22px; display:block; color:#fb9c7c; font: 12px/20px "微软雅黑";text-align:center;}
.info-file-r p i.remove_w{width:45px;}
.info-file-r p em{ display:block; float:right; color:#fb9c7c; font: 12px/19px "微软雅黑";margin-right:2px;}
.company_text{display:none;width:700px;height:550px;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;background:#eceff4;z-index:198910151;}
.company_text h5{text-align:center;color:#333;height:40px;font:16px/40px "微软雅黑";background:#fff;}
.company_text button.btn_close{position:absolute;right:10px;top:10px;font-size:14px;border:none;background:none;outline:none;}
.conpany_content{width:650px;height:480px;margin:0 auto;margin-top:10px;overflow-y:auto;}




/**
*
* 权限 员工数据分配 弹出框公用样式
*
**/
.layer_content{width: 600px; background: #fff;overflow:hidden;}
.div_search_content {width: 600px; height: 40px;margin:20px 0;position:relative;}
.div_search_content span.span_title{float:left;margin-right:3px;width:38px;text-align:right;font-family:"微软雅黑";font-size:12px;color:#333;}
.sur_btn{width:100%;height:50px;margin-top:10px;}
.sur_btn span.btn-sub {float:right;width: 100px;  margin-top: 6px; height: 30px; line-height: 30px; font-size: 14px; color: #fff; text-align: center;display: inline-block; background: #505050; border-radius: 3px; cursor: pointer; margin-right: 10px;}
.div_search_content span.btn-search {width: 60px;  margin-top: 6px; height: 30px; line-height: 30px; font-size: 14px; color: #fff; text-align: center;display: inline-block; border-radius: 3px; float: left; margin-left:10px; cursor: pointer;background:#505050;}
.div_search_content span.close_X{position:absolute; text-align: center; height:25px; width:25px; right:0;top:-10px;font: 12px/25px "Microsoft yahei","微软雅黑";color:#fff;background:#505050; margin-right:10px;-webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; border-radius:3px;cursor:pointer;}
.divget_search {height: 40px; float: left;line-height: 40px; margin-left:0px;}
.divget_search span.span_tit{display:block; float:left; margin-right:2px; width: 37px; height: 40px; line-height: 40px !important; color: rgb(51,51,51); text-align: right;}
.divget_search input {float: left; height: 28px;line-height: 24px; margin-top: 7px;margin-right:3px; width: 100px;text-indent:10px;}
.divget_search select {width: 120px !important; height: 30px !important;outline:none;}
.div_department {width: 600px; float: left;}
.div_department_title {width:100%; height: 30px; background: #f2f2f2;line-height: 30px; margin-bottom: 5px;}
.div_department_title label{font-weight:500;}
.div_department_title span.span_title {overflow: hidden;display:block; float:left; width: 80px; height: 30px; line-height: 30px; font-size: 14px; margin-left: 10px;}
.div_department_title span.checkbox_css{position:relative;float:left;height:19px;margin-top:6px;}
.checkbox_css input{position:absolute;left:0;top:0;opacity:0;width:19px;height:19px;filter:(alpha=0);z-index:22;}
.checkbox_css label{width:19px;height:19px;background:url("../../images/s_blue.png") no-repeat;background-position:0 0;}
.checkbox_css input[type="checkbox"]:hover+label{background:url("../../images/s_blue.png") no-repeat; background-position:-20px 0;}
.checkbox_css input[type="checkbox"]:checked+label{background:url("../../images/s_blue.png") no-repeat;background-position:-40px 0;}
.div_department_title em{float:left;margin-left:3px;}
.checked_num{position: relative;}
.checked_num input{position:absolute;width:16px;height:16px;left:0;top:0; z-index:22;opacity:0;}
.checked_num em{float:left;margin-right:5px;}
.checked_num label{width:19px;height:19px;background:url("../../images/s_blue.png") no-repeat; background-position:0 0;float:left;margin-right:5px;margin-top:1px;}
.checked_num input[type="checkbox"]:hover+label{background:url("../../images/s_blue.png") no-repeat;background-position:-20px 0;}
.checked_num input[type="checkbox"]:checked+label{background:url("../../images/s_blue.png") no-repeat;background-position:-40px 0;}
.div_department_title span.span_tab {display:block; width: 0 !important; height: 0; margin:10px 10px 0 0; float: right;border-color:#505050 transparent transparent transparent;border-style:solid;border-width:8px 5px 0 5px;cursor:pointer;}
//.div_department_title label{ float:left; width:50px;font-weight:500;font-family:"微软雅黑";color:#333;font-size:14px;}
//.div_department_title label input{ width:20px !important; height:20px !important; float:left; margin-top:6px;}
.user_block {width: 186px; height: 100px; float: left; background: #ccc; margin-bottom: 5px; margin-left: 8px; margin-right: 2px; border: 2px solid #ccc;padding-bottom:5px;cursor:pointer;}
.user_active{border: 2px solid red;}
.user_block p{line-height:19px; font-size: 13px; height: 19px; margin: 0 auto; overflow:hidden;padding-left:10px;color:#333;}
.user_block.act{ border: 2px solid red;}
.serach_namemanages{margin-top: 8px; width:88px; height:24px; float:left; position:relative; margin-right:10px;}
.serach_namemanages span.span_name{float:left; width:88px; height:24px; margin-right: 10px;}
.serach_namemanages label{ float: left;height: 28px;margin-left: 48px;margin-right: 10px;font: 14px/24px "微软雅黑"; color:#333;}
.serach_namemanages span.span_name input{margin-top:0px;cursor:pointer;font: 12px/24px "微软雅黑"; color:#333; width:88px; height:28px;text-indent:5px;}
.serach_namemanages em{position:absolute; right:6px; top:12px; cursor:pointer;width:0;height:0;border-color:#a1a1a1 transparent transparent transparent;border-style:solid;border-width:5px 3px 0 3px;}
.serach_namemanages ul{display:none;position:absolute; z-index:222; left:0px; top:24px; margin:0px; padding:0px; width:88px; border:1px solid #b8b8b8;background:#fff;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.serach_namemanages ul li{overflow:hidden;height: 28px;line-height: 28px; padding-left: 5px; width: 86px;cursor:pointer;}
.serach_namemanages ul li.on{background:#ccc;}
.serach_namemanages ul li:hover{ background:rgb(22,155,213);color:#fff;}
.lodding_icon {
    -webkit-animation: round 0.8s linear infinite;
    -moz-animation: round 0.8s linear infinite;
    -ms-animation: round 0.8s linear infinite;
    -o-animation: round 0.8s linear infinite;
}
@-webkit-keyframes round{
    0%{
      transform:rotate(0deg);
    }
    25%{
       transform:rotate(90deg);
    }
    75%{
      transform:rotate(180deg);
    }

    100%{
       transform:rotate(360deg);
    }
}
.arrow_up
{
transform: matrix(1, 0, 0, -1, 0, 0);
}
