html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family:"microsoft yahei";
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
body {
	line-height: 1;
	font-size:14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
input,textarea,button{
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
a{
	text-decoration:none;
}
img{
	vertical-align:middle;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 清除浮动 */
.clear{ clear:both;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
html,body{
	width:100%;
	background:#fff;
}

.news_main{
	width:100%;
}
.new_font{
	width:100%;
	text-align:center;
	padding-top:.45rem;
}
.new_font h1{
	font-size:.2rem;
	color:#000;
	font-weight:400;
}
.small_title{
	width:100%;
	padding-top:.3rem;
}
.small_title h5{
	font-size:.16rem;
	color:#c3c3c3;
	font-weight:300;
	margin-bottom:.14rem;
}
.new_img{
	width:100%;
	margin-top:.34rem;
	text-align:center;
}
.new_img img{
	width:2.495rem;
	height:2.3rem;
}
.new_btn{
	width:100%;
	margin-top:.595rem;
}
.btn_width{
	width:63.333%;
	height:.4rem;
	margin:0 auto;
}
.btn{
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	background-color:#ffa776;
	font-size:.18rem;
	outline:none;
	border:none;
	border-radius:.2rem;
}

/**  名片信息编辑    **/
.edit_main{
	width:100%;
}
.card_img{
	width:100%;
}
.card_img img{
	width:100%;
	height:auto;
}
.main{
	widht:100%;
}
.info_list{
	width:90.933%;
	margin:0 auto;
}
.info_item{
	width:100%;
	padding:.19rem 0 .15rem 0; 
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
	border-bottom:1px solid #f5f5f5;
}
.icon{
	width:.46rem;
}
.icon:before{
	content:"";
	display:block;
	background-size:100% 100%;
	vertical-align:middle;
}
.per_icon:before{
	width:.2rem;
	height:.2rem;
	background-image:url("../images/wei/per_03.png");
	margin-left:.1rem;
}
.building_icon:before{
	width:.21rem;
	height:.2rem;
	background-image:url("../images/wei/buliding_03.png");
	margin-left:.1rem;
}
.phone_icon:before{
	width:.195rem;
	height:.19rem;
	margin-left:.1rem;
	background-image:url("../images/wei/phone_i.png");
}
.email_icon:before{
	width:.19rem;
	height:.125rem;
	margin-left:.1rem;
	margin-top:.03rem;
	background-image:url("../images/wei/email_11.png");
}
.map_icon:before{
	width:.175rem;
	height:.21rem;
	margin-left:.1rem;
	margin-top:.03rem;
	background-image:url(../images/wei/map_info_11.png);
}
.www_icon:before{
	width:.195rem;
	height:.195rem;
	background-image:url(../images/wei/www_03.png);
	margin-left:.1rem;
	margin-top:.01rem;
}
.mobile_icon:before{
	width:.135rem;
	height:.2rem;
	background-image:url(../images/wei/mobile_07.png);
	margin-left:.1rem;
	margin-top:.03rem;
}
.edit_info{
	height:.35rem;
	flex:1;
	-webkit-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
}
.i_list{
	height:.34rem;
}
.info_bottom{
	margin-bottom:.15rem;
}
.edit_info input{
	padding:0;
	display:block;
	width:100%;
	border:none;
	background:none;
	color:#666;
	font-size:.14rem;
	height:.2rem;
}
.edit_info h6{
	font-size:.12rem;
	color:#ccc;
	font-weight:300;
}
.info_submit{
	width:100%;
	padding-top:.225rem;
	padding-bottom:.2rem;
	background:#fafafa;
}
.s_btn_width{
	width:86%;
	height:.4rem;
	margin:0 auto;
}
.s_btn_width button{
	font-size:.14rem;
}
.btn_top{
	margin-top:.1rem;
}
.s_btn_width button span.span-save:before{
	content:"";
	display:inline-block;
	width:.16rem;
	height:.16rem;
	background-image:url(../images/wei/save_icon_11.png);
	background-size:100% 100%;
	margin-right:.1rem;
	vertical-align:-.03rem;
}
.s_btn_width button span.span-enjoy:before{
	content:"";
	display:inline-block;
	width:.16rem;
	height:.16rem;
	background-image:url(../images/wei/enjoy-btn.png);
	background-size:100% 100%;
	margin-right:.1rem;
	vertical-align:-.03rem;
}


/**   我的名片信息     **/
.min_height{
	min-height:7.3rem;
}
.my_main{
	width:100%;
}
.img_top{
	width:100%;
	height:2rem;
	position:fixed;
	top:0;
	left:0;
	z-index:10;
}
.img_list{
	width:100%;
	height:2rem;
}
.img_list li{
	width:100%;
	height:100%;
}
.img_list li img{
	width:100%;
	height:100%;
}
.bg_info{
	width:100%;
	height:2rem;
	background:rgba(0,0,0,.7);
	/* position:absolute;
	top:0;
	left:0; */
	z-index:111;
	position:relative;
}
.text_info{
	position:absolute;
	bottom:.2rem;
	left:.185rem;
}
.icon_text{
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.icon_text dt{
	width:.48rem;
	height:.48rem;
	border-radius:.48rem;
	margin-right:.08rem;
}
.icon_text dt img{
	width:100%;
	height:100%;
}
.icon_text dd{
	color:#fff;
	margin-top:.07rem;
	width:2.9rem;
}
.icon_text dd div.name{
	width:100%;
	height:.22rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.icon_text dd p{
	width:100%;
	height:.22rem;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.name span{
	font-size:.2rem;
}
.name em{
	font-size:.12rem;
	font-style:normal;
}
.btn-w{
	width:45%;
}
.btn-right{
	margin-right:8.5%;
}
.icon_text dd p{
	font-size:.12rem;
	line-height:.25rem;
}
.edit_icon{
	position:absolute;
	right:.2rem;
	bottom:-.235rem;
	width:.47rem;
	height:.47rem;
	background:#ffa776;
	border-radius:.47rem;
	z-index:11111;
}
.edit_icon:before{
	content:"";
	display:block;
	width:.175rem;
	height:.175rem;
	background:url(../images/wei/edit_icon_03.png) no-repeat;
	background-size:100% 100%;
	margin-top:.1475rem;
	margin-left:.1475rem;
}
.info_content{
	width:100%;
	position:relative;
	z-index:100;
}
.z_index{
	z-index:111;
}
.j_info{
	width:100%;
	background:#fff;
	border-top:2px solid #e0e0e0;
	border-bottom:2px solid #e0e0e0;
}
.j_info a{
	color:#666;
	word-wrap:break-word;
}
.info_center{
	width:90%;
	margin:0 auto;
}
.j_item{
	width:100%;
	padding:.19rem 0 .15rem 0;
	border-bottom:1px solid #f5f5f5;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.j_item:last-child{
	border-bottom:none;
}
.j_item p{
	flex:1;
	-webkit-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	font-size:.14rem;
	color:#666;
	word-wrap:break-word;
	line-height:.23rem;
}
.per_icons:before{
	width:.2rem;
	height:.2rem;
	background-image:url(../images/wei/per_03.png);
	margin-left:.1rem;
	margin-top:-.02rem;
}
.buliding_icons:before{
	width:.21rem;
	height:.2rem;
	background-image:url(../images/wei/buliding_03.png);
	margin-left:.1rem;
	margin-top:-.02rem;
}
.mobile_icons:before{
	width:.135rem;
	height:.2rem;
	background-image:url(../images/wei/mobile_07.png);
	margin-left:.1rem;
	margin-top:-.01rem;
}
.www_icons:before{
	width:.195rem;
	height:.195rem;
	background-image:url(../images/wei/www_03.png);
	margin-left:.1rem;
	margin-top:-.01rem;
}
.phone_icons:before{
	width:.195rem;
	height:.19rem;
	background-image:url(../images/wei/phone_i.png);
	margin-left:.1rem;
	margin-top:-.025rem;
}
.email_icons:before{
	width:.19rem;
	height:.125rem;
	background-image:url(../images/wei/email_11.png);
	margin-left:.1rem;
}
.map_icons:before{
	width:.175rem;
	height:.22rem;
	background-image:url(../images/wei/map_info_11.png);
	margin-left:.1rem;
	margin-top:-.02rem;
}
.show_more{
	width:100%;
	height:.45rem;
}
.show_font{
	line-height:.45rem;
}
.show_font:before{
	content:"";
	display:inline-block;
	width:.13rem;
	height:.13rem;
	border-left:1px solid #ffa776;
	border-top:1px solid #ffa776;
	margin-left:.1rem;
	margin-right:.17rem;
	vertical-align:-.065rem;
}
.up_icon:before{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
.down_icon:before{
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	vertical-align:.025rem;
}
.show_font span{
	font-size:.14rem;
	color:#ffa776;
}
.box_bottom{
	margin-top:.135rem;
}
.company_info{
	width:90%;
	margin:0 auto;
	padding:.19rem 0 .15rem 0;
}
.com_tit{
	width:100%;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.buliding_icons:before{
	width:.21rem;
	height:.2rem;
	background-image:url(../images/wei/buliding_03.png);
	margin-left:.1rem;
}
.com_tit h6{
	font-size:.12rem;
	color:#ccc;
	font-weight:400;
	line-height:.23rem;
}
.com_name{
	width:100%;
	margin-top:.15rem;
	margin-left:.1rem;
	position:relative;
}
.com_name h4{
	font-size:.14rem;
	color:#666;
	font-weight:400;
	margin-bottom:.06rem;
}
.com_name h5{
	font-size:.12rem;
	color:#ccc;
	font-weight:400;
}
.details_btn{
	position:absolute;
	top:0;
	right:.2rem;
	width:.34rem;
	height:.23rem;
	background:#232323;
	border-radius:.05rem;
	text-align:center;
	line-height:.22rem;
}
.details_btn span{
	font-size:.09rem;
	color:#fff;
}
.details_btn em{
	position:absolute;
	right:-.07rem;
	top:.03rem;
	width:0;
	height:0;
	border-top:.09rem solid transparent;
	border-left:.08rem solid #232323;
	border-bottom:.09rem solid transparent;
}
.card_icons:before{
	width:.215rem;
	height:.17rem;
	background-image:url(../images/wei/card_icon_03.png);
	margin-left:.1rem;
}
.s_card_img{
	width:1.885rem;
	margin:0 auto;
	margin-top:.19rem;
	padding-bottom:.19rem;
}
.s_card_img img{
	width:100%;
	height:auto;
	border:1px solid #e0e0e0;
}
.border_top{
	border-top:2px solid #e0e0e0;
}


/**  一键导出      **/
.pull_main{
	width:100%;
}
.pull_secuss{
	width:100%;
	height:.385rem;
	background:#fce8dc;
	text-align:center;
	line-height:.385rem;
	display:none;
}
.pull_secuss span{
	color:#ff5b00;
	font-size:.12rem;
}
.pull_center{
	width:76.9%;
	margin:0 auto;
}
.pull_font{
	width:100%;
	font-size:.18rem;
	color:#666;
	line-height:.25rem;
	margin-top:.45rem;
	margin-bottom:.44rem;
}
.pull_text{
	width:100%;
	height:.4rem;
	margin-bottom:.23rem;
	border:1px solid #d9d9d9;
}
.pull_text input{
	width:100%;
	height:.2rem;
	margin-top:.07rem;
	background:none;
	border:none;
	font-size:.16rem;
	color:#ccc;
	text-indent:.1rem;
	outline:none;
}
.pull_btn{
	width:100%;
	height:.4rem;
}
.fu-file{
	width:100%;
	height:.25rem;
	line-height:.25rem;
	margin-top:.06rem;
	text-align:center;
}
.fu-file p{
	color:#4583c6;
	font-size:.15rem;
}
.remember_info_wrap{
	width: 100%;
	margin-bottom: .43rem;
	padding: 0;
	line-height:.21rem;
	text-align:center;
	overflow:hidden;
}
.remember_info_wrap span{
	width:.2rem;
	height:.2rem;
	margin: 0 .1rem 0 0;
	display: inline-block;
	position:relative;
	float:left;
}
.remember_info_wrap span input{
	position:absolute;
	left:0;
	top:0;
	width:.2rem;
	height:.2rem;
	opacity:0;
	z-index:10;
}
.remember_info_wrap span em{
	display:block;
	width:.2rem;
	height:.2rem;
	background:url(../../images/wei/yi-icon-s.png);
	background-size:100% 100%;
}
.remember_info_wrap span input:checked+em{
	background:url(../../images/wei/yi-icon.png);
	background-size:100% 100%;
}
.remember_info_wrap label{
	color:#999;
	font-size:.14rem;
	display: inline-block;
	float:left;
}

/**  二维码弹框样式  **/
.code_null{
	width:100%;
	height:100%;
	background:#000;
	position:fixed;
	top:0;
	left:0;
	opacity:0.7;
	display:none;
	z-index:110;
}
.show_code{
	width:250px;
	height:260px;
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
	z-index:111111;
	background:#fff;
	display:none;
}
.tow_code{
	width:100%;
	height:auto;
}
.code_bg{
	width:96%;
	height:200px;
	padding:4% 10px;
}
.code_bg img{
	width:100%;
	height:100%;
}
.tow_code p{
	line-height:30px;
	text-align:center;
}
.tow_code p span{
	color:#333;
	font-size:14px;
}
.colse_code{
	width:100%;
	height:25px;
	position: absolute;
	left:50%;
	margin-left:-12px;
	bottom:-40px;
}
.colse_code img{
	width:25px;
	height:25px;
	display:block;
}
.big_no_weui{
	display:none;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:111112;
}
.three_btns{
	width:96%;
	margin:0 auto;
	background:#fff;
	border-radius:5px;
}
.hint_border{
	border-bottom:1px solid #eee;
}
.hint_color{
	color:#ffa776!important;
}
.hint_btn{
	text-align:center;
	width:100%;
	height:40px;
	line-height:40px;
	color:#333;
	font-size:14px;
}
.three_bot{
	margin-top:10px;
}
.er_icon{
	position:absolute;
	width:.8rem;
	height:1rem;
	top:1.6rem;
	right:.29rem;
}
.er_icon img{
	width:.8rem;
	height:1rem;
}

/**绑定页**/
.bind-main{
	width:100%;
}
.b-ora-logo{
	width:100%;
	text-align:center;
	padding-top:.2rem;
	padding-bottom:.32rem;
}
.b-ora-logo img{
	width:.42rem;
	height:.53.5rem;
}
.bind-info-main{
	width:76.27%;
	margin:0 auto;
}
.bind-info-main h2{
	font-size:.14rem;
	color:#666;
	font-weight:400;
	line-height:.5rem;
	margin-left:.1rem;
}
.bind-form{
	width:100%;
	padding-bottom:.5rem;
}
.bind-form-item{
	width:100%;
	position:relative;
}
.bind-form-item em{
	position:absolute;
	right:-.15rem;
	top:.2rem;
	font-style:normal;
	color:#f4710d
}
.form-input{
	width:100%;
	height:.44rem;
	border:1px solid #dedede;
	margin-bottom:.3rem;
}
.input-w input{
	width:100%;
	background:none;
	border:none;
	font-size:.14rem;
	color:#666;
	line-height:.14rem;
	margin-top:0.13rem;
	text-indent:.15rem;
}
.bind-error{
	color:#f00;
	font-size:.12rem;
	margin-top:.05rem;
	display:none;
}
.input-re{
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.input-re input{
	height:100%;
	flex:1;
	-webkit-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	display:block;
	background:none;
	border:none;
	font-size:.14rem;
	color:#666;
	text-indent:.15rem;
}
.input-re span{
	display:block;
	width:.71rem;
	font-size:.11rem;
	color:#f4710d;
	line-height:.44rem;
	text-align:center;
}
.input-re b{
	display:block;
	width:.45rem;
	height:100%;
}
.input-re b:before{
	content:"";
	display:block;
	width:.18rem;
	height:.13rem;
	background:url(../../images/wei/show-mi.png) no-repeat;
	background-size:100%;
	margin-left:.1rem;
	margin-top:.17rem;
}
.input-re b.hide-mi:before{
	background:url(../../images/wei/hide-mi.png) no-repeat;
	background-size:100%;
	margin-top:.2rem;
}
.bind-btn-f{
	width:100%;
	height:.4rem;
	border:none;
	background-color:#ffa764;
	color:#fff;
	font-size:.16rem;
	margin-top:.2rem;
	margin-bottom:.15rem;
	border-radius:.04rem;
}
/**账号申请**/
.b-ora-logo h2{
	font-size:.17rem;
	color:#333;
	font-weight:400;
	text-align:center;
}
/**是否加入公司**/
.mian-news{
	width:100%;
}
.news-auto{
	width:77.333%;
	margin:0 auto;
}
.news-auto p.news-p{
	color:#333;
	font-size:.15rem;
	margin:1.7rem 0;
	line-height:.2rem;
}
.news-btn{
	width:100%;
	padding-bottom:.5rem;
}
.news-btn button{
	width:100%;
	height:.39rem;
	border-radius:.5rem;
	color:#fff;
	font-size:.18rem;
	border:none;
	margin-bottom:.25rem;
}
.news-btn button.ora-bg{
	background-color:#ffa764;
}
.news-btn button.ora-cancell-bg{
	background-color:#ccc;
}
.news-dialog{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	display:none;
}
.dialog-box{
	width:77.33%;
	height:2.1rem;
	background-color:#fff;
	border-radius:.05rem;
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}
.dia-text{
	width:100%;
	text-align:center;
	padding-top:.665rem;
	padding-bottom:.65rem;
}
.dia-text h5{
	color:#333;
	font-size:.15rem;
	margin-bottom:.1rem;
	font-weight:400;
}
.dia-text p{
	color:#666;
	font-size:.13rem;
}
.dia-btn{
	height:.4rem;
	border-top:1px solid #dedede;
}
.dia-btn button{
	display:block;
	float:left;
	width:50%;
	height:.4rem;
	font-size:.18rem;
	border:none;
	background:none;
}
.dia-btn button:nth-child(1){
	color:#999;
	border-right:1px solid #dedede;
}
.dia-btn button:nth-child(2){
	color:#ffa764;
}
/**申请结果**/
.sucess-top{
	width:100%;
	height:2.11rem;
	border-bottom:1px solid #dedede;
	text-align:center;
}
.sucess-top img{
	width:.6rem;
	height:.6rem;
	margin-top:.68rem;
}
.sucess-top h5{
	color:#333;
	font-size:.18rem;
	margin-top:.1rem;
	font-weight:400;
	margin-bottom:
}
.er-item{
	width:86.5%;
	margin:0 auto;
	margin-top:.3rem;
	overflow:hidden;
}
.er-item p{
	width:2.33rem;
	color:#555;
	font-size:.14rem;
	float:left;
	line-height:.25rem;
}
.er-item img{
	float:right;
	width:.6rem;
	height:.6rem;
}

.su-btn{
	width:100%;
	padding-top:1.38rem;
	padding-bottom:.6rem;
}
.su-btn button{
	width:100%;
	height:.4rem;
	background-color:#ffa764;
	border:none;
	font-size:.18rem;
	border-radius:.5rem;
	color:#fff;
}

/**批量分享**/
.joy-mian{
	width:100%;
}
.joy-content{
	width:91.867%;
	margin:0 auto;
}
.head-search{
	width:100%;
	height:1.01rem;
}
.sea-i{
	background-color:#1d212c;
	width:91.867%;
	position:fixed;
	left:4.0665%;
	top:0;
	z-index:11;
}
.sea-input{
	width:100%;
	height:.35rem;
	background-color:#fff;
	margin-top:.14rem;
	overflow:hidden;
}
.sea-input input{
	width:85%;
	height:.32rem;
	border:none;
	background:none;
	outline:none;
	text-indent:.15rem;
	font-size:.14rem;
	color:#656565;
	float:left;
}
.sea-input span{
	float:left;
	width:15%;
	height:.35rem;
	text-align:center;
	
}
.sea-input span img{
	width:.16rem;
	height:.16rem;
	margin-top:.08rem;
}
.joy-all{
	width:100%;
	margin-top:.2rem;
	margin-bottom:.18rem;
}
.joy-all label{
	display:inline-block;
	position:relative;
	vertical-align:-.03rem;
}
.joy-all label em{
	display:inline-block;
	width:.16rem;
	height:.16rem;
	background:url(../images/wei/sce.png) no-repeat;
	background-size:100% 100%;
}
.joy-all label input{
	position:absolute;
	width:.16rem;
	height:.16rem;
	opacity:0;
	z-index:10;
}
.joy-all label input:checked+em{
	background:url(../images/wei/s-right.png) no-repeat;
	background-size:100%;
}
.joy-all span{
	color:#fff;
	font-size:.14rem;
	margin-left:.1rem;
}
.joy-card-list{
	width:100%;
}
.joy-card-list{
	width:100%;
}
.list-cadrs{
	width:100%;
	overflow:hidden;
	margin-right:-.05rem;
}
.joy-card-list li{
	width:49.2%;
	height:1.1rem;
	position:relative;
	float:left;
	margin-bottom:.1rem;
}
.joy-card-list li:nth-child(odd){
	margin-right:.05rem;
}
.joy-card-list li img{
	width:100%;
	height:100%;
}
.joy-card-list li label{
	position:absolute;
	right:.06rem;
	bottom:.06rem;
	width:.18rem;
	height:.18rem;
}
.joy-card-list li label input{
	position:absolute;
	z-index:10;
	width:.18rem;
	height:.18rem;
	opacity:0;
}
.joy-card-list li label em{
	display:block;
	width:.18rem;
	height:.18rem;
	background:url(../images/wei/sw.png) no-repeat;
	background-size:100% 100%;
}
.joy-card-list li label input:checked+em{
	background:url(../images/wei/sr.png) no-repeat;
	background-size:100% 100%;
}
.joy-foot{
	width:100%;
	height:.425rem;
}
.joy-foot button{
	width:100%;
	height:.425rem;
	border:none;
	background-color:#ffa765;
	font-size:.16rem;
	color:#fff;
	position:fixed;
	bottom:0;
	left:0;
	z-index:11;
}
/**我的企业**/
.c-main{
	width:100%;
}
.c-content{
	width:77.33%;
	margin:0 auto;
}
.c-qure{
	width:100%;
	text-align:center;
	padding-top:1rem;
}
.c-qure img{
	width:1.5rem;
	height:1.5rem;
}
.c-qure p{
	color:#5d5d5d;
	font-size:.15rem;
	margin-top:.22rem;
	margin-bottom:.59rem;
}
.c-btn{
	width:100%;
	padding-bottom:.5rem;
}
.c-btn button{
	width:100%;
	height:.4rem;
	background-color:#ffa865;
	font-size:.14rem;
	color:#fff;
	border-radius:.2rem;
	border:none;
}
/**历史生成附件**/
.his-main{
	width:100%;
}
.his-content{
	width:93.33%;
	margin:0 auto;
}
.his-text{
	width:100%;
	padding-top:.32rem;
	padding-bottom:.31rem;
}
.his-text p{
	color:#666;
	font-size:.13rem;
	line-height:.18rem;
	text-align:justify;
}
.down-item{
	width:100%;
	margin-bottom:.39rem;
}
.down-t{
	width:100%;
	height:.4rem;
	line-height:.4rem;
}
.down-t span{
	color:#333;
	font-size:.14rem;
	margin-right:.325rem;
}
.down-t span:before{
	content:"";
	display:inline-block;
	width:.18rem;
	height:.18rem;
	background:url(../images/wei/excel3x.png) no-repeat;
	background-size:100% 100%;
	vertical-align:-.03rem;
	margin-right:.1rem;
}
.down-t em{
	color:#4583c6;
	font-size:.13rem;
	font-style:normal;
	/* margin-right:.265rem;
	margin-left:.15rem; */
}
.down-t button{
	color:#4583c6;
	font-size:.13rem;
	font-style:normal;
	margin-right:.2rem;
	background:none;
	border:none;
	outline:none;
}
.down-input{
	width:100%;
	height:.41rem;
	margin-top:.03rem;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.down-input span{
	display:block;
	color:#333;
	font-size:.12rem;
	margin-right:.08rem;
	line-height:.39rem;
}
.down-input .v-input{
	width:2.79rem;
	padding:.1rem 0;
	border:.01rem solid #dedede;
	overflow:hidden;
}
.down-input input{
	width:2.5rem;
	height:.2rem;
	border:none;
	outline:none;
	background:none;
	color:#333;
	font-size:.13rem;
	padding:0 15px;
}
.file-tip{
	width:100%;
	text-align:center;
}
.file-tip p{
	color:#333;
	font-size:.12rem;
	line-height.25rem;
	margin-top:.1rem;
}
.file-tip p:before{
	content:"";
	display:inline-block;
	width:.12rem;
	height:.12rem;
	vertical-align:-.02rem;
	margin-right:.05rem;
}
.file-tip p.suc-p:before{
	background:url(../images/wei/s-small.png) no-repeat;
	background-size:100% 100%;
}
.file-tip p.error-p:before{
	background:url(../images/wei/e-small.png) no-repeat;
	background-size:100% 100%;
}