@CHARSET "UTF-8";
/* global message */
.layer_pageContent{ }
.gTitle_title{ width:auto; min-height:20px; line-height:20px; padding-left:10px; border-bottom:1px solid #d5d5d5; color:#666;}
.poppage_info{ background:#ccc; width:auto; min-height:140px; overflow:hidden;}
.poppage_info p{ font-size:16px; color:#333; font-family:"微软雅黑"; text-align:center; height:auto; line-height:22px; padding:60px 10px 0px;}
.poppage_btn{ width:auto; height:60px; margin:0 auto; background:#ccc; padding-left:65px;}
.poppage_btn span{ display:block; float:left;}
.poppage_btn span input.input_but{ width:140px; height:42px; background-color:#444;border-radius: 2px; border:none; cursor: pointer; font-size:14px; color:#ccc; font-family:""; text-align:center;font-family:"微软雅黑";}
.poppage_btn span input.input_sub{ width:140px; height:42px; background-color:#444;border-radius: 2px; border:none; cursor: pointer; margin-right:20px; font-size:14px; color:#ccc; font-family:"微软雅黑"; text-align:center;}

.gMessageAlert_bgcolor{ background:#ccc;}
.gMessageAlert_title{ width:auto; min-height:31px; line-height:31px; padding-left:10px; border-bottom:1px solid #d5d5d5; color:#666;}
.gMessageAlert_Info{ background:#333; width:auto; min-height:60px;}
.gMessageAlert_Info p{ font-size:20px; color:#fff; font-family:""; text-align:center; height:20px; line-height:20px; margin-top:20px;}
.poppage_success{background:#333; margin: 0 auto; min-height: 60px; overflow: hidden; padding-bottom: 35px; padding-top: 30px;text-align: center;width: auto;}
.poppage_success p{ float:left; margin:70px 0 0 120px;}
.poppage_success span{font-size:20px; color:#fff; font-family:"";}
.poppage_success span img{ width:96px; height:59px; margin-right:20px;vertical-align: middle;}
.poppage_success span i{ font-size:14px; color:#fff; font-family:""; line-height:59px; vertical-align: middle;}

.poppage_failure{background:#333; margin: 0 auto; min-height: 90px; overflow: hidden; padding-bottom: 35px; padding-top: 30px;text-align: center;width: auto;}
.poppage_failure p{ float:left; margin:30px 0 0 55px;}
.poppage_failure span{ font-size:20px; color:#fff; font-family:"";}
.poppage_failure span img{ width:93px; height:94px; margin-right:20px; vertical-align: middle;}
.poppage_failure span i{ color: #fff; font-family: ""; font-size: 14px;line-height: 26px; vertical-align: middle;}

.poppaget_btn span{ display:block; float:left;}
.poppaget_btn span .input_sub_failure{ margin-bottom:10px; width:136px; height:37px; background:#f9701f; border:none; margin-right:8px; font-size:14px; color:#fff; font-family:""; letter-spacing:20px; padding-left:25px; margin-left:85px; -webkit-border-radius:2px 2px; -moz-border-radius:2px 2px; -o-border-radius:2px 2px; -ms-border-radius:2px 2px; border-radius:2px 2px;}
.gMessageClose_bin{ position:absolute; right:20px; top:20px; color:#fff; font-family:""; font-size:20px; cursor: pointer;}

/**
 * warning
 */
.public_pop_c{background:#f2f2f2; width:440px; min-height:150px;height:auto;}
.public_pop_c em{ display:inline-block; width:32px; height:32px; margin-top:39px; margin-right:10px;}
.public_pop_c em.img_em{background-image:url(../images/appadmin_icon_popd.png); background-repeat:no-repeat;}
.public_pop_c em.imgc_em{background-image:url(../images/appadmin_icon_popc.png); background-repeat:no-repeat;}
.public_pop_c em.imgts_em{background-image:url(../images/appadmin_icon_popts.png); background-repeat:no-repeat;}
.public_pop_c span{ overflow:hidden; height:32px; font: 17px/32px "微软雅黑"; color:#333;word-break:break-all;word-wrap:break-word;}
.margin_auto{ min-width:440px; margin:0 auto; overflow:hidden; text-align: center;}
