/* CSS Document */
*{font-family:'Microsoft YaHei','微软雅黑';}
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{font-size:12px;font-family:'Microsoft YaHei','微软雅黑','Tahoma','黑体','宋体';}
body,html{min-width:1200px; height:100%;}
/*html,body{width:100%;}*/
ul,ol{list-style-type:none;}em,i,cite,u{font-style:normal;}
select,input{vertical-align:middle;}
input{outline:medium;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#666666; outline: medium none; font-family:'Microsoft YaHei','微软雅黑';}
a:hover{color:#FF6600;text-decoration: none;}
.font{}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.button_confirm{background: #ff6600 none repeat scroll 0 0;border: medium none;border-radius: 2px;color: #fff;float: left;font: 14px/40px "";margin-right: 8px;text-align: center;width: 140px;}
.button_concel{background: #666 none repeat scroll 0 0;border: medium none;border-radius: 2px;color: #fff;float: left;font: 14px/40px "";margin-right: 8px;text-align: center;width: 140px;}
.cursorpointer,.hand{cursor:pointer;}
.hide{block:none;}

/**
*
* 大框架样式开始
*
**/
.Officialwebsite_all{ max-width:1900px; width:100%; height:auto; overflow:hidden; margin:0 auto;}
.Officialwebsite_header{ width:100%; height:80px; overflow:hidden; background:url(../images/Appadmin_index_rep.png) left bottom repeat-x;}
.Officialwebsite_l{height: 80px; margin: 0 auto;width: 1200px;}
.Officialwebsite_nav{ width:1040px; height:80px; float:left;}
.Officialwebsite_nav span{ display:block; width:41px; height:40px; float:left; margin:18px 28px 0 0;}
.Officialwebsite_nav span img{width:41px; height:40px;}
.Officialwebsite_nav ul{ width:auto; height:61px; float:right; padding-top:5px;}
.Officialwebsite_nav ul li{float:left; list-style:none; font-size:14px; line-height:67px; font-family:'Microsoft YaHei','微软雅黑'; color:#333; margin-right:35px;}
.Officialwebsite_nav ul li a{display:block;float: left !important; font-family:'Microsoft YaHei','微软雅黑'; color:#333; font-size:14px;}
.Officialwebsite_Language{ width:auto; height:20px; float:right; margin-top:28px;}
.Officialwebsite_Language span{display:block; float:left; font-size:14px; line-height:20px; font-family:'Microsoft YaHei','微软雅黑'; color:#333;}
.Officialwebsite_Language span.china_span{ margin-right:8px;}
.Officialwebsite_Language span.gq_span{ margin-right:28px;}
.Officialwebsite_Language span.gq_span img{width:30px; height:20px;}
.Officialwebsite_Language span.name_span{ margin-top:2px;}
.Officialwebsite_Language span.name_span img{width:14px; height:16px;}
.Officialwebsite_Language span i,.Officialwebsite_Language span em{ margin:0 4px 0 4px;}
.Officialwebsite_c{ max-width:1900px; width:100%; height:1240px;}
.content_middle_c{max-width:1900px; width:100%; height:1200px; overflow:hidden; position:relative;}
.content_middle_c ul{left:0px; top:0px; width:99999999px; height:1200px;}
.content_middle_c ul li{float:left;max-width:1900px; width:100%; height:1200px; overflow:hidden;}
.content_middle_c ul li.first_li{background-image:url(../images/content_bg_img1.jpg); background-repeat:no-repeat; background-position:center center; -moz-background-size:100% 100%; background-size:100% 100%;}
.content_middle_c ul li.secent_li{ background:#fff;}
.content_middle_c ul li.three_li{background-image:url(../images/content_bg_img3.jpg); background-repeat:no-repeat; background-position:center center; -moz-background-size:100% 100%; background-size:100% 100%;}
.first_li_content{ width:1200px; height:1200px; margin:0 auto;}
.first_li_content span{ display:block;}
.first_li_content span.logo{ width:314px; height:305px; margin:94px auto 0 490px;}
.first_li_content span.logo img{width:314px; height:305px;}
.first_li_content span.Imora{ width:834px; height:201px; margin:70px auto 0 230px; letter-spacing:30px; color:#231816; font: 166px/166px 'Microsoft YaHei',"微软雅黑";}
.first_li_content span.Imora img{width:829px; height:171px;}
.first_li_content span.video{ width:450px; height:161px; margin:0px auto 0 420px; color:#333; font: 32px/32px 'Microsoft YaHei',"微软雅黑";}
.secent_li_content{ width:1200px; height:1200px; margin:0 auto; margin-top:80px; position:relative;}
.secent_li_content span{display:block; }
.secent_li_content span.zhanshi{width:1200px; height:1004px; position:absolute; left:0px; top:0px;}
.secent_li_content span.zhanshi img{width:1200px; height:1004px;}
.secent_li_content span.zhanshi_c{ width:290px; height:auto; overflow:hidden; position:absolute; left:0px; top:32.8%; z-index:222; color:#333; font: 48px/65px 'Microsoft YaHei',"微软雅黑";}
.three_li_content{ width:1200px; height:1200px; margin:0 auto; margin-top:80px; position:relative;}
.three_li_content span.hudong{width:1200px; height:1007px; margin:0 auto; position:absolute; left:0px; top:0px;}
.three_li_content span.hudong img{width:1200px; height:1007px;}
.three_li_content span.hudong_c{width:455px;height:auto; overflow:hidden; position:absolute; right:0px; bottom:22.082%; z-index:222;}
.three_li_content span.hudong_c i,.three_li_content span.hudong_c em{display:block;}
.three_li_content span.hudong_c i{color:#333; font: 54px/54px 'Microsoft YaHei',"微软雅黑";}
.three_li_content span.hudong_c em{margin-top:22px;color:#333; font: 30px/30px 'Microsoft YaHei',"微软雅黑";}
.Officialwebsite_bin{ width:70px; height:25px; margin:0 auto;}
.Officialwebsite_bin span{cursor:pointer; float:left; margin-right:10px; display:block; width:10px; height:10px; background:url(../images/appadmin_icon_bin.png) no-repeat; }
.Officialwebsite_bin span.active{cursor:pointer; float:left; margin-right:10px; display:block; width:10px; height:10px; background:url(../images/appadmin_icon_active.png) no-repeat;}
.footer{ width:100%; overflow:hidden; background:#f2f2f2;}
.footer_top{width:100%; height:286px;max-width:1900px;background-color:#fff;}
.footer_left{ text-align:center;width:33%; height:272px; float:left;}
.footer_left img,.footer_middle img,.footer_right img{ display:none; width:415px; height:272px; margin:0 auto; }
.footer_middle{text-align:center;width:34%; height:272px; float:left;}
.footer_right{text-align:center;width:33%; height:272px; float:left;}
.footer_bot{ width:100%; height:84px; text-align: center;}
.footer_bot img{width:533px; height:56px; margin-top:14px;}


.Officialwebsite_content_c{max-width:1900px; width:100%; height:1332px; background-image:url(../images/Application_gxhbg.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%;}
.Officialwebsite_APP_title{ width:398px; height:103px; margin:0 auto; margin-top:105px;}
.Officialwebsite_APP_title i,.Officialwebsite_APP_title em{display:block;}
.Officialwebsite_APP_title i{ color:#333; font: 48px/48px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.Officialwebsite_APP_title em{color:#333; font: 18px/18px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:36px;}
.Officialwebsite_APP_c{ width:721px; height:1029px; margin:0 auto; margin-top:107px; position:relative;}
.Officialwebsite_APP_c i{width:721px; height:1029px;}
.Officialwebsite_APP_c img{width:721px; height:1029px;}
.Officialwebsite_APP_c .mask{ width:716px; height:1022px; overflow:hidden;position:absolute;left:0px; top:0px; z-index:24;} 
.Officialwebsite_APP_c em{ position:absolute; left:5px; top:237px; z-index:23;}

.Officialwebsite_APP_media{max-width:1900px; width:100%; height:1193px; margin-top: 257px;}
.Officialwebsite_media_title{ width:487px; height:105px; margin:0 auto;}
.Officialwebsite_media_title i,.Officialwebsite_media_title em{display:block;}
.Officialwebsite_media_title i{ color:#333; font: 48px/48px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.Officialwebsite_media_title em{color:#333; font: 18px/18px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:38px;}
.Officialwebsite_media_c{overflow:hidden; width:993px; height:928px; margin:0 auto; margin-top:160px; position:relative;}
.Officialwebsite_media_c i{ width:993px; height:928px; position:absolute; left:0px; top:0px; z-index:24;}
.Officialwebsite_media_c i img{width:993px; height:928px;}
.Officialwebsite_media_c em{position:absolute; right:485px; left:-9px;top:14px; z-index:23;}
.Officialwebsite_media_c em video{ height: 705px; width: 518px;}

.Officialwebsite_APP_exchange{max-width:1900px; width:100%; height:1804px;  background-image:url(../images/Application_exchangebg.jpg); background-repeat:no-repeat; background-position:center center; background-size:100% 100%; margin-top: 11px;}
.Officialwebsite_exchange_title{ width:308px; height:108px; margin:0 auto; padding-top:290px;}
.Officialwebsite_exchange_title i,.Officialwebsite_exchange_title em{display:block;}
.Officialwebsite_exchange_title i{ color:#333; font: 48px/48px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.Officialwebsite_exchange_title em{color:#333; font: 18px/18px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:38px;}
.Officialwebsite_exchange_c{ width:1038px; height:1126px; margin-top:123px; float:right; margin-right:16.8%;}
.Officialwebsite_exchange_c img{width:1038px; height:1126px;}

/*杨勇写的，可以适配无动画APP切换
.Officialwebsite_APP_intelligent{max-width:1900px; width:100%; height:1291px; margin-top: 110px;}
.Officialwebsite_intelligent_title{ width:390px; height:107px; margin:0 auto;}
.Officialwebsite_intelligent_title img{ width:390px; height:107px;}
.Officialwebsite_qiehuan{ width:1720px; height:auto; overflow-x:hidden; margin:0 auto; margin-top:85px;}
.Officialwebsite_qiehuan ul{ margin:0 auto; padding:0px; height:775px; width:1720px;}
.Officialwebsite_qiehuan ul li{ width:332px; height:556px; float:left; position:relative;}
.Officialwebsite_qiehuan ul li i{width:332px; height:556px; position:absolute; top:70px; left:0px; z-index:2;  background:url(../images/Application_showdow.png) 0 0px no-repeat;}
.Officialwebsite_qiehuan ul li i img{width:280px; height:499px; margin:29px 0 0 25px; opacity:0.6;}
.Officialwebsite_qiehuan ul li em{display:none;width:375px; height:775px; position:absolute; top:0px; left:0px;z-index:1;}
.Officialwebsite_qiehuan ul li.video_play{width:375px; height:775px;}
.Officialwebsite_qiehuan ul li.video_play i{width:341px; height:607px; top:75px; left:17px;}
.Officialwebsite_qiehuan ul li.video_play i img{width:341px; height:607px; margin-top:0px;  margin-left:0px; opacity:1;}
.Officialwebsite_qiehuan ul li.video_play em{display:block;}

.Officialwebsite_btn ol{ width:140px; height:10px; margin:0 auto; margin-top:86px; padding:0px;}
.Officialwebsite_btn ol li{width:10px; height:10px; background:#ccc; margin-right:18px; float:left; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}
.Officialwebsite_btn ol li.active{ width:10px; height:10px; background:#c0816f; margin-right:18px; float:left; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}*/

.Officialwebsite_APP_intelligent{max-width:1900px; width:100%; height:1291px; margin-top: 110px; overflow:hidden;}
.Officialwebsite_intelligent_title{ width:390px; height:107px; margin:0 auto 100px auto;}
.Officialwebsite_intelligent_title i,.Officialwebsite_intelligent_title em{display:block;}
.Officialwebsite_intelligent_title i{ color:#333; font: 48px/48px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.Officialwebsite_intelligent_title em{color:#333; font: 18px/18px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:38px;}
.Officialwebsite_qiehuan{ width:1720px; height:auto; overflow-x:hidden; margin:0 auto; }
.Officialwebsite_qiehuan ul{ margin:0 auto; padding-top:100px; height:775px;}

.Officialwebsite_qiehuan ul li{ width:342px; height:556px; float:left; position:relative;
	/*-ms-transform:scale(0.9);*/
	-webkit-transform:scale(0.9, 0.9);
	-moz-transform:scale(0.9, 0.9);
	-o-transform:scale(0.9, 0.9);
	transform:scale(0.9, 0.9);
}
.Officialwebsite_qiehuan ul li i{width:326px; height:556px; position:absolute; top:44px; left:2px; z-index:2;}
.Officialwebsite_qiehuan ul li i img{width:296px; height:528px; margin:26px 0 0 16px; opacity:0.3;filter:alpha(opacity=30);box-shadow:0px 0px 15px black;}
.Officialwebsite_qiehuan ul li i img.moreShadow{opacity:0.6;box-shadow:0px 0px 20px black;}
.Officialwebsite_qiehuan ul li i video.moreShadow{opacity:0.6;box-shadow:0px 0px 20px black;}
.Officialwebsite_qiehuan ul li i video{width:296px; height:528px; margin:26px 0 0 16px; opacity:0.6;box-shadow:0px 0px 10px black;}
.Officialwebsite_qiehuan ul li em{display:block;height:682px;opacity:0;filter:alpha(opacity=0);position:absolute; top:0px; left:0px;z-index:1;}
.Officialwebsite_qiehuan ul li.video_play{z-index:999;
	/*-ms-transform:scale(1.1);*/
	-moz-animation:myfirst 1s; 
	-moz-animation-fill-mode:forwards;
	-ms-animation:myfirst 1s; 
	-ms-animation-fill-mode:forwards;
	-webkit-animation:myfirst 1s; 
	-webkit-animation-fill-mode:forwards;
	-o-animation:myfirst 1s; 
	-o-animation-fill-mode:forwards;
	animation:myfirst 1s; 
	animation-fill-mode:forwards;
}
.Officialwebsite_qiehuan ul li.video_play i{background:none;}
.Officialwebsite_qiehuan ul li.video_play i img{opacity:1;box-shadow:none;}
.Officialwebsite_qiehuan ul li.video_play i video{opacity:1;box-shadow:none;}
.Officialwebsite_qiehuan ul li.video_play em{opacity:1;}

@keyframes myfirst{
	0%   {}
	100% {transform:scale(1.1, 1.1)}
}

@-ms-keyframes myfirst{
	0%   {}
	100% {-ms-transform:scale(1.1, 1.1)}
}

@-webkit-keyframes myfirst{
	0%   {}
	100% {-webkit-transform:scale(1.1, 1.1)}
}

@-moz-keyframes myfirst{
	0%   {}
	100% {-moz-transform:scale(1.1, 1.1)}
}

@-o-keyframes myfirst{
	0%   {}
	100% {-o-transform:scale(1.1, 1.1)}
}

.Officialwebsite_btn ol{ width:140px; height:10px; margin:0 auto; margin-top:6px; padding:0px;}
.Officialwebsite_btn ol li{cursor:pointer; width:10px; height:10px; background:url(../images/app_icon_bin.png) no-repeat; margin-right:18px; float:left;}
.Officialwebsite_btn ol li.active{cursor:pointer; width:10px; height:10px; background:url(../images/app_icon_active.png) no-repeat; margin-right:18px; float:left;}




.Officialwebsite_APP_Setup{ max-width:1900px; width:100%; height:1650px;}
.Officialwebsite_Setup_title{ width:324px; height:107px; float: right; margin-right:14.5%;}
.Officialwebsite_Setup_title i,.Officialwebsite_Setup_title em{display:block;}
.Officialwebsite_Setup_title i{ color:#333; font: 48px/48px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.Officialwebsite_Setup_title em{color:#333; font: 18px/18px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:38px;}
.Officialwebsite_Setup_c{ max-width:1900px; width:100%; height:1650px;}
.Officialwebsite_Setup_c img{width:1900px; height:1546px;}

.Officialwebsite_APP_temperature{ max-width:1900px; width:100%; height:1366px; margin-top:300px;}
.Officialwebsite_temperature_title{ width:445px; height:103px; margin:0 auto;}
.Officialwebsite_temperature_title i,.Officialwebsite_temperature_title em{display:block;}
.Officialwebsite_temperature_title i{ color:#333; font: 48px/48px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.Officialwebsite_temperature_title em{color:#333; font: 18px/18px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:38px;}
.Officialwebsite_temperature_c{ width:1090px; height:947px; margin:0 auto; margin-top:120px;}
.Officialwebsite_temperature_c img{width:1090px; height:947px;}

.Officialwebsite_APP_footer{ max-width:1900px; width:100%; height:auto; border-top:1px solid #ddd;}
.search_footer{ width:710px; height:52px; margin:0 auto; margin-top:93px;}
.search_footer span{ display:block; float:left;}
.search_footer span.name{ width:138px; height:52px; float:left; color:#999; font: 20px/52px 'Microsoft YaHei',"微软雅黑"; margin-right:20px;}
.search_footer span.right_input{ float:left;}
.search_footer span.right_input input{display:block; float:left;}
.search_footer span.right_input input.text_input{ background:#fff; width:428px; height:49px; border:none; border-bottom:1px solid #999;}
.search_footer span.right_input input.button_input{cursor:pointer; width:120px; height:52px; background:#999; color:#333; font: 16px/52px "微软雅黑"; text-align:center; border:none;}
.Officialwebsite_APP_beian{ width:310px; height:67px; margin:0 auto; margin-top:123px;}
.Officialwebsite_APP_beian p{ color:#666; font: 12px/12px 'Microsoft YaHei',"微软雅黑"; margin-top:11px;}
.Officialwebsite_beian{ width:310px; height:67px; margin:0 auto;}
.Officialwebsite_beian p{ color:#666; font: 12px/67px 'Microsoft YaHei',"微软雅黑"; margin-top:11px;}
/**
*
* 商城首页样式
*
**/

.mallindex_content_c{max-width:1900px; width:100%; height:auto; overflow:hidden;}
.Officialwebsite_Language span.mall_span{margin-top: -9px; margin-right:20px; width:139px; height:38px; border:1px solid #eee; background:#f6f6f6;}
.Officialwebsite_Language span.mall_span img{float:left; width:23px; height:24px; margin:7px 0 0 18px;}
.Officialwebsite_Language span.mall_span i{ float:left; color:#666; font: 14px/38px 'Microsoft YaHei',"微软雅黑";}
.mallindex_banner{ width:1200px; height:1224px; margin:0 auto;}
.mallindex_banner_title{ width:1200px; height:217px; text-align:center;}
.mallindex_banner_title h2{ color:#333; font: 84px/84px 'Microsoft YaHei',"微软雅黑"; padding-top:69px;}
.mallindex_banner_title span{display:block; width:118px; height:34px; border:1px solid #d9d9d9; margin: 0 auto; color:#666; font: 12px/34px 'Microsoft YaHei',"微软雅黑";}
.mallindex_banner_img{ width:1200px; height:811px;}
.mallindex_banner_img img{ width:1200px; height:811px;}
.mallindex_banner_text{ width:870px; height:auto; overflow:hidden; margin:0 auto;}
.mallindex_banner_text span{display:block; height:36px;}
.mallindex_banner_text span.banner_text_t{ color:#333; font: 30px/30px 'Microsoft YaHei',"微软雅黑";}
.mallindex_banner_text span.textspan_gm{ width:245px; margin:0 auto; margin-top:30px;}
.mallindex_banner_text span.textspan_gm i{ margin-right:20px; display:block; float:left; color:#e7b9a9; font: 24px/36px 'Microsoft YaHei',"微软雅黑";}
.mallindex_banner_text span.textspan_gm em{cursor:pointer; display:block; float:left; width:88px; height:36px; background:#e7b9a9; color:#fff; font: 14px/36px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.mallindex_bottom_c{ max-width:1900px; width:100%; height:1069px; overflow:hidden;  border-top:1px solid #eee;}
.mallindex_bottom_cleft{ width:50%; height:1069px; overflow:hidden; border-right:1px solid #eee; float:left;}
.left_cont{ width:465px; height:1069px; float:right; margin-right:100px;}
.left_cont_title{ width:465px; height:100px; margin-top:95px;}
.left_cont_title h2{ color:#333; font: 36px/36px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.left_cont_title span{cursor:pointer; display:block; width:118px; height:34px; margin:0 auto;  margin-top:20px; border:1px solid #dbdbdb; color:#333; font: 14px/34px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.left_cont_img{ width:465px; height:214px; margin-top:216px;}
.left_cont_img img{width:465px; height:214px;}
.left_cont_content{ width:465px; height:135px; margin-top:210px;}
.left_cont_content span{ display:block;}
.left_cont_content span.cont_text{ color:#333; font: 26px/26px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.left_cont_content span.textspan_rmb{ color:#e7b9a9; font: 20px/20px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:18px;}
.left_cont_content span.textspan_gmbox{cursor:pointer; width:88px; height:36px; margin:0 auto;  margin-top:29px; background:#e7b9a9; color:#fff; font: 14px/36px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.mallindex_bottom_cright{ width:49.9%; height:1069px; overflow:hidden; float:left;}
.right_cont{ width:488px; height:1069px; float:left; margin-left:130px;}
.right_cont_img{ width:488px; height:510px; margin-top:70px;}
.right_cont_img img{width:488px; height:510px;}
.right_cont_content{ width:465px; height:135px; margin-top:60px;}
.right_cont_content span{ display:block;}
.right_cont_content span.cont_text{ color:#333; font: 26px/26px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.right_cont_content span.textspan_rmb{ color:#e7b9a9; font: 20px/20px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:18px;}
.right_cont_content span.textspan_gmbox{cursor:pointer; width:88px; height:36px; margin:0 auto;  margin-top:29px; background:#e7b9a9; color:#fff; font: 14px/36px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.mallindex_footer{ width:100%; height:83px; background:#f4f4f4;}
.mallindex_footer p{ width:550px; height:83px; margin:0 auto; color:#666; font: 14px/83px 'Microsoft YaHei',"微软雅黑";}

/**
*
* 商城详情页面样式
*
**/
.mallindex_detail{ width:1200px; height:auto; overflow:hidden; margin:0 auto; margin-top:82px;}
.detail_leftimg{ width:548px; height:308px; float:left; margin-top:33px; margin-right:80px; position:relative;}
.detail_copper{ width:548px; height:264px; background:url(../images/copper.png) no-repeat; position:absolute; left:0px; top:0px;}
.detail_black{ width:548px; height:264px; background:url(../images/black.png) no-repeat; position:absolute; left:0px; top:0px;}
.detail_white{ width:548px; height:264px; background:url(../images/white.png) no-repeat; position:absolute; left:0px; top:0px;}
.detail_gold{ width:548px; height:264px; background:url(../images/gold.png) no-repeat; position:absolute; left:0px; top:0px;}
.detail_leftimg .video_player{ height: 122px; margin: 1px 0 0 16px; width: 517px;}
.detail_leftimg i{ display:block; width:548px; height:264px;}
.detail_leftimg i img{ width:548px; height:264px;}
.detail_leftimg em{cursor:pointer; display:block; color:#999; font: 12px/12px 'Microsoft YaHei',"微软雅黑"; text-align:center; margin-top:166px;}
.detail_rightcont{ width:564px; height:auto; overflow:hidden; float:left;}
.detail_name{ width:570px; height: auto; overflow: hidden; color:#333; font: 20px/20px 'Microsoft YaHei',"微软雅黑";}
.detail_name span{ margin-left:20px;}
.detail_xz{ width:570px; height:114px; margin-top:18px;}
.detail_xzfirst{cursor:pointer; width:260px; height:48px; float:left; border:1px solid #eee; margin-left:20px; margin-bottom:14px;}
.detail_xzfirst i{ display:block; float:left; margin:16px 4px 0 102px; width:18px; height:18px; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}
.detail_xzfirst i.m{background:#f0cdc2;}
.detail_xzfirst i.x{background:#e7ddcf;}
.detail_xzfirst i.y{background:#ededed;}
.detail_xzfirst i.h{background:#4f4f4f;}
.detail_xzfirst.active{cursor:pointer; border:1px solid #e7b9a9;}
.detail_xzfirst em{ color:#000; font: 14px/48px 'Microsoft YaHei',"微软雅黑";}
.detail_rmb{ width:570px; height:20px; color:#e7b9a9; font: 20px/20px 'Microsoft YaHei',"微软雅黑"; margin-left:20px; margin-top:47px;}
.detail_gm{cursor:pointer; width:185px; height:50px; margin:19px 0 0 20px; background:#e7b9a9; color:#fff; font: 18px/50px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.detail_content_c{ width:1200px; height:auto; overflow:hidden; margin:0 auto; border-top:1px solid #eee; margin-top:78px;}
.content_c_img{ width:399px; height:354px; border-right:1px solid #eee; float:left;}
.content_c_img img{ margin:91px 0 0 17px;}
.content_t_img{ width:399px; height:354px; border-right:1px solid #eee; float:left;}
.content_t_img img{ margin:80px 0 0 166px;}
.content_r_img{ width:399px; height:354px; float:left;}
.content_r_img img{ margin:57px 0 0 91px;}
.detail_video{ width:1200px; heiht:677px; margin:0 auto; margin-bottom:60px;}

/**
*
* 购物车页面样式
*
**/
.shoppingcart_title{ width:1200px; height:30px; margin:0 auto; margin-top:40px;}
.shoppingcart_title span{ display:block; float:left;}
.shoppingcart_title span.namespan{color:#e7b9a9; font: 30px/30px 'Microsoft YaHei',"微软雅黑"; margin-right:19px;}
.shoppingcart_title span.tsspan{color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-top:16px;}
.shoppingcart_name{ width:1200px; height:42px; margin:0 auto; margin-top:29px; padding:0px; border-bottom:1px solid #eee;}
.shoppingcart_name span{ display:block; float:left; color:#000; font: 14px/42px 'Microsoft YaHei',"微软雅黑";}
.shoppingcart_name span.commodity{ width:402px; height:42px; padding-left:53px;}
.shoppingcart_name span.number{ width:230px; height:42px; padding-left:21px;}
.shoppingcart_name span.money{ width:200px; height:42px; padding-left:29px;}
.shoppingcart_name span.Subtotal{ width:243px; height:42px; padding-left:21px;}
.shoppingcart_l{ width:1200px; height:auto; overflow:hidden; margin:0 auto; border-bottom:1px solid #eee;}
.shoppingcart_list_c{ width:1200px; height:94px; overflow:hidden; display: none;}
.shoppingcart_list_c span{ display:block; float:left;}
.shoppingcart_list_c span.input_check{ margin:40px 38px 0 0; width:14px; height:14px;}
.shoppingcart_list_c span.input_check input{cursor:pointer; width:14px; height:14px; margin:0px; padding:0px;}
.shoppingcart_list_c span.commodity_img{ width:95px; height:61px; margin:17px 41px 0 0; text-align: center;}
.shoppingcart_list_c span.commodity_img img{height:61px;}
.shoppingcart_list_c span.cart_ms{ width:240px; height:94px; overflow:hidden; margin:25px 26px 0 0;}
.shoppingcart_list_c span.cart_ms i,.shoppingcart_list_c span.cart_ms em{ display:block;}
.shoppingcart_list_c span.cart_ms i{color:#000; height:14px; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; overflow:hidden;}
.shoppingcart_list_c span.cart_ms em{margin-top:11px;color:#999; height:12px; font: 12px/12px 'Microsoft YaHei',"微软雅黑"; overflow:hidden;}
.shoppingcart_list_c span.span_money{ width:145px; height:94px; overflow:hidden; color:#e7b9a9; font: 14px/94px 'Microsoft YaHei',"微软雅黑"; margin-right:106px;}
.shoppingcart_list_c span.span_jis{ width:86px; height:28px; border:1px solid #eee; margin:33px 145px 0 0;}
.shoppingcart_list_c span.span_jis i,.shoppingcart_list_c span.span_jis b,.shoppingcart_list_c span.span_jis em{ display:block; float:left;}
.shoppingcart_list_c span.span_jis i{cursor:pointer; width:28px; height:28px; border-right:1px solid #eee;}
.shoppingcart_list_c span.span_jis i img{ width:11px; height:11px; margin:8px 0 0 8px;}
.shoppingcart_list_c span.span_jis b{ width:28px; height:28px; border-right:1px solid #eee; color:#000; font: 14px/28px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.shoppingcart_list_c span.span_jis em{cursor:pointer; width:28px; height:28px;}
.shoppingcart_list_c span.span_jis em img{ width:11px; height:11px; margin:8px 0 0 8px;}
.shoppingcart_list_c span.span_ljz{ width:145px; height:94px; overflow:hidden; color:#e7b9a9; font: 14px/94px 'Microsoft YaHei',"微软雅黑"; margin-right:50px;}
.shoppingcart_list_c span.span_del{cursor:pointer; float:right; width:58px; height:28px; border:1px solid #eee; margin-top:33px; color:#000; font: 14px/28px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.shoppingcart_jiesuan{ width:1200px; height:140px; overflow:hidden; margin:0 auto;}
.shoppingcart_checkbox{ width:60px; height:14px; float:left; margin-top:20px;}
.shoppingcart_checkbox input{cursor:pointer; width:14px; height:14px; margin:0px; margin-top:2px; margin-right:10px; padding:0px; float:left;}
.shoppingcart_checkbox i{ display:block; float:left; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; color:#666;}
.shoppingcart_right{ width:auto; height:auto; overflow:hidden; float:right; margin-top:20px;}
.shoppingcart_right p{ font: 14px/18px 'Microsoft YaHei',"微软雅黑"; color:#666; height:18px;}
.shoppingcart_right i{ display:block; float:left; margin-right:30px; margin-top:2px;}
.shoppingcart_right span{ float:left;}
.shoppingcart_right span em{color:#e7b9a9; font: 18px/18px 'Microsoft YaHei',"微软雅黑";}
.js_bin{ width:235px; height:42px; float:right; margin-top:19px;}
.js_bin span{ display:block; float:left; width:112px; height:42px;}
.js_bin span.span_bin1{ width:110px; height:40px; margin-right:10px; border:1px solid #e7b9a9; color:#666; font: 14px/40px "微软雅黑"; text-align:center;}
.js_bin span.span_bin2{ background:#e7b9a9;color:#fff; font: 14px/40px 'Microsoft YaHei',"微软雅黑"; text-align:center;}
.shoppingcart_bottom{ width:1200px; height:153px; margin:0 auto;}
.shoppingcart_bottom span,.shoppingcart_bottom i{ display:block; font: 14px/14px 'Microsoft YaHei',"微软雅黑";}
.shoppingcart_bottom i{color:#999; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-top:6px;}

/**
*
* 提交订单页面样式
*
**/
.submitorder_title{ width:1200px; height:16px; color:#333; font: 16px/16px 'Microsoft YaHei',"微软雅黑"; margin:0 auto; margin-bottom:19px; margin-top:37px;}
.submitorder_theway{ width:1198px; height:430px; margin:0 auto; border:1px solid #eee;}
.theway_title{ width:1178px; height:59px; background:#eee; padding-left:20px; color:#333; font: 14px/59px 'Microsoft YaHei',"微软雅黑";}
.theway_c{ width:1198px; height:371px; margin:0px; padding:0px;}
.theway_c_left{ width:599px; height:298px; float:left; border-right:1px solid #eee; margin-top:38px;}
.theway_tishi{ margin-left:129px; width:323px; height:40px;}
.theway_tishi span{display:block; color:#333; font: 16px/16px 'Microsoft YaHei',"微软雅黑";}
.theway_tishi p{ color:#999; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-top:10px;}
.theway_login_ora{ margin-left:129px; width:323px; height:175px;}
.theway_login_ora span{ display:block;}
.theway_login_ora span input{ width:310px; height:42px; border:1px solid #eee; margin-top:19px; padding-left:8px; color:#999; font: 14px/42px 'Microsoft YaHei',"微软雅黑";}
.theway_login_ora span input.text_input{ width:310px; height:14px; border:1px solid #eee; margin-top:19px; color:#999; font: 14px/42px 'Microsoft YaHei',"微软雅黑"; line-height: 14px; padding: 14px 0 14px 8px;}
.theway_login_ora span input.button_input{ width:320px; height:44px; border:none; background:#e7b9a9; color:#fff; text-align:center; font: 14px/44px 'Microsoft YaHei',"微软雅黑";}
.theway_c_right{ width:598px; height:298px; float:left; margin-top:38px;}
.theway_login_noora{ margin-left:129px; width:323px; height:175px;}
.theway_login_noora span{ display:block;}
.theway_login_noora span input{ width:310px; height:42px; border:1px solid #eee; margin-top:19px; padding-left:8px; color:#999; font: 14px/42px 'Microsoft YaHei',"微软雅黑";}
.theway_login_noora span input.text_input{width:310px; height:14px; border:1px solid #eee; margin-top:19px; color:#999; font: 14px/42px 'Microsoft YaHei',"微软雅黑"; line-height: 14px; padding: 14px 0 14px 8px;}
.theway_login_noora span input.button_input{ width:320px; height:44px; border:none; background:#e7b9a9; color:#fff; text-align:center; font: 14px/44px 'Microsoft YaHei',"微软雅黑";}
.theway_login_noora i{ display:block; width:323px; height:auto; overflow:hidden; color:#999; font: 12px/20px 'Microsoft YaHei',"微软雅黑"; margin-top:6px;}
.submitorder_information{ width:1198px; height:380px; margin:0 auto; margin-top:20px; border:1px solid #eee;}
.information_c{ width:1198px; height:320px; margin:0px; padding:0px;}
.information_c_left{ width:750px; height:282px; float:left; margin-top:38px;}
.c_left_top{ width:750px; height:68px;}
.information_shr{ margin-left:50px; width:120px; height:68px; float:left;}
.information_shr span{ display:block; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-bottom:10px;}
.information_shr input{ width:118px; height:42px; border:1px solid #eee;}
.information_phone{ margin-left:10px; width:320px; height:68px; float:left;}
.information_phone span{ display:block; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-bottom:10px;}
.information_phone input{ width:318px; height:42px; border:1px solid #eee;}
.information_ZipCode{margin-left:10px; width:120px; height:68px; float:left;}
.information_ZipCode span{ display:block; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-bottom:10px;}
.information_ZipCode input{ width:118px; height:42px; border:1px solid #eee;}
.c_left_middle{ width:750px; height:68px; margin-top:20px;}
.information_biaot{ width:700px; height:14px; margin-left:50px; margin-bottom:10px;}
.information_biaot span{ display:block; float:left; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑";}
.information_biaot span.gj{ margin-right:63px;}
.information_biaot span.s{ margin-right:117px;}
.information_biaot span.city{ margin-right:101px;}
.information_biaot span.sq{ margin-right:89px;}
.information_biaot span.jd{ margin-right:0px;}
.information_select{ width:700px; height:44px; margin-left:50px;}
.information_select ul li:hover{background: #eee;}
.gj_select{ width:180px; height:44px; position:relative; float:left; margin-right:10px;}
.gj_select input{ width:170px; height:42px; border:1px solid #eee; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.gj_select i{cursor:pointer; width:12px; height:7px; display:block; position:absolute; right:8px; top:20px;}
.gj_select ul{ display:none; position:absolute; left:0px; top:44px; background:#fff; border:1px solid #eee; width:179px; height:103px; overflow:hidden;}
.gj_select ul li{ list-style:none; border-bottom:1px solid #eee; height:25px; width:171px; color:#666; font: 14px/25px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.city_select{ width:120px; height:44px; position:relative; float:left; margin-right:10px;}
.city_select input{ width:110px; height:42px; border:1px solid #eee; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.city_select i{cursor:pointer; width:12px; height:7px; display:block; position:absolute; right:8px; top:20px;}
.city_select ul{ display:none; position:absolute; left:0px; top:44px; background:#fff; border:1px solid #eee; width:119px; height:103px; overflow:hidden;}
.city_select ul li{ list-style:none; border-bottom:1px solid #eee; height:25px; width:110px; color:#666; font: 14px/25px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.qx_select{ width:120px; height:44px; position:relative; float:left; margin-right:10px;}
.qx_select input{ width:110px; height:42px; border:1px solid #eee; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.qx_select i{cursor:pointer; width:12px; height:7px; display:block; position:absolute; right:8px; top:20px;}
.qx_select ul{ display:none; position:absolute; left:0px; top:44px; background:#fff; border:1px solid #eee; width:119px; height:103px; overflow:hidden;}
.qx_select ul li{ list-style:none; border-bottom:1px solid #eee; height:25px; width:110px; color:#666; font: 14px/25px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.jd_select{ width:120px; height:44px; position:relative; float:left; margin-right:10px;}
.jd_select input{ width:110px; height:42px; border:1px solid #eee; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.jd_select i{cursor:pointer; width:12px; height:7px; display:block; position:absolute; right:8px; top:20px;}
.jd_select ul{ display:none; position:absolute; left:0px; top:44px; background:#fff; border:1px solid #eee; width:119px; height:103px; overflow:hidden;}
.jd_select ul li{ list-style:none; border-bottom:1px solid #eee; height:25px; width:110px; color:#666; font: 14px/25px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.xd_select{ width:120px; height:44px; position:relative; float:left;}
.xd_select input{ width:110px; height:42px; border:1px solid #eee; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.xd_select i{cursor:pointer; width:12px; height:7px; display:block; position:absolute; right:8px; top:20px;}
.xd_select ul{ display:none; position:absolute; left:0px; top:44px; background:#fff; border:1px solid #eee; width:119px; height:103px; overflow:hidden;}
.xd_select ul li{ list-style:none; border-bottom:1px solid #eee; height:25px; width:110px; color:#666; font: 14px/25px 'Microsoft YaHei',"微软雅黑"; padding-left:8px;}
.c_left_bottom{ width:750px; height:68px; margin-top:20px;}
.c_left_bottom span{ display:block; margin-left:50px; color:#666; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; margin-bottom:10px;}
.c_left_bottom input{margin-left:50px; width:410px; height:42px; border:1px solid #eee; padding-left:8px; color:#666; font: 14px/42px 'Microsoft YaHei',"微软雅黑";}
.information_c_right{ width:328px; height:auto; float:right; margin-right:50px; margin-top:38px;}
.information_c_right p{ color:#999; font: 12px/24px 'Microsoft YaHei',"微软雅黑";}

.submitorder_Pay{width:1198px; height:228px; margin:0 auto; margin-top:20px; border:1px solid #eee;}
.Pay_title{width:1178px; height:59px; background:#eee; padding-left:20px; color:#333; font: 14px/59px 'Microsoft YaHei',"微软雅黑";}
.Pay_content{width:1198px; height:169px;}
.Pay_zfb{ width:510px; height:31px; overflow:hidden; margin:44px 24px 0 50px; float:left;}
.Pay_zfb span{cursor:pointer; display:block; width:15px; height:15px; float:left; margin-right:10px; margin-top:7px;}
.Pay_zfb span i{cursor:pointer; display:block; width:15px; height:15px; background:url(../images/pay_checkbox_bin.png) no-repeat;}
.Pay_zfb span i.active{cursor:pointer; display:block; width:15px; height:15px; background:url(../images/pay_checkbox_onbin.png) no-repeat;}
.Pay_zfb em{ display:block; float:left; width:84px; height:31px; margin-right:16px;}
.Pay_zfb em img{ width:84px; height:31px; border:none;}
.Pay_zfb p{ color:#999; font: 12px/31px 'Microsoft YaHei',"微软雅黑";}
.Pay_zfb p font{color:#ff3333; font: 12px/31px 'Microsoft YaHei',"微软雅黑";}
.Pay_weixin{ width:510px; height:31px; overflow:hidden; margin:44px 0 0 50px; float:left;}
.Pay_weixin span{ display:block; width:15px; height:15px; float:left; margin-right:10px; margin-top:7px;}
.Pay_weixin span i{ display:block; width:15px; height:15px; background:url(../images/pay_checkbox_bin.png) no-repeat;}
.Pay_weixin span i.active{display:block; width:15px; height:15px; background:url(../images/pay_checkbox_onbin.png) no-repeat;}
.Pay_weixin em{ display:block; float:left; width:85px; height:24px; margin-right:16px;}
.Pay_weixin em img{ width:85px; height:24px; border:none;}
.Pay_weixin p{ color:#999; font: 12px/31px 'Microsoft YaHei',"微软雅黑";}
.Pay_yinlian{ width:510px; height:45px; overflow:hidden; margin:20px 0 0 50px; float:left;}
.Pay_yinlian span{ display:block; width:15px; height:15px; float:left; margin-right:10px; margin-top:12px;}
.Pay_yinlian span i{ display:block; width:15px; height:15px; background:url(../images/pay_checkbox_bin.png) no-repeat;}
.Pay_yinlian span i.active{display:block; width:15px; height:15px; background:url(../images/pay_checkbox_onbin.png) no-repeat;}
.Pay_yinlian em{ display:block; float:left; width:61px; height:45px; margin-right:16px;}
.Pay_yinlian em img{ width:61px; height:45px; border:none;}
.Pay_yinlian p{ color:#999; font: 12px/45px 'Microsoft YaHei',"微软雅黑";}
.submitorder_message{width:1198px; min-height:auto; overflow:hidden; margin:0 auto; margin-bottom:60px; margin-top:20px; border:1px solid #eee;}
.message_content{ width:1198px; min-height:auto;}
.message_content_l{ width:1198px; min-height:auto;}
.message_list{ width:1198px; height:115px; border-bottom:1px solid #eee;}
.message_list span{ display:block; float:left;}
.message_list span.commodity_img{ width:95px; height:61px; margin:27px 43px 0 58px;}
.message_list span.commodity_img img{width:95px; height:61px;}
.message_list span.cart_ms{ width:240px; height:73px; overflow:hidden; margin:37px 78px 0 0;}
.message_list span.cart_ms i,.message_list span.cart_ms em{ display:block;}
.message_list span.cart_ms i{color:#000; height:14px; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; overflow:hidden;}
.message_list span.cart_ms em{margin-top:11px;color:#999; height:12px; font: 12px/12px 'Microsoft YaHei',"微软雅黑"; overflow:hidden;}
.message_list span.span_money{ width:145px; height:115px; overflow:hidden; color:#e7b9a9; font: 14px/115px "微软雅黑"; margin-right:106px;}
.message_list span.span_num{ float:right; margin-right:56px; font: 14px/115px 'Microsoft YaHei',"微软雅黑";}
.message_fpiao{ width:1198px; height:140px;}
.message_fpiao h2{ display:block; margin-top:29px; font: 14px/14px 'Microsoft YaHei',"微软雅黑"; color:#333; margin-left:40px;}
.message_fpiao_c{ width:1198px; height:32px; overflow:hidden; margin:10px 0 0 40px; float:left;}
.message_fpiao_c span{cursor:pointer; display:block; width:100px; height:15px; float:left; margin-right:10px; margin-top:7px;}
.message_fpiao_c span i{cursor:pointer; display:block; float:left; margin-right:8px; width:15px; height:15px; background:url(../images/pay_checkbox_bin.png) no-repeat;}
.message_fpiao_c span em{ display:block; float:left;}
.message_fpiao_c span i.active{cursor:pointer; display:block; width:15px; height:15px; background:url(../images/pay_checkbox_onbin.png) no-repeat;}
.message_fpiao_input{ width:1198px; height:40px; margin-left:40px;}
.message_fpiao_input span{font: 14px/40px 'Microsoft YaHei',"微软雅黑"; color:#666; float:left; width:65px;}
.message_fpiao_input input{ width:318px; height:38px; border:1px solid #eee; font: 14px/38px 'Microsoft YaHei',"微软雅黑"; color:#666;}
.message_spinmessage{width:1198px; height:170px;}
.spinmessage_c_p{ min-width:245px; height:120px; }
.spinmessage_c{ min-width:245px; height:170px; float:right; margin-right:50px;}
.spinmessage_c p{ text-align:right; font: 14px/28px 'Microsoft YaHei',"微软雅黑"; color:#666;}
.spinmessage_c p span{display:block; float:left; min-width:150px; text-align:right; margin-right:10px;}
.spinmessage_c p i{ display:block; float:left; text-align:left; color:#e7b9a9;}
.bin_submit{cursor:pointer; float:right; width:112px; height:42px; background:#e7b9a9; text-align:center; font: 14px/42px 'Microsoft YaHei',"微软雅黑"; color:#fff; cursor: pointer;}

/**
*
* 官网技术支持页面样式
*
**/
.search_width{ max-width: 1900px; width:100%; min-height:240px; overflow:hidden; }
.support_search{ width:1200px; min-height:240px; margin:0 auto; overflow:hidden;}
.support_search i{ padding-top:144px; display:block; text-align:center; color:#999; font: 30px/30px "Segoe ui","微软雅黑"; margin-bottom:26px;}
.support_search em{display:block; text-align:center; color:#999; font: 30px/30px "Segoe ui","微软雅黑";}
.support_divs{ width:528px; height:58px; margin:0 auto; margin-top:70px; }
.support_divs input{ float:left;}
.support_divs input.test{ width:383px; height:54px; border:1px solid #a27359; padding-left:20px; color:#999; font: 14px/14px "Segoe ui","微软雅黑";}
.support_divs input.button{margin: 0;padding: 0;cursor:pointer; width:122px; height:58px; border:none; background:#aa7d66; color:#fff; font: 18px/54px "Segoe ui","微软雅黑"; text-align:center;}
.support_content{ width:100%; max-width:1900px; height:1470px; background:url(../images/support_bg.jpg) no-repeat;}
.support_content_c{ width:1200px; height:auto; overflow:hidden; margin:0 auto;}
.support_c_title{ width:1200px; height:14px; font: bold 14px/14px 'Microsoft YaHei',"微软雅黑"; color:#333; margin-top:105px;}
.support_c_cont{ width:1200px; height:auto; overflow:hidden;}
.support_c_cont p{ margin-top:40px; padding:0px;}
.support_c_cont p.top_margin{ margin-top:14px; padding:0px;}
.support_c_cont p span{font: bold 12px/12px 'Microsoft YaHei',"微软雅黑"; color:#333; display:block;}
.support_c_cont p i{display:block; font: 12px/24px 'Microsoft YaHei',"微软雅黑"; color:#333; margin-top:9px; padding-left:14px;}
.support_c_cont em{ font: bold 14px/14px 'Microsoft YaHei',"微软雅黑"; color:#333; display:block; margin-top:44px;}

.imora_content_bin{ width:1000px; height:170px; margin:0px auto; margin-top:100px;}
.bin_left{ width:440px; height:170px; float:left; margin-right:68px; margin-left:22px;}
.bin_left span{ width:185px; height:58px; border:1px solid #333; float:right;}
.bin_left span a{display: block; font: 18px/58px 'Microsoft YaHei',"微软雅黑"; color:#333; text-align:center;}
.bin_right{ width:440px; height:170px; float:left;}
.bin_right span{ width:185px; height:58px; border:1px solid #333; float:left;}
.bin_right span a{display: block; font: 18px/58px 'Microsoft YaHei',"微软雅黑"; color:#333; text-align:center;}
.imora_content_info_1 h2{ font: 24px/24px 'Microsoft YaHei',"微软雅黑"; color:#333; display:block; margin:48px 0 32px 0;}
.imora_content_info_1 p{ font: 14px/24px 'Microsoft YaHei',"微软雅黑"; color:#666;}
.imora_content_info_1 strong{ display:inline-block;color:#333;}
.imora_content_info_1 em,.imora_content_info_1 u{font-style:italic !important;}








