.none{display:none;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family:"microsoft yahei";
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
h1,h2,h3,h4,h5,h6,b{
	font-weight:normal;
}
em{
	font-style:normal;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
a{
	text-decoration:none;
}
img{
	vertical-align:middle;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input,textarea,button{
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
/* 清除浮动 */
.clear{ clear:both;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
html,body{
	width:100%;
	background:rgb(29,33,44) ;
}
/**   支付名片列表      **/
.pay_content{
	width:100%;
	height:100%;
	display:flex;
	display:-webkit-flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	display:box;
	display:-webkit-box;
	box-orient:vertical;
	-webkit-box-orient: vertical;
}
.small_card{
	width:100%;
	flex:1;
	-webkit-flex:1;
	box-flex: 1;
	-webkit-box-flex: 1;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
}
.pay_btn{
	width:100%;
	text-align:center;
	padding-bottom:.3rem;
	padding-top:.2rem;
}
.pay_btn_bg{
	background:#fff;
}
.pay_btn_top{
	padding-top:.3rem;
}
.pay_btn p{
	color:#6d6d6d;
	line-height:.2rem;
	font-size:.14rem;
	padding:0 0 .3rem 0;
}
.pay_btn .btn{
	display:block;
	width:89%;
	height:.44rem;
	margin:0 auto;
	border:.01rem solid #ea9566;
	background:#ea9566;
	color:#fff;
	font-size:.14rem;
}
.pay_btn .btn_bottom{
	margin-bottom:.1rem;
}
.pay_btn .btn_bg{
	background:#fff;
	border:.01rem solid #6d6d6d;
	color:#6d6d6d;
}
.pay_btn_top .btn_bg{
	background:rgb(29,33,44);
	color:#fff;
}
/**   名片信息  **/
.card_details{
	width:100%;
}
.card_img{
	width:100%;
}
.card_img img{
	width:100%;
	height:auto;
}
.card_detail{
	width:100%;
}
.card_detail_bg{
	background:#262a36;
}
.detail_list{
	width:95%;
	margin-left:5%;
}
.detail_list li{
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
	line-height:.2rem;
	padding:.2rem 0;
	border-bottom:.01rem solid #353944;
	font-size:.14rem;
	-webkit-box-align:center;
	-webkit-align-items:center;
	align-items:center;
}
.detail_list li:last-child{
	border-bottom:none;
}
.detail_list li p{
	color:#d3d4d6;
	flex:1;
	-webkit-flex:1;
	box-flex: 1;
	-webkit-box-flex: 1;
	line-height:.15rem;
}
.detail_list li input{
	display:block;
	color:#d3d4d6;
	flex:1;
	-webkit-flex:1;
	box-flex: 1;
	-webkit-box-flex: 1;
	line-height:.2rem;
	background:none;
	border:none;
	font-size:.14rem;
}
.detail_list li .right_icon{
	display:block;
	margin-right:.2rem;
	padding-left:.1rem;
}
.detail_list li .right_icon:before{
	content:"";
	display:block;
	width:.049rem;
	height:.081rem;
	background:url("../images/wei/iconDisclosureLndicatorDefault@3x.png") no-repeat;
	background-size:100% 100%;
	margin-top:.06rem;
}
.detail_list li span{
	display:block;
	background-size:100% 100%;
}
.detail_list li span.per_icon{
	width:.15rem;
	height:.15rem;
	background-image:url("../images/wei/group2Copy@3x.png");
	/* margin-top:.03rem; */
	margin-right:.225rem;
}
.detail_list li span.buliding_icon{
	width:.155rem;
	height:.16rem;
	background-image:url("../images/wei/group2@3x.png");
	/* margin-top:.02rem; */
	margin-right:.22rem;
}
.detail_list li span.map_icon{
	width:.12rem;
	height:.16rem;
	background-image:url("../images/wei/group5@3x.png");
	margin-top:.02rem;
	margin-right:.242rem;
}
.detail_list li span.tel_icon{
	width:.14rem;
	height:.14rem;
	background-image:url("../images/wei/group4@3x.png");
	/* margin-top:.032rem; */
	margin-right:.24rem;
}
.detail_list li span.phone_icon{
	width:.11rem;
	height:.16rem;
	background-image:url("../images/wei/group3@3x.png");
	/* margin-top:.02rem; */
	margin-right:.245rem;
}
.detail_list li span.intenet_icon{
	width:.15rem;
	height:.16rem;
	background-image:url("../images/wei/group6@3x.png");
	/* margin-top:.02rem; */
	margin-right:.225rem;
}
.detail_list li span.emali_icon{
	width:.16rem;
	height:.12rem;
	background-image:url("../images/wei/group6Copy@3x.png");
	/* margin-top:.037rem; */
	margin-right:.22rem;
}
.back_btn{
	width:100%;
	margin-top:.66rem;
}
.back_btn button{
	display:block;
	width:100%;
	height:.44rem;
	margin:0 auto;
	border:.01rem solid #ea9566;
	background:#ea9566;
	color:#fff;
	font-size:.14rem;
}
.card_set{
	width:100%;
	height:.52rem;
	line-height:.52rem;
	margin:.1rem 0;
	position:relative;
}
.card_set h5{
	font-size:.14rem;
	color:#d3d4d6;
	margin-left:5%;
}
.card_set label{
	position:absolute;
	right:.2rem;
	top:.105rem;
	width:.51rem;
	height:.31rem;
	background:#383d4b;
	border-radius:.15rem;
}
.card_set label input{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:11;
	opacity:0;
}
.card_set label em{
	position:absolute;
	top:.015rem;
	left:0;
	width:.28rem;
	height:.28rem;
	background:#fff;
	border-radius:.28rem;
	z-index:10;
	transition: transform .35s cubic-bezier(.4,.4,.25,1.35),-webkit-transform .35s cubic-bezier(.4,.4,.25,1.35);
	-webkit-transition: transform .35s cubic-bezier(.4,.4,.25,1.35),-webkit-transform .35s cubic-bezier(.4,.4,.25,1.35);
}
.card_set label input[type="checkbox"]:checked+em{
	transform:translateX(.23rem);
	-webkit-transform:translateX(.23rem);
}


/**  名片上传    **/
.file_card{
	width:100%;
	height:100%;
	position:relative;
}
.file_cntent{
	width:3rem;
	height:4.5rem;
	background:#d8d8d8;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
.file_icon{
	width:.8rem;
	height:1rem;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}
.file_icon img{
	display:block;
	width:.4rem;
	height:.5rem;
	margin-left:.3rem;
	margin-top:.25rem;
}
.file_icon span{
	position:absolute;
	top:.5rem;
	left:-.4rem;
	width:1rem;
	height:.2rem;
	font-size:.14rem;
	color:#6d6d6d;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
/**  时间线    **/
.nav_height{
	width:100%;
	height:.44rem;
}
.navs{
	width:100%;
	height:.44rem;
	background:#fff;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
	line-height:.44rem;
	position:fixed;
	top:0;
	left:0;
	z-index:10000000;
}
.navs span{
	display:block;
	width:25%;
	font-size:.14rem;
	text-align:center;
	color:#6d6d6d;
}
.navs span.on{
	color:#ea9566;
	border-bottom:.03rem solid #ea9566;
}
.time_card{
	width:100%;
	margin-top:.15rem;
}
.time_list{
	width:3.33rem;
	margin:0 auto;
}
.time_item{
	width:100%;
	border-left:.01rem dashed #ea9566;
	padding-bottom:.3rem;
	margin-top:.02rem;
}
.date{
	margin-top:.07rem;
}
.join_time{
	color:#d3d4d6;
	font-size:.12rem;
	line-height:.17rem;
	position:relative;
	padding-left:.2rem;
}
.join_time span{
	position:absolute;
	top:0;
	left:-.09rem;
	background:rgb(29,33,44);
}
.join_time span em{
	display:block;
	width:.17rem;
	height:.17rem;
	background:url("../images/wei/opIconTimeLineOvalCopy@3x.png") no-repeat;
	background-size:100% 100%;
}
.t_card_info{
	width:2.85rem;
	margin-left:.18rem;
	/* margin-top:.1rem; */
	background:#262a36;
	padding:.15rem;
}
.t_card_info h5{
	padding-bottom:.15rem;
	color:#d3d4d6;
	font-size:.14rem;
}
.t_card_info img{
	width:2.85rem;
	height:1.71rem;
	margin-bottom:.15rem;
}
.t_card_info ul{
	width:100%;
}
.t_card_info ul li{
	font-size:.14rem;
	color:#d3d4d6;
	line-height:.2rem;
	margin-bottom:.5rem:
}
.t_card_info ul li small{
	font-size:.14rem;
}





.code_null{
	width:100%;
	height:100%;
	background:#000;
	position:fixed;
	top:0;
	left:0;
	opacity:0.7;
	display:none;
}
.show_code{
	width:250px;
	height:300px;
	position:fixed;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:auto;
	z-index:1111;
	background:#fff;
	display:none;
}
.tow_code{
	width:100%;
	height:auto;
}
.code_bg{
	width:96%;
	height:200px;
	padding:4% 10px;
}
.code_bg img{
	width:100%;
	height:100%;
}
.tow_code p{
	line-height:30px;
	text-align:center;
}
.tow_code p span{
	color:#333;
	font-size:14px;
}
.colse_code{
	width:100%;
	height:25px;
	position: absolute;
	left:50%;
	margin-left:-12px;
	bottom:-40px;
}
.colse_code img{
	width:25px;
	height:25px;
	display:block;
}
.big_no_weui{
	display:none;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
}
.three_btns{
	width:96%;
	margin:0 auto;
	background:#fff;
	border-radius:5px;
}
.hint_btn{
	text-align:center;
	width:100%;
	height:40px;
	line-height:40px;
	color:#333;
	font-size:14px;
}
.three_bot{
	margin-top:10px;
}
.warning_text{
	width:3rem;
	margin:0 auto;
	text-align:center;
	padding-top:.2rem;
}
.warning_text p{
	font-size:.16rem;
	color:#fff;
}

/**  名片上传  **/
.container_file{
	width:100%;
	height:100%;
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	flex-direction:column;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	-o-flex-direction:column;
	display: -moz-box;
	display:-webkit-box;
	box-orient: vertical;
	-webkit-box-orient: vertical;
}
.img_main{
	flex:1;
	-webkit-flex:1;
	-moz-flex:1;
	-ms-fle:1;
	-o-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	overflow-scrolling:touch;
}
.img_list{width:100%;}
.top-mian{
	padding-top:.1rem;
}
.file_img{width:100%;text-align:center;margin-bottom:.1rem;}
.file_img img{width:95%;height:2.2rem;}
.email_dialog{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:12000;
	background:rgba(0,0,0,.6);
	display:none;
}
.pull_email{
	width:2.9rem;
	height:2.1rem;
	background:#fff;
	border-radius:.06rem;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
}
.pull_email h3{
	color:#333;
	font-size:.18rem;
	text-align:center;
	padding:.25rem 0;
	font-family:"PingFangSC Light"
}
.pull_email input{
	width:2.3rem;
	height:.4rem;
	display:block;
	margin:0 auto;
	background:none;
	border:1px solid #999;
	font-size:.15rem;
	color:#666;
}
.pull_email p{
	color:#666;
	font-size:.12rem;
	margin-top:.15rem;
	margin-bottom:.26rem;
	text-align:center;
}
.pull_btn{
	width:96%;
	height:.44rem;
	margin:0 auto;
	border-top:1px solid #999;
	overflow:hidden;
}
.pull_btn button{
	float:left;
	width:50%;
	color:#999;
	background:none;
	border:none;
	outline:none;
	font-size:.18rem;
	line-height:.44rem;
	font-family:"PingFangSC Light"
}
.pull_btn button.btn_color{
	color:#ffa764;
	border-left:1px solid #999;
}
.pull_file{
	width:1.7rem;
	height:1.4rem;
	background:rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	text-align:center;
	border-radius:.06rem;
	display:none;
	z-index:111;
}
.file-line{
	line-height:1.4rem;
}
.file-top{
	margin-top:.35rem;
}
.dia_w img{
	width:.2rem;
	height:.2rem;
	vertical-align:-.04rem;
	/* margin-right:.02rem; */
}
.dia_w em{
	width:1.5rem;
	display:block;
	margin:0 auto;
	margin-top:.1rem;
}
.dia_w{
	width:100%;
	height:100%;
	color:#fff;
	font-size:.15rem;
}
.dia-line{
	line-height:1.4rem;
}
.dia-line img{
	margin-right:.02rem;
}
.dia_error img{
	width:.2rem;
	height:.2rem;
}
.pull_file p{
	position:absolute;
	color:#fff;
	font-size:.13rem;
	left:50%;
	bottom:0;
}
.dia_error{
	width:1.7rem;
	height:1.4rem;
	background:rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	text-align:center;
	border-radius:.06rem;
	display:none;
	z-index:111;
}
.error_w{
	color:#fff;
	font-size:.15rem;
	margin-top:.45rem;
}
.error_w img{
	width:.2rem;
	height:.2rem;
	vertical-align:-.04rem;
	margin-right:.02rem;
}
.error_w p{
	font-size:.13rem;
	line-height:.4rem;
}

@media screen and (orientation: portrait) {  
  /*竖屏 css*/  
}   
@media screen and (orientation: landscape) {
	.pay_btn {
	    width: 100%;
	    text-align: center;
	    padding-bottom: 15px;
	    padding-top: 15px;
	}
	.pay_btn p {
	    line-height:20px;
	    font-size: 14px;
	    padding: 0 0 20px 0;
	}
	.pay_btn .btn{
	    height:44px;
	    font-size:14px;
	}
	.pay_btn .btn_bottom {
		margin-bottom: 10px;
	}
}  