@CHARSET "UTF-8";
/* CSS Document */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{font-size:12px;font-family:'SourceHanSansCN-Normal','微软雅黑','Tahoma','黑体','宋体'; background:#181818;}
body,html{background:#181818; overflow-x:hidden;}
/*html,body{width:100%;}*/
ul,ol{list-style-type:none;}em,i,cite{font-style:normal;}
select,input{vertical-align:middle;}
input{outline:none;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#666666; outline: medium none; font-family:'Microsoft yahei';}
a:hover{color:#0075c2;text-decoration: none;}
.font{}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.hand{cursor:pointer;}

#logo{filter:invert(1);margin: 10px 20px 10px 0;}
.wrap_header{height:60px;}
.wrap_header span {}
.wrap_header span a {margin: 50px 10px;font: 20px/80px "Microsoft yahei","微软雅黑"; }
.wrap_header span a:hover,.wrap_header span a.on {color:#fff}
.wrap_top_right{float: right; height: 40px; margin-top: -20px;}
.thumb_icon{background: #eba632 url("../images/content_img_name.png") no-repeat scroll 5px 5px;
    border-radius: 0 0 30px;
    height: 30px;
    position: absolute;
    width: 30px;
    z-index: 2;
    top: 0;}

@-webkit-keyframes warp_mask
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:0.7;
	}
}
@-moz-keyframes warp_mask
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:0.7;
	}
}
@-o-keyframes warp_mask
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:0.7;
	}
}
@-ms-keyframes warp_mask
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:0.7;
	}
}
@keyframes warp_mask
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:0.7;
	}
}

@-webkit-keyframes warp_tongs_text
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1;
	}
}
@-moz-keyframes warp_tongs_text
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1;
	}
}
@-o-keyframes warp_tongs_text
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1;
	}
}
@-ms-keyframes warp_tongs_text
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1;
	}
}
@keyframes warp_tongs_text
{
	100%
	{
		-webkit-transform:translateY(0px);
		-moz-transform:translateY(0px);
		-o-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		opacity:1;
	}
}

.head_box{ width:1200px; height:80px; color:#fff; margin:0 auto; text-align:center; font: 16px/40px "Microsoft yahei","微软雅黑";}
.content{ width:1200px; height:auto; overflow:hidden; margin:0 auto;}
.ImOra_logo{ width:94px; height:92px; margin:0 auto; margin-top:20px;}
.ImOra_logo img{width:94px; height:92px;}
.ImOra_jjie{ width:480px; height:auto; overflow:hidden; margin:0 auto; margin-top:40px;}
.ImOra_jjie span{ color:#fff; font: 14px/22px "Microsoft yahei","微软雅黑";}
.ImOra_tixing{padding-left: 85px;padding-top:14px;color:#fff; font: 18px/22px "Microsoft yahei","微软雅黑"; width:480px; text-align:left; margin:0 auto; margin-top:20px;}
.ImOra_form{padding-left: 95px; width:480px; height:auto; overflow:hidden; margin:0 auto;}
.ImOra_phone{margin-left: 25px; width:88%; height:30px; border: 1px solid #8e8e8e; background:#fff; margin-top:20px;}
.ImOra_phone input.qz_input{ float: left; width:30px; height:30px; border:none;}
.ImOra_phone input.qznum_input{ float: left; width:149px; border:none; height:30px; font: 14px/30px "Microsoft yahei","微软雅黑"; color:#333;}
.ImOra_phone span{ display:block; float:left; margin-top:7px; margin-right:8px;}
.ImOra_phone input.moblie_numinput{ float: left; width: 90px; border:none; height:30px; font: 14px/30px "Microsoft yahei","微软雅黑"; color:#333;}
.ImOra_phone input.mobile_SendPhoneCode{ margin-top:2px; float:right;}
.ImOra_bin{ float: right; margin-top: 20px; width: 75px;}
.ImOra_bin input{ width:75px; margin:0 auto;}
.ysg_warp{ height: 100%; width: 1280px; background:#111; margin: 0 auto; overflow:hidden; position: relative;}
.maxwarp{ margin: 0 auto; max-height: 2360px; margin-bottom:60px; max-width: 1200px; width: 1200px; overflow: hidden;}
.warp_serach{ margin-bottom: -1px;width:445px; height:50px; float:right; position:relative;}
.warp_serach i{ position:absolute; left:15px; top:14px; width:17px; height:23px; z-index:4;}
.box_input{ position:relative; left:0px; top:0px; z-index:3; border:1px solid #b0aeae;}
.box_input .input_t{border:none; width:350px; height:46px; background:none; padding-left:10px; color:#8f8f8f; font: 18px/46px "Microsoft yahei","微软雅黑";}
.box_input em{ display:block; width:2px; height:27px; position:absolute; right:60px; top:10px;}
.box_input .button_t{position:absolute; width:24px; height:24px; right:16px; top:11px; border:none; background:url(../images/ysg_button_icon.jpg) no-repeat;}
.warp_content{height:auto; max-width: 1198px; width: 1200px; overflow:hidden;border:1px solid #b0aeae;}
.warp_list_bin{ width:1200px; height:50px; marin:0px; padding:0px;}
.warp_list_bin div{cursor:pointer; height:50px; float:left; width:160px; text-align:center; color:#868584; font: 18px/50px "Microsoft yahei","微软雅黑";}
.warp_list_bin div:hover{color:#fff;}
.warp_list_bin div.on{ background:url(../images/ysg_onbtn_icon.png) center bottom no-repeat; color:#fff;}
.warp_list_bin i{ display:block; float:left; width:6px; height:24px; margin-top:13px;}
.warp_list_bin span{width:600px; height:50px; float:right; color:#9a9a9a; font: 16px/50px "Microsoft yahei","微软雅黑";}
.warp_list_bin span em{ flaot:left;}
.warp_list_bin span.onbtn{background:url(../images/ysg_onbtn_icon.png) 25px bottom no-repeat; color:#fff;}
.warp_list_c{ width:1200px; overflow:hidden; background:#fff;}
.warp_erdrm{ width:1200px; height:auto; overflow:hidden;}
.warp_card_list{ position:relative; width:550px; height:210px; margin-right:49px; float:left; border-bottom:1px solid #eee;}
.warp_card_pic{ position:relative; cursor:pointer;width:255px; height:160px; float:left; margin-right:20px; margin-left:20px; margin-top:25px; background:url(../images/ysg_yjz_pic.png) no-repeat;}
.warp_card_pic img{width:255px; height:160px; border: 1px solid #e5e5e5; border-radius: 2px;}
.warp_card_text{ width:205px; height:160px; float:left; margin-top:25px;}
.warp_card_text span{display:block; width:100%; overflow:hidden;}
.warp_card_text span i{ display:block; float:left; margin-right:17px; color:#3e3c39; font: 20px/22px "Microsoft yahei","微软雅黑";}
.warp_card_text span em{ display:block; float:left; color:#9a9a9a; margin-top:5px; font: 14px/14px "Microsoft yahei","微软雅黑";}
.warp_card_text p{ margin-top:10px; color:#9a9a9a; font: 14px/24px "Microsoft yahei","微软雅黑";}

.warp_tongs{ width:1200px; height:auto; overflow:hidden;}
.warp_tongs_list{border:1px solid #e5e5e5; border-radius:4px 4px;overflow:hidden;cursor:pointer;width:253px; height:162px; float:left; position:relative; margin:22px;}
.warp_tongs_pic{cursor:pointer;width:255px; height:160px; position:absolute; left:0px; top:0px; z-index:2; background:url(../images/ysg_yjz_pic.png) no-repeat;}
.warp_tongs_pic img{ width:253px; height:160px; }
.warp_mask{display:none; -webkit-border-radius:8px 8px; -moz-border-radius:8px 8px; -o-border-radius:8px 8px; -ms-border-radius:8px 8px; border-radius:8px 8px; width:255px; height:160px; position:absolute; left:0px; top:0px; z-index:3; background:#000; opacity: 0.7; filter:alpha(opacity:70);}
.maskanimation{-webkit-transform:translateY(160px); -moz-transform:translateY(160px);-ms-transform:translateY(160px);-o-transform:translateY(160px);transform:translateY(160px); opacity:0.7; -webkit-animation:.6s warp_mask; -moz-animation:.6s warp_mask; -o-animation:.6s warp_mask; -ms-animation:.6s warp_mask; animation:.6s warp_mask; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; -o-animation-fill-mode:forwards; -ms-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.warp_tongs_text{display:none;-webkit-border-radius:8px 8px; -moz-border-radius:8px 8px; -o-border-radius:8px 8px; -ms-border-radius:8px 8px; border-radius:8px 8px; width:225px; height:135px; float:left; margin-top:25px; padding-left:30px; position:absolute; left:0px; top:0px; z-index:4;}
.warp_tongs_animation{-webkit-transform:translateY(160px); -moz-transform:translateY(160px);-ms-transform:translateY(160px);-o-transform:translateY(160px);transform:translateY(160px); opacity:1; -webkit-animation:.6s warp_tongs_text; -moz-animation:.6s warp_tongs_text; -o-animation:.6s warp_tongs_text; -ms-animation:.6s warp_tongs_text; animation:.6s warp_tongs_text; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; -o-animation-fill-mode:forwards; -ms-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.warp_tongs_text span{display:block; width:100%; overflow:hidden; text-align:center;}
.warp_tongs_text span i{ display:block; float:left; margin-right:17px; color:#fff; font: 20px/22px "Microsoft yahei","微软雅黑";}
.warp_tongs_text span em{ display:block; float:left; color:#c9c9c9; margin-top:5px; font: 14px/14px "Microsoft yahei","微软雅黑";}
.warp_tongs_text p{margin-top:10px; color:#c9c9c9; font: 14px/24px "Microsoft yahei","微软雅黑";}
.warp_tongs_list:hover .warp_mask{display:block;}
.warp_tongs_list:hover .warp_tongs_text{display:block;}
.warp_tongs_list:hover .warp_tongs_text span i{display:block; color:#fff; font: 20px/22px "Microsoft yahei","微软雅黑";}
.warp_tongs_text .check_card_time{font-size: 9px; color: #fff; margin: -27px 0px 27px; text-indent: 20px; text-align: right;}

.warp_tonghang{ width:1200px; height:auto; overflow:hidden;}
/**
*
* 翻页效果样式
*
**/
.page{ width:auto; height:30px; float:right; padding:10px;}
/*.page a.first,.page a.prev,.page a.next,.page a.end{ font: 14px/28px "微软雅黑"; color:#444; float:left; margin-right:15px;}
.page a.end{ margin-right:0px;}
.page a.next{ margin-left:15px;}
.page a.num {display:block; text-align:center; width:28px; height:28px; float:left; font: 14px/28px "微软雅黑"; color:#444;}
.page a.num:hover{ background:#666; color:#fff;}
.page .current{ background:#666; color:#fff;display:block; text-align:center; width:28px; height:28px; float:left; font: 14px/28px "微软雅黑";}*/
.page div{ width:auto; height:28px; flaot:right;}
.page div span,.page div a,.page div form{ float:left; margin-right:10px;  font: 14px/28px "微软雅黑"; color:#333;}
.page div span,.page div a{ margin-top:2px;}
.page div form{ margin-right:0px;}
.page div input.jumppage{ width:26px; height:26px; border:1px solid #b9b9b9; background:none;}
.page div input{ margin-right:0px; width:34px; height:28px; font: 14px/28px "微软雅黑"; color:#333; border:none; background:none;}


.warp_mask_pop{display:none;position:absolute; left:0px; top:0px; z-index:5555;background:#000; opacity: 0.7; filter:alpha(opacity:70); width:100%; height:100%; overflow:hidden;}
.warp_pop{ display: none; width:880px; height:544px; background:#fff; position:fixed; left:50%; top:50%; z-index:55555; margin-left:-440px; margin-top:-272px;}
.pop_colse{ width:20px; height:20px; float:right; margin-right:10px; margin-top:10px;}
.pop_imgpic{ width:700px; height:400px; margin:0 auto; margin-top:72px;}
.pop_imgpic img {border: 1px solid #e5e5e5; border-radius: 2px;}
.warp_pop img{ width:100%; height:100%;cursor:pointer;}
.nodata_div {margin:auto;width:100%; padding-top: 40px; text-align: center;}
.nodata_div h1{ text-align: center;}
