@CHARSET "UTF-8";
/* CSS Document */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{font-size:12px;font-family:'SourceHanSansCN-Normal','微软雅黑','Tahoma','黑体','宋体';}
body,html{background:#fff;}
ul,ol{list-style-type:none;}
select,input{vertical-align:middle;}
input{outline:none;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#666666; outline: medium none; font-family:'Microsoft yahei';}
a:hover{color:#0075c2;text-decoration: none;}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.hand{cursor:pointer;}
.warp{width:100%;}
.warp_header{width:100%;max-height:932px;overflow:hidden;position:relative;}
.banner_img{width:100%;max-height:932px;overflow:hidden;}
.banner_img img{width:100%;height:auto;}
.warp_header div.imora{width:585px;height:32px;position:absolute;left:0;top:0;bottom:0;right:0;margin:auto;font-size:38px;font-family:"Century Gothic";color:#fff;}
.top_box{width:100%;position:absolute;top:0;left:0;z-index:99;}
.warp_top{max-width:1200px;width:87%;height:80px;margin:0 auto;}
.warp_top div.logo{margin-top:20px;float:left;}
.warp_top div.login_box{float:right;}
.login_box ul li{float:left;font:12px/80px "微软雅黑";color:#999;margin-left:11px;}
.login_box ul li a{color:#999;}
.login_box ul li span.country_icon{float:left;width:20px;height:13px;background:url("../../images/imora.cn/warp_language_pic.png") no-repeat;margin:33.5px 5px 0 9px;}
.login_box ul li em{margin-left:2px;font-style:normal;}
.about_our{max-width:1200px;width:87%;margin:0 auto;padding-top:143px;padding-bottom:178px;}
.about_our h2{font-size:30px;color:#333;font-family:"微软雅黑";font-weight:400;padding-bottom:20px;margin-bottom:156px;position:relative;}
.about_our h2 em{position:absolute;left:0;bottom:0;width:48px;height:0;border-bottom:2px solid #666;}
.about_our p{color:#666;font:14px/20px "微软雅黑";}
.img_show{margin-top:20px;overflow:hidden;}
.img_show div{width:32.44444%;height:320px;float:left;}
.img_show div img{width:100%;height:100%;}
.center_img{margin:0 1.165% 0 1.165%;}
.contact_our{width:100%;background:#f5f5f5;}
.our_center{max-width:1200px;width:87%;margin:0 auto;overflow:hidden;}
.font_left{width:33.2031%;float:left;}
.font_left h2{font-size:30px;color:#333;font-family:"微软雅黑";font-weight:400;margin-top:283px;padding-bottom:20px;position:relative;}
.font_left h2 em{position:absolute;left:0;bottom:0;width:48px;height:0;border-bottom:2px solid #666;}
.font_left h3{font-size:18px;font-family:"微软雅黑";color:#333;font-weight:400;padding-top:70px;padding-bottom:25px;}
.font_left p{font-size:12px;color:#333;line-height:20px;font-family:"微软雅黑";}
.map_right{width:66.7969%;height:790px;float:left;margin-top:70px;background:url("../../images/maps.jpg") no-repeat;background-size:100% 100%;}
.time_our{width:100%;height:929px;background:url("../../images/imora.cn/team_bg.jpg") no-repeat;background-position:center center;}
.time_center{max-width:1200px;width:87%;margin:0 auto;}
.time_center h2{font-size:30px;color:#333;font-family:"微软雅黑";font-weight:400;padding-top:123px;padding-bottom:20px;margin-bottom:30px;position:relative;}
.time_center h2 em{position:absolute;left:0;bottom:0;width:48px;height:0;border-bottom:2px solid #666;}
.time_center h4{font:14px/20px "微软雅黑";color:#333;padding-top:49px;}
.time_center p{font-size:14px;font-family:"微软雅黑";color:#666;line-height:20px;}
.join_our{line-height:39px;text-align:center;width:128px;height:39px;border:1px solid #333;background:none;display:block;font-family:"微软雅黑";font-size:14px;margin-top:30px;}
.footer{width:100%;height:150px;background:#23282b;}
.footer_center{max-width:1200px;width:87%;margin:0 auto;overflow:hidden;}
.footer_center p{text-align:center;line-height:150px;color:#6a6c6d;font-size:12px;font-family:"微软雅黑";float:left;}
.center_auto{width:717px;margin:0 auto;overflow:hidden;}
.href_box{width:160px;float:left;margin-top:56.5px;margin-left:47px;}
.href_box span{float:left;width:40px;height:37px;background:url("../../images/imora.cn/foo_icon.jpg") no-repeat;}
.href_box span.span2{background-position:-40px 0;}
.href_box span.span3{background-position:-80px 0;}
.href_box span.span4{background-position:-120px 0;}


.m_top{width:100%;height:60px;position:absolute;top:0;left:0;z-index:97;}
.m_ter{width:95%;height:60px;margin:0 auto;overflow:hidden;}
.m_ter span{display:block;width:20px;height:20px;background:url("../../images/menu_c.png");background-size:100% 100%;margin-top:15px;}
.m_ter span.close{background-image:url("../../images/close_m.png");}
.m_menu{width:120px;height:100%;background:#000;position:fixed;top:0;left:0;z-index:99;-webkit-transform:translate3d(-380px,0,0);transform:translate3d(-380px,0,0);-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;}
.show_menu{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.m_menu h5{font-size:20px;color:#fdccbc;padding:20px 0 20px 15px;}
.m_menu ul li{width:100%;line-height:30px;text-align:center;padding:10px 0;}
.m_menu ul li a{color:#fff;font-size:16px;font-family:"微软雅黑";}
.bg_op{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;left:0;top:0;z-index:98;display:none;}
.m_bg_join{width:100%;height:187px;background:url("../../images/imora.cn/team_bg.jpg") no-repeat;background-size:100% auto;display:none;}
.banner_img img.app_img{display:none;}
@media (max-width:1023px){
	.top_box{display:none;}
	.img_show div{width:100%;float:none;height:auto;margin-top:15px;}
	.center_img{margin:0 0 0 0;}
	.contact_our{background:#fff;}
	.font_left{width:100%;float:none;}
	.map_right{width:100%;float:none;height:550px;margin-top:40px;}
	.footer{margin-top:25px;}
	.center_auto{width:100%;}
	.footer_center p{float:none;line-height:20px;margin-top:35px;margin-bottom:15px;}
	.href_box{float:none;margin:0 auto;}
	.about_our{padding-top:49px;padding-bottom:50px;}
	.about_our h2{margin-bottom:50px;}
	.time_center h2{padding-top:50px;}
	.time_center h4{padding:25px 0;}
	.font_left h2{margin-top:50px;}
	.m_bg_join{display:block;}
	.time_our{background:#fff;height:auto;}
	.m_hide{display:none;}
	.join_our{margin-top:24px;}
	.banner_img img.app_img{display:block;}
	.banner_img img.pc_img{display:none;}
}
@media (min-width:1024px){
	.m_top{display:none;}
	.m_menu{display:none;}
}
@media only screen and (max-width: 768px),only screen and (max-width:768px) {
   	.m_bg_join{height:380px;}
 }
@media only screen and (max-width: 414px),only screen and (max-width:414px) {
    .m_bg_join{height:200px;}
}
@media only screen and (max-width: 320px),only screen and (max-width:320px) {
    .m_bg_join{height:160px;}
}