@CHARSET "UTF-8";
/* CSS Document */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{font-size:12px;font-family:'SourceHanSansCN-Normal','微软雅黑','Tahoma','黑体','宋体'; background:#fff;}
body,html{background:#fff; overflow-x:hidden;}
/*html,body{width:100%;}*/
ul,ol{list-style-type:none;}em,i,cite{font-style:normal;}
select,input{vertical-align:middle;}
input{outline:none;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#666666; outline: medium none; font-family:'Microsoft yahei';}
a:hover{color:#0075c2;text-decoration: none;}
.font{}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.hand{cursor:pointer;}

.warp{width:100%;}
.header{width:100%;position:relative;}
.header_banner{width:100%;}
.header_banner img{width:100%;height:auto;}
.top{width:100%;height:80px;background:#fff;z-index:99;position: absolute;left:0;top:0;}
.top_center{width:1200px;height:80px;margin:0 auto;}
.login{width:41px;height:40px;margin-top:19px;float:left;}
.language{float:right;line-height:80px;}
.language em{margin-left:2px;color:#666px;font-family:"微软雅黑";font-size:14px;}
.language span{float:right;width:20px;height:13px;background:url("../img/warp_language_pic.png") no-repeat;margin:33.5px 0 0 10px;}
.banner_font{width:800px;height:188px;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;z-index:22;}
.banner_font h2{font-size:72px;font-family:"微软雅黑";color:#333;text-align:center;font-weight:400;}
.banner_font p{width:142px;height:0;border-bottom:1px solid #97928c;margin:47px auto;}
.banner_font h5{font-family:"Century Gothic";font-size:30px;color:#333;text-align:center;font-weight:400;}
.content_info{width:100%;padding-bottom:97px;}
.info_center{width:1200px;margin:0 auto;padding-bottom:97px;}
.info_item h2{font-size:24px;font-family:"微软雅黑";color:#666;font-weight:400;padding-top:50px;}
.info_item h5{font-size:14px;font-family:"微软雅黑"color:#333;padding-top:27px;line-height:30px;font-weight:400;}
.info_item ul li{font-size:14px;font-family:"微软雅黑";color:#666;line-height:22px;}
.footer{width:100%;height:150px;background:#23282b;}
.footer_center{width:1200px;margin:0 auto;}
.footer_center p{text-align:center;line-height:150px;color:#6a6c6d;font-size:12px;font-family:"微软雅黑";float:left;}
.center_auto{width:717px;margin:0 auto;}
.href_box{width:160px;float:left;margin-top:56.5px;margin-left:47px;}
.href_box span{float:left;width:40px;height:37px;background:url("../img/foo_icon.jpg") no-repeat;}
.href_box span.span2{background-position:-40px 0;}
.href_box span.span3{background-position:-80px 0;}
.href_box span.span4{background-position:-120px 0;}