@CHARSET "UTF-8";
/* CSS Document */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{margin:0;padding:0;border:0; float:none;}
body{font-size:12px;font-family:'SourceHanSansCN-Normal','微软雅黑','Tahoma','黑体','宋体'; background:#fff;}
body,html{background:#fff; overflow-x:hidden;}
/*html,body{width:100%;}*/
ul,ol{list-style-type:none;}em,i,cite{font-style:normal;}
select,input{vertical-align:middle;}
input{outline:none;}
img,embed{vertical-align:top;border:none;}
a{text-decoration:none;color:#666666; outline: medium none; font-family:'Microsoft yahei';}
a:hover{color:#0075c2;text-decoration: none;}
.font{}
.left{ float:left}
.right{ float:right;}
.clear{ clear:both;}
textarea{overflow:auto;resize:none;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
.hand{cursor:pointer;}

.warp{ width:100%; height:100%; overflow:hidden;}
.warp_header{ width:100%; height:70px; overflow:hidden; position:fixed; top:0px; left:0px; z-index:30;}
.warp_opacity{width:100%; height:70px; position:fixed; top:0px; left:0px; background:#000; opacity: 0.4; filter:alpha(opacity:40); z-index:20;}
.warp_menu{ max-width:1200px;width:100%; height:70px; overflow:hidden; margin:0 auto; position:relative; z-index:25;}
.warp_logo{ width:42px; height:70px; float:left; margin-top:14px;}
.warp_logo img{width:42px; height:42px;}
.warp_right{ height:70px; float:right;}
.warp_nav{ height:70px; float:left; margin-right:55px;}
.warp_nav ul{ margin:0px; padding:0px;}
.warp_nav ul li{ margin-right:32px; float:left; list-style:none;}
.warp_nav ul li a{color:#fff; font: 12px/70px "Microsoft yahei","微软雅黑"; display: block; padding-right:6px; float: left;}
.warp_nav ul li:last-of-type{ margin-right:0px;}
.warp_nav ul li.warp_hs a{color:#999; font: 12px/70px "Microsoft yahei","微软雅黑";}
.warp_nav ul li.on{ background:url(../img/warp_nav_pic.png) left top no-repeat; color:#e8bc9e; font: 12px/70px "Microsoft yahei","微软雅黑";}
.warp_Language{ width:auto; height:70px; float:left;margin-right:40px;}
.warp_Language span{display:block; float:left; height:40px; font-size:12px; line-height:70px; font-family:'Microsoft YaHei','微软雅黑'; color:#999;}
.warp_Language span.name_span{ margin:30px 8px 0 15px;}
.warp_Language span.name_span img{width:20px; height:13px;}
.warp_Language span i,.warp_Language span em,.warp_Language span b{display:block; float:left; margin:0 4px 0 4px;}
.warp_Language span b{ margin-left:3px; height:40px;}
.warp_Language span b img{width:6px; height:11px;}
.warp_login{ width:60px; float:right;}
.warp_login ul{ margin:0px; padding:0px;}
.warp_login ul li{ list-style:none; float:left; margin-right:12px;}
.warp_login ul li:last-of-type{ margin-right:0px;}
.warp_login ul li a{color:#999; font: 12px/70px "Microsoft yahei","微软雅黑";}

.warp_banner{  width:100%; overflow:hidden; height:730px; border-bottom:1px solid #eee; position:relative; z-index:10;}
.warp_banner_c{width:100%; overflow:hidden; height:730px; border-bottom:1px solid #eee; position:relative;}
.warp_banner ul{ margin:0px; padding:0px;}
.warp_banner ul li{ width:100%; float:left; overflow:hidden; }
.warp_num1_pic{position:relative; width:100%; height:730px; overflow:hidden; background:url(../img/warp_banner_pic1.jpg) center center no-repeat; background-size:cover;}
.warp_mask_cnum1{position:absolute; left:50%; top:26.8%; z-index:30; margin-left:-410px; width:820px; height:442px; background:#2b2b2b; opacity: 0.75; filter:alpha(opacity:75);}
.warp_num1_c{position:absolute; left:50%; top:26.8%; z-index:33; margin-left:-343px; width:685px; height:442px;}
.warp_num1_c em{ display:block; margin-top:60px;}
.warp_num1_c span{word-spacing:15px;letter-spacing:15px; display:block; width:700px; height:70px; margin:0 auto; margin-top:30px; text-align:center; color:#fff; font: bold 66px/66px "微软雅黑","Microsoft yahei";}
.warp_num1_c p{word-spacing:4px;letter-spacing:4px; width:650px; height:60px; margin:0 auto; margin-top:50px; text-align:center; color:#fff; font: 48px/48px "Microsoft yahei","微软雅黑";}
.warp_num2_pic{position:relative; width:100%; height:730px; overflow:hidden; background:url(../img/warp_banner_pic2.jpg) center center no-repeat; background-size:cover}
.warp_mask_c{position:absolute; left:24.2%; top:173px; z-index:30; width:508px; height:296px; background:#000; opacity: 0.75; filter:alpha(opacity:75);}
.warp_cont_c{position:absolute; left:24.2%; top:173px; z-index:44; width:508px; height:296px;}
.warp_cont_c span{word-spacing:15px;letter-spacing:15px; display:block; margin-left:21%; width:325px; height:160px; padding-top:39px; text-align:center; color:#fff; font: 66px/70px "Microsoft yahei","微软雅黑";}
.warp_cont_c p{word-spacing:4px;letter-spacing:4px; width:470px; height:44px; margin-left:4%;  margin-top:5px; text-align:center; color:#fff; font: 48px/48px "Microsoft yahei","微软雅黑";}
.warp_num3_pic{position:relative;  width:100%; height:730px; overflow:hidden; background:url(../img/warp_banner_pic3.jpg) center center no-repeat; background-size:cover}
.warp_num3_mask{position:absolute; right:20.6%; top:58%; z-index:30; width:742px; height:240px; background:#000; opacity: 0.75; filter:alpha(opacity:75);}
.warp_num3_c{position:absolute; right:20.6%; top:58%; z-index:44; width:742px; height:240px;}
.warp_num3_c span{word-spacing:15px;letter-spacing:15px; display:block; width:705px; height:60px; margin:0 auto; margin-top:40px; text-align:center; color:#fff; font: 66px/66px "Microsoft yahei","微软雅黑";}
.warp_num3_c p{word-spacing:4px;letter-spacing:4px; width:705px; height:60px; margin:0 auto; margin-top:40px; text-align:center; color:#fff; font: 48px/48px "Microsoft yahei","微软雅黑";}
.warp_num4_pic{position:relative;  width:100%; height:730px; overflow:hidden; background:url(../img/warp_banner_pic4.jpg) center center no-repeat; background-size:cover}
.warp_num4_mask{position:absolute; right:29.8%; top:50.3%; z-index:30; width:757px; height:295px; background:#000; opacity: 0.75; filter:alpha(opacity:75);}
.warp_num4_c{position:absolute; right:29.8%; top:50.3%; z-index:44; width:757px; height:295px;}
.warp_num4_c span{word-spacing:15px;letter-spacing:15px; display:block; width:705px; height:60px; margin:0 auto; margin-top:40px; text-align:center; color:#fff; font: 66px/66px "Microsoft yahei","微软雅黑";}
.warp_num4_c p{word-spacing:4px;letter-spacing:4px; width:705px; height:60px; margin:0 auto; margin-top:30px; text-align:center; color:#fff; font: 48px/60px "Microsoft yahei","微软雅黑";}
.warp_num4_c p i,.warp_num4_c p em{ display:block;}

.warp_banner ol{ width:70px; height:6px; position:absolute; left:50%; margin-left:-35px; bottom:31px;}
.warp_banner ol li{ width:6px; height:6px; background:url(../img/warp_bin.png) no-repeat; float:left; margin-right:10px; cursor:pointer;}
.warp_banner ol li:last-of-type{ margin-right:0px;}
.warp_banner ol li.active{ background:url(../img/warp_onbin.png) no-repeat;}

.prev{display:block; width:28px; height:47px; position:absolute; left:17%;top:377px;  z-index: 55;}
.next{display:block; width:28px; height:47px; position:absolute; right:17%;top:377px;  z-index: 55;}

.warp_footer{ width:100%; height:258px;}
.warp_footer_nav{max-width:1200px;width:100%; height:200px; overflow:hidden; margin:0 auto; margin-top:4px;}
.warp_footer_nav ul{ margin:0px; padding:0px;}
.warp_footer_nav ul li{ width:25.1%; height:auto; float:left;}
.warp_footer_nav ul li:last-of-type{width:24.7%;}
.warp_footer_nav ul li div{height:auto; float:left; position:relative;}
.warp_footer_nav ul li div span{ display:block; width:100%; height:200px;}
.warp_footer_nav ul li div span img{width:100%; height:100%;}
.warp_footer_nav ul li div em.warp_em_mask{ display:block; position:absolute; left:0px; bottom:0px; width:297px; height:40px; background:#000; opacity: 0.7; filter:alpha(opacity:70);}
.warp_footer_nav ul li div i{position:absolute; left:50%; margin-left:-36px;bottom:0px; display:block; color:#fff; font: 14px/40px "Microsoft yahei","微软雅黑"; text-align:center;}
.warp_footer_record{ width:100%; height:56px;}
.warp_footer_record p{ max-width:1200px;width:100%; height:56px; margin:0 auto; text-align:center; color:#ababab; font: 12px/56px "Microsoft yahei","微软雅黑"; text-align:center;}