body{
	position:relative;
}
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div{padding:0;margin:0;}
a{
	//-webkit-tap-highlight-color:transparent;
	text-decoration:none;
}
i,em{font-style:normal;}
.news_content_c i,.news_content_c em{font-style:italic;}
input {outline:medium;outline:none;-webkit-appearance:none;/*去除input默认样式*/}
ul,ol{
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
}

html,body{
	width:100%;
	height:auto;
	overflow: auto;
	position:relative;
	background:#f8f8f8;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
/* placeholder 字体颜色改变 */
::-webkit-input-placeholder { /* WebKit browsers */color:#666;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#666;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#666;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#666;}
.warmp{width:100%;position:relative;}
.search_top{width:95%;height:1rem;overflow:hidden;margin:0 auto;}
.search_text{height:1rem;float:left;width:78%;position:relative;}
.search_text input{width:100%;height:.7rem;border:none;display:block;font-size:.25rem;margin:0.15rem 0 0.15rem 0;text-indent:.2rem;font-family:"Microsoft YaHei";}
.search_text span{position: absolute;width:.4rem;height:.4rem;right:.2rem;top:.3rem;z-index:22;}
.search_text span img{width:100%;height:100%;}
.search_top button{width:17%;height:.72rem;background:#444;border:1px solid #333;float:right;font-size:.25rem;color:#ccc;margin:.15rem 0 .15rem 0;border-radius:3px;font-family:"Microsoft YaHei";}
.content_img,.content_info{width:100%;margin-top:0.1rem;}
.content_img ul,.content_info ul{width:95%;margin:0 auto;transform-style:preserve-3d;}
.content_img{margin-top:-885.2px;}
.content_img ul li{
	width:100%;
	transform-style:preserve-3d;
	margin-bottom:0.1rem;
	display: -webkit-flex;
    display: flex;
    overflow:hidden;
    position:relative;
    height:220px!important;
}

.content_img ul li img{
	width:100%;
	height:220px;
	z-index:1;
	//transform: perspective(65rem) rotateX(-50deg);
	//transform:rotate3d(1,-0.5,0,-30deg);
	//-webkit-transform:rotateX(-40deg);
}
.content_img ul li span.remove_card{
	display:block;
	width:70px;height:100%;
	background:#E64340;
	color:#fff;
	font-size:16px;
	text-align:center;
	line-height:220px;
	position:absolute;
	right:0px;
	top:0;
	z-index:222;
}
.content_img ul li.show{
	width:100%;
	height:auto;
}
.content_img ul li.show img{
	transform: perspective(0) rotateX(0);
}
.info_img img{width:100%;height:auto;}
.content_info ul li{overflow:hidden;padding:0.1rem 0;text-decoration:underline;}
.content_info ul li span.span_w{width:12%}
.content_info ul li div.company_w{float:left;width:85%;}
.content_info ul li div.company_w span{margin-bottom:0.1rem;}
.content_info ul li span{color:#ccc;font-size:0.25rem;float:left;font-family:"Microsoft YaHei";}
.sound_bg{width:100%;height:100%;position:absolute;left:0;top:0;background-color:rgba(0,0,0,0.5);}

/*企业信息样式*/
.nav{width:100%;height:.8rem;position:absolute;left:0;top:0;background:#111;}
.nav_bar{height:100%;overflow-x:auto;display:-webkit-box;display:box;}
.nav a{display:block;width:1.15rem;color:#ccc;font-size:0.25rem;line-height:.8rem;text-align:center;}
.nav_bar::-webkit-scrollbar {display: none !important;  }  
.nav-trim{width:100%;height:.8rem;}
.content{width:100%;margin:0 auto;}
.company_title,.company_title ol{width:96%;margin:0 auto;}
.company_title ol li{height:.5rem;line-height:.5rem;}
.company_title ol li span{font-size:.25rem;color:#ccc;font-family:"Microsoft YaHei";float:left;}
.company_title ol li span.tit_font{font-size:.3rem;}
.item_tit{width:100%;overflow:hidden;}
.item_tit h3{font-size:.3rem;color:#ccc;background:#444;line-height:.7rem;width:100%;font-family:"Microsoft YaHei";font-weight:400;padding-left:3%;}
.item_info ol{width:96%;margin:0 auto;}
.item_info ol li{width:100%;padding:0.1rem 0;overflow:hidden;}
.item_info ol li span{float:left;font-size:.25rem;color:#ccc;font-family:"Microsoft YaHei";text-align:right;}
.item_info ol li em{float:left;font-size:.25rem;color:#ccc;font-family:"Microsoft YaHei";padding-right:.2rem;}
.per_name{width:96%;padding:.2rem 0;margin:0 auto;}
.item_per h4{color:#ccc;font-size:.3rem;font-weight:400;}
.fa_gun{width:96%;margin:0 auto;}
.fa_gun p{float:left;color:#ccc;padding:.1rem 0;font-size:0.25rem;padding-bottom:0.2rem;}
.item_info img{width:0.66rem;height:auto;text-align:center;}

/*个人情况数据列表*/
.per_name{width:100%;padding:.2rem 0;}
.per_name h3{font-size:.35rem;font-family:"Microsoft YaHei";color:#fff;width:96%;margin:0 auto;font-weight:500;}
.name_title{width:100%;height:.7rem;background:#444;}
.name_title h4{font-size:.3rem;font-family:"Microsoft YaHei";line-height:.7rem;font-weight:400;color:#ccc;width:96%;margin:0 auto;}
.per_list{width:100%;}
.per_list ul{width:96%;margin:0 auto;}
.per_list ul li{padding:.1rem 0;overflow:hidden;}
.per_list ul li span,.per_list ul li em{font-size:.25rem;color:#ccc;font-family:"Microsoft YaHei";float:left;}
.per_item{width:96%;margin:0 auto;}
.per_item p{font-size:.25rem;font-family:"Microsoft YaHei";padding:.1rem 0;color:#ccc;}


/*拍照样式*/
.photo{width:100%;height:100%;}
.photo_tit{width:100%;font-size:0.25rem;text-align:center;color:#ccc;padding:0.4rem 0;}
.photo_box{width:70%;height:8rem;margin:0 auto;background:#615d5d;}


.img_info{width:100%;}
.img_info img{width:100%;}


.detail .weui-cell__hd{width:80px;}

.code{width:100%;height:100%;position:relative;}
.code_bg{width:200px;height:220px;text-align:center;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.code_img img{width:150px;height:150px;margin-bottom:5px;}
.code_bg p{width:200px;color:#ccc;font-size:14px;text-align:center;padding-top:1px;}