html,body,.connection_map{
    height:100%;
    padding: 0px;
    margin: 0px;
    overflow-x:visible;
    overflow-y:visible;
}
body{
    background-color: #494a5f !important;
}

.card_img{
    width: 100%;
}