html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family:"microsoft yahei";
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
body {
	line-height: 1;
	font-size:14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
input,textarea,button{
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
a{
	text-decoration:none;
}
img{
	vertical-align:middle;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 清除浮动 */
.clear{ clear:both;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}
body{
	background-color:#f7f7f7;
}
.r-main{
	width:100%;
}
.z-content{
	width:91.333%;
	margin:0 auto;
	overflow:hidden;
}

/**搜索页**/
.search-item{
	width:91.333%;
	margin:.2rem auto;
	height:.375rem;
	position:relative;
}
.true-search{
	width:100%;
	height:.375rem;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.left-input{
	height:.375rem;
	flex:1;
	-webkit-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	background:#fafafa;
	border-radius:.05rem;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.left-input em{
	display:block;
	width:.385rem;
	height:.375rem;
	text-align:center;
	line-height:.375rem;
}
.left-input em img{
	width:.16rem;
	height:.16rem;
}
.left-input input{
	display:block;
	flex:1;
	-webkit-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	height:.375rem;
	border:none;
	background:none;
	color:#2f8cff;
	font-size:.14rem;
}
.true-search .cannel-span{
	display:block;
	font-size:.14rem;
	color:#2f8cff;
	line-height:.375rem;
	width:.375rem;
	text-align:right;
}
.z-search{
	width:100%;
	height:.375rem;
	background:#fff;
	border-radius:.05rem;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
}
.z-search span{
	display:block;
	width:100%;
	text-align:center;
	line-height:.375rem;
	font-size:.15rem;
	color:#9d9d9d;
}
.z-search span img{
	width:.16rem;
	height:.16rem;
	margin-right:.07rem;
}
.se-history{
	width:100%;
	position:absolute;
	top:.5rem;
	left:0;
	background-color:#eef1f8;
	z-index:30;
    display: none;
	/* margin-left:.16rem;
	margin-top:.21rem; */
}
.se-history h3{
	width:91.333%;
	margin:0 auto;
	color:#999;
	font-size:.12rem;
	font-weight:400;
	padding-left:.05rem;
}
.history-list{
	width:91.333%;
	margin:0 auto;
	min-height:1rem;
}
.history-list li{
	width:100%;
	height:.5rem;
	line-height:.5rem;
	border-bottom:.01rem solid #d9d9d9;
}
.history-list li span{
	width:2.7rem;
	color:#333;
	font-size:.12rem;
	padding-left:.05rem;
	float:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.history-list li em{
	float:right;
	width:.15rem;
	height:.15rem;
	background:url(../../images/wei/s-colose.png) no-repeat;
	background-size:100% 100%;
	margin-top:.2rem;
	margin-right:.15rem;
}
.clear-history{
	width:100%;
	height:.575rem;
	line-height:.575rem;
	text-align:center;
}
.clear-history p{
	color:#666;
	font-size:.12rem;
}

/**搜索end**/


.z-file{
	width:100%;
}
.tit-s{
	height:.18rem;
}
.tit-s em{
	float:right;
	line-height:.18rem;
	font-style:normal;
	color:#0378ff;
	font-size:.15rem;
}
.tit-s h2{
	float:left;
}
.z-title h2{
	color:#333;
	font-size:.15rem;
	line-height:.18rem;
	font-weight:400;
}
.z-file-item{
	width:100%;
	overflow:hidden;
	margin-top:.16rem;
}
.z-file-item dl{
	width:.81rem;
	float:left;
	margin:0 .165rem .18rem .165rem;
}
.z-file-item dl dt{
	width:.81rem;
	height:.81rem;
	text-align:center;
	line-height:.69rem;
	position:relative;
}
.z-file-item dl.add-dl dt{
	background:url(../../images/wei/r_bg_h_03.png) no-repeat;
	background-size:100% 100%;
	text-align:center;
}
.add-dl dt span{
	font-size:.5rem;
	line-height:.81rem;
	color:#ccc;
}
.z-file-item dl.z-name-file dt{
	background:url(../../images/wei/r_bg_03.png) no-repeat;
	background-size:100% 100%;
}
.z-name-file dt i{
	position:absolute;
	width:.18rem;
	height:.18rem;
	right:0;
	top:0;
	background:url(../../images/wei/z-jian_06.png) no-repeat;
	background-size:100% 100%;
	z-index:10;
	display:none;
}
.z-name-file dt img{
	max-width:.69rem;
	max-height:.69rem;
}
.z-name-file dd{
	text-align:center;
}
.z-name-file dd h4{
	font-size:.15rem;
	color:#333;
	line-height:.18rem;
	font-weight:400;
	margin-top:.05rem;
}
.z-name-file dd p{
	font-size:.12rem;
	color:#999;
	margin-top:.05rem;
}
/**新建文件夹弹框**/
.news-dialog{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	background:rgba(0,0,0,.6);
	display:none;
}
.z-dia-content{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	width:2.7rem;
	height:1.88rem;
	background:#eef1f8;
	border-radius:.05rem;
}
.z-dia-content h3{
	width:100%;
	height:.4rem;
	background:#fff;
	text-align:center;
	line-height:.4rem;
	color:#000;
	font-size:.14rem;
	font-weight:400;
	border-top-left-radius: .05rem;
	border-top-right-radius:.05rem;
	position:relative;
}
.z-dia-content h3 img{
	position:absolute;
	width:.125rem;
	height:.125rem;
	float:right;
	top:.14rem;
	right:.21rem;
}
.z-dia-input{
	width:100%;
	height:1.03rem;
	overflow:hidden;
}
.z-dia-input input{
	display:block;
	width:2.28rem;
	height:.38rem;
	border:1px solid #dce1eb;
	background:#fff;
	outline:none;
	margin:.325rem auto;
	font-size:.14rem;
	color:#8e8e93;
	text-indent:10px;
}
.z-dia-btn{
	width:100%;
	height:.44rem;
	border-top:.01rem solid #dce1eb;
	overflow:hidden;
}
.z-dia-btn button{
	float:left;
	width:49%;
	font-size:.15rem;
	color:#0378ff;
	border:none;
	background:none;
	outline:none;
	height:.44rem;
}
.z-dia-btn .first-btn{
	border-right:.01rem solid #dce1eb;
}

/**图片列表**/
.list-top{
	width:100%;
	margin:0 auto;
	position:relative;

}
.img-content{
	width:100%;
	overflow:hidden;
}
.l-edit{
	width:100%;
	height:.22rem;
	line-height:.22rem;
	margin-bottom:.09rem;
}
.l-edit i{
	color:#0378ff;
	font-size:.14rem;
	float:left;
	margin-left:.15rem;
	font-style:normal;
}
.l-edit span{
	color:#0378ff;
	font-size:.14rem;
	float:right;
	margin-right:.15rem;
}
.l-img-list{
	width:100%;
	overflow:hidden;
}
.l-img-list li{
	width:.85rem;
	height:.85rem;
	border:.01rem solid #e2e7f0;
	text-align:center;
	line-height:.865rem;
	background:#fff;
	float:left;
	position:relative;
	margin:0 .032rem .06rem .032rem;
	overflow:hidden;
}
.l-img-list li img{
	max-width:.85rem;
	max-height:.85rem;
}
.l-img-list li i{
	position: absolute;
	top:.05rem;
	right:.08rem;
	width:.18rem;
	height:.18rem;
	background:url(../../images/wei/z-right_06.png) no-repeat;
	background-size:100% 100%;
	z-index:10;
	display:none;
}
.img-num-all{
	width:100%;
	height:.2rem;
	line-height:.2rem;
	text-align:center;
	padding:.15rem 0;
}
.img-num-all span{
	color:#333;
	font-size:.16rem;
}
.l-operate{
	width:100%;
	height:.5rem;
	display:none;
}
.l-operate-c{
	width:100%;
	height:.49rem;
	border-top:.01rem solid #cfd1d7;
	background:#fff;
	position:fixed;
	bottom:0;
	left:0;
	z-index:97;
	line-height:.49rem;
}
.l-operate-c span{
	color:#0378ff;
	font-size:.17rem;
}
.l-operate-c span.add-span{
	float:left;
	margin-left:.29rem;
}
.l-operate-c span.remove-span{
	float:right;
	margin-right:.325rem;
}

/**页脚，tab切换**/
.r-foot{
	width:100%;
	height:.5rem;
}
.foot-content{
	width:100%;
	height:.49rem;
	border-top:.01rem solid #cfd1d7;
	background:#fff;
	display:flex;
	display:-webkit-flex;
	display:box;
	display:-webkit-box;
	position:fixed;
	left:0;
	bottom:0;
	z-index:95;
}
.foot-content dl{
	width:33.33%;
	text-align:center;
}
.foot-content dl dt{
	margin:0 auto;
	background-repeat:no-repeat;
	background-size:auto 100%;
	margin-top:.07rem;
	margin-bottom:.03rem;
}
.foot-content dl dt.file-icon{
	width:.16rem;
	height:.195rem;
	background-image:url(../../images/wei/r-tab1_03.png);
}
.foot-content dl dt.page-icon{
	width:.19rem;
	height:.19rem;
	background-image:url(../../images/wei/r-tab1_03.png);
	background-position:-.33rem 0;
	margin-bottom:.05rem;
}
.foot-content dl dt.q-icon{
	width:.225rem;
	height:.22rem;
	background-image:url(../../images/wei/r-tab1_03.png);
	background-position:-.73rem 0;
}
.foot-content dl.active dt.file-icon{
	background-image:url(../../images/wei/r-tab2_06.png);
}
.foot-content dl.active dt.page-icon{
	background-image:url(../../images/wei/r-tab2_06.png);
	background-position:-.33rem 0;
	margin-top:.08rem;
}
.foot-content dl.active dt.q-icon{
	background-image:url(../../images/wei/r-tab2_06.png);
	background-position:-.73rem 0;
}
.foot-content dl dd{
	color:#666;
	font-size:.1rem;
}
.foot-content dl.active dd{
	color:#2f8cff;
}

/**最近上传**/
.news-list-f{
	width:100%;
	overflow:hidden;
	margin-bottom:.2rem;
}
.l-edit em{
	color:#333;
	font-size:.14rem;
	font-style:normal;
	padding-left:.15rem;
}
.l-edit b{
	float:right;
	width:.22rem;
	height:.22rem;
	padding-right:.08rem;
}
.l-edit b:before{
	content:"";
	display:block;
	width:.11rem;
	height:.21rem;
	background:url(../../images/wei/r-ri-s.png) no-repeat;
	background-size:100% 100%;
}
.add-img-r{
	width:.45rem;
	height:.45rem;
	background:url(../../images/wei/add-kou.png) no-repeat;
	background-size:100% 100%;
	position:fixed;
	right:.15rem;
	bottom:.64rem;
	z-index:30;
}

/**添加到文件夹弹框**/
.add-dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	display:none;
}
.add-content{
	width:2.96rem;
	height:3.39rem;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	background:#fff;
	border-radius:.05rem;
}
.add-tit{
	width:100%;
	height:.4rem;
	line-height:.4rem;
	position:relative;
}
.add-tit h3{
	color:#000;
	font-size:.14rem;
	font-weight:normal;
	text-align:center;
}
.add-tit span.close-dia{
	position:absolute;
	top:.12rem;
	right:.12rem;
	width:.15rem;
	height:.15rem;
	background:url(../../images/wei/z-close_06.png) no-repeat;
	background-size:100% 100%;
}
.dis-file-list{
	width:100%;
	height:2.28rem;
	overflow-y:auto;
	background:#eef1f8;
	padding-top:.3rem;
}
.dis-file-list dl{
	width:.72rem;
	text-align:center;
	margin-bottom:.16rem;
	margin-left:.13rem;
	margin-right:.13rem;
	float:left;
}
.dis-file-list dt{
	width:.72rem;
	height:.72rem;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.file-bg dt{
	background-image:url(../../images/wei/r_bg_03.png);
	line-height:.72rem;
	text-align:center;
	position:relative;
}
.file-bg dt img{
	max-width:.6rem;
	max-height:.6rem;
}
.file-bg dt b{
	position: absolute;
	right:0;
	top:0;
	width:.18rem;
	height:.18rem;
	background:url(../../images/wei/z-right_06.png) no-repeat;
	background-size:100% 100%;
	z-index:5;
	display:none;
}
.file-bg dd{
	color:#333;
	font-size:.15rem;
	line-height:.23rem;
}
.add-bg dt{
	line-height:.72rem;
	text-align:center;
	font-size:.3rem;
	font-weight:400;
	color:#ccc;
	background-image:url(../../images/wei/r_bg_h_03.png);
}
.add-file-btn{
	width:100%;
	height:.4rem;
	line-height:.4rem;
	text-align:center;
}
.add-file-btn span{
	color:#0378ff;
	font-size:.14rem;
}
/**成功失败弹框**/
.su-dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	display:none;
}
.su-content{
	width:1.7rem;
	height:1.4rem;
	border-radius:.05rem;
	background:rgba(0,0,0,.4);
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}
.su-dl{
	text-align:center;
}
.su-dl dt{
	margin-top:.36rem;
}
.su-dl dt img{
	width:.29rem;
	height:.29rem;
}
.su-dl dd{
	color:#fff;
	font-size:.15rem;
	line-height:.2rem;
	margin-top:.15rem;
}