@CHARSET "UTF-8";
.exportinfo_warp{width:100%; min-height:836px;margin: 0px auto; overflow:hidden; margin-top:15px; background:#fff;}
.exportinfo_sj{ width:90%; height:40px; overflow:hidden; margin-left:10%;}
.exportinfo_sj span{ display:block; float:left; margin-right:10px; color:#333; font: 14px/40px "Microsoft yahei","微软雅黑";}
.exportinfo_sj span.title_span{ width:70px; height:40px; font-weight:bold;}
.exportinfo_sj span i{ display:block; float:left; margin-right:10px;}
.exportinfo_sj span em{ display:block; float:left; margin:0 10px 0 0px}
.exportinfo_jg{ width:90%; height:40px; overflow:hidden; margin-left:10%;}
.exportinfo_jg span{display:block; float:left; margin-right:10px; color:#333; font: 14px/40px "Microsoft yahei","微软雅黑";}
.exportinfo_jg span i{ display:block; float:left; margin-right:15px;}
.exportinfo_gs{ width:90%; height:auto; overflow:hidden; margin-left:10%;}
.exportinfo_gs span{display:block; margin-right:10px; color:#333; font: 14px/40px "Microsoft yahei","微软雅黑";}
.exportinfo_gs span.title_span{ width:70px; height:40px; font-weight:bold;}
.exportinfo_form{ width:90%; margin-left:5%; height:auto; overflow:hidden;}
.exportinfo_form label{margin-bottom: 30px; display:block; width:160px; height:50px; float:left; margin-right:70px; background:#ccc; text-align:center; color:#333; font: 14px/50px "Microsoft yahei","微软雅黑";}
.exportinfo_form label.on{background:#00cc00; color:#fff;}
.exportinfo_form label input{ margin-top:0px !important; margin-right:5px;}
.button_bgcolor{ background:#505050; border-color: #505050; margin-right:45px;}
.button_bgcolor:hover{background:#505050; border-color: #505050;}

















