@CHARSET "UTF-8";
.fontsize22{color:#333; font: bold 22px/56px "Microsoft yahei","微软雅黑";}
.fontsize_22{color:#333; font: bold 22px/30px "Microsoft yahei","微软雅黑";}
.fontsize_i18{color:#ff6600; font:18px/56px "Microsoft yahei","微软雅黑";}
.fontsize_public16{color:#fff; font:16px/30px "Microsoft yahei","微软雅黑";}
.fontsize_pubbin16{color:#fff; font:16px/40px "Microsoft yahei","微软雅黑";}
.fontsize_b16{color:#333; font:16px/50px "Microsoft yahei","微软雅黑";}
.fontsize_b22{color:#333; font:20px/40px "Microsoft yahei","微软雅黑";}
.fontsize_em{color:#333; font: bold 18px/50px "Microsoft yahei","微软雅黑";}
.fontsize_i{color:#ff663a; font: bold 16px/50px "Microsoft yahei","微软雅黑";}

/**
*
* 购买页面样式
*
**/
.byorren_warp{ width:100%; min-height:800px; overflow:hidden; background:#fff; padding-bottom:20px;}
.byorren_center{ width:60%; height:auto; overflow:hidden; margin:0 auto; margin-top:30px;}
@media (max-width:1360px){
    .byorren_center{
        width:75%;
    }
}
@media (max-width:1150px){
    .byorren_center{
        width:90%;
    }
}
@media (max-width:1000px){
    .byorren_center{
        width:97%;
    }
}
.byorren_title{ width:100%; height:40px; overflow:hidden;}
.byorren_sq{ width:100%; height:50px; overflow:hidden; margin-top:20px;}
.byorren_sq span.title{ width:20%; height:50px;}
.byorren_list{ width:55%; height:50px; overflow:hidden;}
.byorren_list span{ margin-right:4px; display:block; float:left;width:13.8888888%;height:45px;text-align:center;line-height:45px; border:1px solid #797979;cursor:pointer;}
.byorren_list span.on{ background:#505050;color:#fff;}
.byorren_zdy{ width:25%; height:50px; overflow:hidden;}
.byorren_zdy i{width:35%;height:50px; overflow:hidden;}
.byorren_zdy input{ width:65%; height:45px; background:#fff; border:1px solid #797979;}
.byorren_dl{ width:80%; height:50px; overflow:hidden;}
.byorren_dl span{ margin-right:4px; display:block; float:left;width:11.46555%;height:45px;text-align:center;line-height:45px; border:1px solid #797979;cursor:pointer;}
.byorren_dl span.on{ background:#505050;color:#fff;}

.byorren_fkje{text-align: right; width:100%; height:50px; margin-top:20px; overflow:hidden; border-top:1px dashed #797979; border-bottom:1px solid #797979;}

.addpay_money{ width:100%; height:auto; overflow:hidden; margin:0 auto; margin-top:30px;}
.addpay_money span{display:block; width:100%; height:30px; float:left;}
.addpay_money_card{ width:100%; height:300px; overflow:hidden; margin-top:40px; float: left;}
.addpay_money_card ul{margin:0px; padding:0px;}
.addpay_money_card ul li{ margin-bottom:18px;}
.addpay_money_card ul li label{ float:left;}
.addpay_money_card ul li label input{ float:left; margin-top: 12px; margin-right:7px;}
.addpay_money_card ul li label img{ width:145px; height:32px; float:left; border:1px solid #ddd;}
.addpay_button{ width:220px; height:40px; margin: 20px auto;}
.addpay_button input{width:220px; height:40px; background:#505050;color:#fff; border:none;}

.addpay_pop{ width:40%; height:400px; overflow:hidden; background:#fff; border:1px solid #b8b8b8; position:fixed; left:50%; top:50%; margin-left:-20%; margin-top:-200px; z-index:99999999;}
.pop_img{ width:100px; height:100px; margin:40px auto;}
.pop_text{ text-align:center; font: 22px/22px "微软雅黑"; color:#ff0000; margin-top:17px;}
.pop_tshi{ text-align:center; font: 14px/14px "微软雅黑"; color:#333; margin-top:40px;}
.pop_tshi i{ color:#ff6600;}
.pop_fhui{ width:140px; height:40px; margin:50px auto;}
.pop_fhui input{ width:140px; height:40px; background:#169bd5; border:none;}


.addpay_sccuss{ width:30%; height:340px; overflow:hidden; background:#fff; border:1px solid #b8b8b8; position:fixed; left:50%; top:50%; margin-left:-15%; margin-top:-170px; z-index:99999999;}
.pop_text_t{color:#008000; text-align:center; font: bold 20px/20px "微软雅黑"; margin-top:17px;}

.addpay_ddan_pop{ width:520px; height:270px; background:#ccc; border:1px solid #b8b8b8; position:fixed; left:50%; top:50%; margin-left:-260px; margin-top:-135px; z-index:199999;}
.addpaytitle_close{ width:518px; height:36px; background:#008000;}
.addpaytitle_close span{ display:block; float:left; width:478px; height:36px; text-align:center; font: 14px/36px "微软雅黑"; color:#fff;}
.addpaytitle_close b{ width:30px; height:29px; float:right;background:url("../../images/close_n.png") no-repeat left; margin-right:10px; margin-top:3px;}
.addpaytitle_text{width:518px; height:60px; margin-top:50px;}
.addpaytitle_text p{ font: 14px/20px "微软雅黑"; color:#333; text-align:center;}
.addpaytitle_btn{ width:305px; height:40px; margin:0 auto; margin-top:20px;}
.addpaytitle_btn input{ margin-right:10px; width:140px; height:40px; border:none; background:#169bd5;}
.addpaytitle_btn input:last-of-type{ margin-right:0px;}
.addpaytitle_href{ width:305px; height:20px; margin:0 auto; margin-top:20px;}
.addpaytitle_href a{color:#000; font: 14px/20px "微软雅黑"; text-decoration:underline;}

/**
*
* 扫描仪页面样式
*
**/
.company_scanner_warp{width:100%; min-height:800px; overflow:hidden; background:#fff; padding-bottom:20px;}
.company_scanner{margin-left:1%; float:left; width:100%; height:auto; overflow:hidden; border-left:5px solid #7a7a7a;}
.company_scanner_list{ width:95%; height:115px; margin-top: 10px;}
.scannertime{ margin-left:10px; color:#000; font: 14px/14px "Microsoft yahei","微软雅黑"; font-weight:bold;}
.scannersummary{background:#f2f2f2; height:80px; margin-top:10px;}
.scannersummary p{margin-left:10px; padding-top:12px; font: 14px/14px "Microsoft yahei","微软雅黑";}
.scannersummary p span{ margin-right:8%;}

/**
*
* 认证页面样式
*
**/
.certification_warp{ width:100%; height:auto; overflow:hidden; background:#fff; padding-bottom:20px; padding-top: 20px;}
.company_attest_left{ margin-left:.5%; float:left; width:35%; height:auto; overflow:hidden;}
.time{ margin-left:10px; color:#000; font: 14px/14px "Microsoft yahei","微软雅黑"; font-weight:bold;}
.summary{background:#f2f2f2; margin-top:10px;}
.summary p{margin-left:10px; padding-top:5px; font: 14px/20px "Microsoft yahei","微软雅黑";overflow:hidden;}
.summary p span{float:left;}
.company_attest_right{ width:64%; height:auto; overflow:hidden; float:right; padding-left:15px; border-left:2px dashed #7a7a7a;}
.company_zz{ border-bottom:1px solid #7a7a7a; width:98%; height:300px;}
.certification_right_c{ width:100%; height:auto; overflow:hidden; background:#fff;}
.company_attest_right h2{ color:#333; font: bold 20px/40px "Microsoft yahei","微软雅黑";}
.certification_right_c button.button_b{margin:20px 20px 20px 0;border:none; width:120px; height:35px; background:#ccc; text-align:center; color:#333; font: 14px/30px "Microsoft yahei","微软雅黑";border-radius:3px;}
.certification_right_c button.active{ background:#505050; color:#fff;border-radius:3px;}
.certification_c{ width:100%; height:auto; overflow:hidden;}
.uploadImgWrap {float: left;  width: 50%;float:left; margin-bottom: 30px;}
.uploadImgWrap span{display:block; color:#333; font: 16px/40px "Microsoft yahei","微软雅黑";}
.uploadImgWrap p span{ font: 70px/160px "Microsoft yahei","微软雅黑";}
.uploadImgWrap p img{max-width:300px;max-height:170px;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;z-index:22;}
.uploadImgWrap p span.remove_img{ position: absolute; top: 0; right: 0; width:20px; height:20px;background:#333;color:#fff;display:none; font: 16px/16px "Microsoft yahei","微软雅黑"; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; -ms-border-radius:50%; border-radius:50%;z-index:23;}
.uploadImgWrap p span.remove_img:hover{background:#eb2222;}
.upload_ts{ color:#333; font: 16px/30px "Microsoft yahei","微软雅黑";}
.upload_ts i{ color:#ff0000;}
.certification_right_c h5{ color:#333; font: bold 20px/40px "Microsoft yahei","微软雅黑";}
.inputWrap {width: 100%; height:auto; overflow:hidden; margin-top: 25px; font-size: 15px;}
.inputWrap .select2-container--default .select2-selection--single .select2-selection__rendered{line-height:20px;}
.inputWrap span{width:100px;display:block; float:left; color:#333; font: 16px/30px "Microsoft yahei","微软雅黑";}
.inputWrap span i{ color:#ff0000;}
.inputWrap input{ height:33px; width:270px; border:1px solid #aaa; background:none;text-indent:10px;}
.inputWrap label{width:100px;display:block; float:left; color:#333; font: 16px/30px "Microsoft yahei","微软雅黑";}
.inputWrap label i{ color:#ff0000;}
.inputWrap span.select2-selection{width:126px;}
.inputWrap span.select2{margin-right:16px;}
.inputWrap span.select2-selection__rendered{width:110px;}
.inputWrap select{ width:126px; height:33px; margin-right:14px;}
.inputWrap input.tx_input{ height:33px; width:270px; border:1px solid #aaa; background:none; margin:25px 0 0 100px;} 
.submit_input{ width:120px; height:35px; background:#505050; text-align:center; color:#fff; border:none; margin-left:100px; font: 14px/30px "Microsoft yahei","微软雅黑";border-radius:3px;}
.cer_queren{ color:#ff6600; font: 14px/30px "Microsoft yahei","微软雅黑"; margin-left:100px; margin-top:20px;}
.company_attest_left .summary{
			background:lightgray;
			line-height:24px;
			padding:7px 5px
		}
		.company_attest_left .company_attest_list{
			margin:12px 2px;
		}
        
        .maskLayer {
            position: fixed;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 19891015;
            background-color: #000;
            opacity: 0.7;
            filter: alpha(opacity=70);
            display: none;
            color: white;
        }

        .maskLayer .on {
            background-color: #00a0e9;
        }

        .step_2 > .on {
            background-color: #00a0e9;
        }

        .js_uploadImg_single {
            width: 300px;
            border: 1px solid #ccc;
            height: 170px;
            font-family: "Arial Negreta", "Arial";
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            text-align: center;
            cursor: pointer;
            background-color: rgba(242, 242, 242, 1);
            position: relative;
            background-size:100% 100%!important;
        }
        .uploadImgWrap .js_start_upload{
        	display:none;
        }
        .on{
        	background:lightblue;
        }