@CHARSET "UTF-8";
.staff_warp{ width:100%;height: auto;margin: 0px auto; overflow:hidden; margin-top:15px;}
.container_right{ width:100%;height:auto; overflow:hidden;}
.staff_table{background: #fff; width:100%;min-height:560px;margin: 0px auto 0px; overflow:hidden;}
.search_div{height: 35px;padding: 0 10px; width: 100%;margin:20px 0;}
.search_div_no{height: 35px;margin: 20px 0; width: 100%;}
.search_div_no a{display:block;float:right;width:114px;height:35px;margin-right:13px;}
.search_div_no a input{width:100%;height:35px;border:none;background:#505050;border-radius:3px;color:#fff;}
.left_w{width:80%;float:left;}
.btn_fl_right{width:20%;float:right;}
/*员工邀请头部页面响应样式*/
@media (max-width:1276px){
    .left_w{width:75%;}
}
@media (max-width:1213px){
    .left_w{width:80%;}
    .staff_mail{width:18%;}
}
@media (max-width:1149px){
    .left_w{width:100%;}
    .btn_fl_right{width:20%;float:right;margin-top:15px;margin-right:8.3333333%;}
    .search_div{height:80px;}
}
@media (max-width:900px){
    .search_div{height:80px;}
    .left_w{width:100%;float:none;}
    .btn_fl_right{width:40%;float:right;margin-top:15px;}
}
.staff_yang{ width:18%; height:30px; float:left; margin-right:5px;}
.staff_yang span{ display:block; float:left;height:30px; color:#000; font: 14px/30px "Microsoft yahei","微软雅黑";}
.staff_yang input{ width:60%; height:32px; float:left; color:#000; font: 14px/30px "Microsoft yahei","微软雅黑";text-indent:10px;}
.select_sketch span{ display:block; float:left;height:30px; color:#000; font: 14px/30px "Microsoft yahei","微软雅黑";}
.search_div a{display:block; float:right; width:40%; height:34px;margin-left:7%;}
.search_div a input{ width:100%; height:32px; margin-top:0px; background:#505050; border:none; color:#fff; -webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;}
.data-list{height:auto; overflow:hidden;padding:0 10px;}
.list_tab,.list_tab_c{height:40px;}
.list_tab span{white-space: nowrap;overflow: hidden; color:#333; font:14px/40px "Microsoft yahei","微软雅黑"; height:40px; margin-top:2px;display:-moz-inline-box;display:inline-block;-width:9.9%;border:1px solid #f4f4f4;border-left:none;}
.list_tab span.border_left,.list_tab_c span.border_left{border-left:1px solid #f4f4f4;}
.list_data{width:100%; min-height:400px; overflow:hidden; border-bottom:none; border-top:none;}
.list_data_c{ width:100%; height:40px; overflow:hidden;}
.list_data_c span{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color:#000; font: 14px/40px "Microsoft yahei","微软雅黑"; text-align:center;height:40px; margin-top:2px;background-color:#eee;display:-moz-inline-box;display:inline-block;width:10.8%;}
.list_tab_c span{white-space: nowrap;overflow: hidden; color:#333; font: 12px/40px "Microsoft yahei","微软雅黑";height:40px;display:-moz-inline-box;display:inline-block;-width:9.9%;border:1px solid #f4f4f4;border-top:none;border-left:none;text-overflow:ellipsis;white-space:nowrap;}
/**
*
*员工共享样式
*
**/
.listshare_tab{ width:100%; height:40px; overflow:hidden;border: 1px solid #f4f4f4;}
.listshare_tab span{white-space:nowrap; color:#000; font: 14px/40px "Microsoft yahei","微软雅黑"; theight:40px; margin-top:2px;border-right:1px solid #f4f4f4;display:-moz-inline-box;display:inline-block;width: 18.9%; padding-left: 0.734%;}
.listshare_tab span:last-of-type{ border-right:none;}
.listshare_data_c{ width:100%; height:40px; overflow:hidden; border-bottom: 1px solid #f4f4f4;}
.listshare_data_c span{white-space:nowrap; overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color:#000; padding-left: 0.734%; padding-top: 2px; font: 14px/40px "Microsoft yahei","微软雅黑";height:40px; margin-top:2px;border-bottom: 1px solid #f4f4f4; border-right:1px solid #f4f4f4;display:-moz-inline-box;display:-moz-inline-box;display:inline-block;width: 18.9%;}
.listshare_data_c span:last-of-type{ border-right:none;}
.listshare_data_c span a{color:#4796bf; margin-right: 20px;}
.listshare_data_c span .css_open{margin-right:10px;float: left;display: block; text-align:center; width:80px; height:30px; background:#505050; color:#fff; font: 14px/30px "Microsoft yahei","微软雅黑"; -webkit-border-radius:2px 2px; -moz-border-radius:2px 2px; -o-border-radius:2px 2px; -ms-border-radius:2px 2px; border-radius:2px 2px;}
.listshare_data_c span .css_close{float: left;display: block; text-align:center; width:80px; height:30px; background:#d7d7d7; float: left; color:#444; font: 14px/30px "Microsoft yahei","微软雅黑"; -webkit-border-radius:2px 2px; -moz-border-radius:2px 2px; -o-border-radius:2px 2px; -ms-border-radius:2px 2px; border-radius:2px 2px;}
.list_tab_c span .css_close{display: inline-block; text-align:center; width:48.8%; height:24px; background:#d7d7d7; color:#444; font: 14px/24px "Microsoft yahei","微软雅黑"; -webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;cursor:pointer;}
.list_tab_c span .css_open{display: inline-block; text-align:center; width:48.8%; height:24px; background:#505050; color:#fff; font: 14px/24px "Microsoft yahei","微软雅黑"; -webkit-border-radius:3px 3px; -moz-border-radius:3px 3px; -o-border-radius:3px 3px; -ms-border-radius:3px 3px; border-radius:3px 3px;cursor:pointer;}
.list_tab_c span a{ margin-right:5px;color:#3a8cbb;}
.col-lg-2dot4 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
@media (min-width: 1200px) {
.col-lg-2dot4 {
float: left;
}
.col-lg-2dot4 {
width: 20%;
}
.col-lg-pull-2dot4 {
right: 20%;
}
.col-lg-push-2dot4 {
left: 20%;
}
.col-lg-offset-2dot4 {
margin-left: 20%;
}
}

/**
*
*消费规则样式
*
**/
.listrules_tab{height:40px; overflow:hidden; padding-left:20px;}
.listrules_tab span{color:#333; font:14px/40px "Microsoft yahei","微软雅黑";height:40px;display:-moz-inline-box;display:inline-block;width:16.4%;border:1px solid #f4f4f4;border-left:none;}
.listrules_tab span.border_left,.listrules_data_c span.border_left{border-left:1px solid #f4f4f4;}
.listrules_data_c{height:40px; overflow:hidden; padding-left:20px;}
.listrules_data_c span{overflow: hidden;text-overflow: ellipsis; white-space: nowrap; color:#333; font: 12px/40px "Microsoft yahei","微软雅黑";height:40px;display:-moz-inline-box;display:inline-block;width:16.4%;border:1px solid #f4f4f4;border-left:none;border-top:none;}
.listrules_data_c span a{color:#3a8cbb;margin-right:10px;}
/**
*
*新增样式
*
**/
.transverse span,.transverse label{float:left;}
.transverse label{font-weight:200;}
.transverse span.title_span{width:97px;text-align:right;height:40px; color:#000; font: 16px/40px "Microsoft yahei","微软雅黑"; display:-moz-inline-box;}
.transverse span.title_span em{color:red;}
.transverse .title_input{width:60%;}
.transverse .title_input input{margin-right:10px;margin-left:1%; float:left;width:60%;height:40px;font-size:14px;font-family:"微软雅黑";color:#333;text-indent:10px;}
.transverse span.radio_input{position:relative;margin:12px 3% 0 1%;}
.transverse span.radio_input input{width:19px;height:19px;opacity:0;filter:alpha(opacity=0);position:absolute;left:0;top:0;z-index:22;}
.transverse span.radio_input label{display:inline-block;width:19px;height:19px;background:url("../../images/s_blue.png") no-repeat; background-position:-100px 0;}
.transverse span.radio_input input[type="radio"]:hover+label{background:url("../../images/s_blue.png") no-repeat;background-position:-120px 0;}
.transverse span.radio_input input[type="radio"]:checked+label{background:url("../../images/s_blue.png") no-repeat; background-position:-140px 0;}
.transverse span.radio_input em{margin-left:3px;}
.transverse span.num_span input{width:35%;height:26px;margin-right:10px;text-indent:5px;}
.transverse span.num_span{color:#333;margin:5px 0;position:relative;font-weight:400;font-size:14px;}
.transverse span.num_span .lettle_text{position:absolute;right:0;top:2px;color:#333;}
.transverse input.btn_time{width:120px;cursor:pointer;height:35px;border-radius:3px;background:#505050;border:none;color:#fff;margin-right:4%;margin-left:10%;font-size:14px;}
.transverse input.btn_time2{width:120px;height:35px;border-radius:3px;background:#505050;border:none;color:#fff;font-size:14px;}
.transverse{width:100%;margin-left:5%;overflow:hidden;margin-top:5px;padding:10px 0;}
.transverse span.transv{line-height:40px; display:block; float:left; background:none;font-size:16px;font-weight:700;}
.iex{width:10px;float:right;}
.tag_div{float:left;margin:5px;background-color:#ddd;width:92px;overflow: hidden;height:20px;}
.tag_div div{overflow: hidden;height:20px;width:80px;float:left}
.blue_text{color:#3a8cbb;cursor:pointer;}


.col-xs-9ths, .col-sm-9ths, .col-md-9ths, .col-lg-9ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media ( max-width:768px) {
    .col-md-9ths {
        width: 10.57%;
        float: left;
    }
    .col-xs-9ths{
    	width: 10.57%;
        float: left;
    }
    .col-md-5ths {
        width: 19.25%;
        float: left;
    }
    .col-xs-5ths{
    	width: 19.25%;
        float: left;
    }
}

@media ( min-width:768px) {
    .col-md-9ths {
        width: 11.1%;
        float: left;
    }
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

/**
*
*自定义页面样式
*
**/
.rules_warp{width:100%;height: auto;margin: 0px auto; overflow:hidden; margin-top:15px; background:#fff;}
.container_right{ width:100%;height: auto; overflow:hidden;background:#fff;}
.height_com{width:100%;min-height:600px;}
.rules_content{ width:90%; min-height:830px; overflow:hidden;margin:0 auto;}
.transverse1{width:100%;margin-left:5%;overflow:hidden;margin-top:5px;padding:10px 0;}
.transverse1 input{width:43%;height:40px;text-indent:10px;font-size:14px;font-family:"Microsoft yahei";}
.transverse1 span.transv{width:100px;text-align:right;line-height:40px; display:block; float:left; background:none;font-size:16px;}
.transverse1 span i{color:#ff0000; margin-top:3px;margin-left:40px; display:block; float:left;}
.tag_div div{overflow: hidden;height:20px;width:80px;float:left}
.div_check{width:100%; height: auto;}
.div_check .div_label{width:100%; padding:15px 0; color: rgb(51,51,51);font-size:16px;margin-left:5%;}
.div_check .div_label span{float:left;width:100px;text-align:right;line-height:30px;}
.div_check button{ width:120px;height:34px;background:#505050;color:#fff;}
.mCSB_inside > .mCSB_container{margin-right:6px!important;}
.select2-dropdown{z-index:19891017!important;}
.div_check button:hover{color:#fff;}
.div_check .div_none {margin-left: 16px; height: auto; text-align: left; }
.div_check .div_none .span_user_name{position: relative; display: inline-block; width: 132px; height: 71px; float: left; text-align: left; margin: 5px; color: rgb(51,51,51); padding: 0px; line-height: 28px; font-size: 14px; background: #f2f2f2; border:1px solid #ccc;}
.div_check .div_none .span_user_name i{ display:block; width:132px; height:51px; text-align:center; color:#333; line-height: 51px;}
.div_check .div_none .span_user_name u{font: 16px/20px "微软雅黑"; color:#333; text-align:center; border: 1px solid #919191; display: block; height: 20px; position: absolute; right: 0;text-decoration: none; top: 0;  width: 20px; -webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%; -ms-border-radius:50%; border-radius:50%;}
.div_check .div_none .span_user_name em{display: inline-block; width:132px; height: 20px;}
.div_check .div_none .span_user_name em ii{text-align:center; display:block; float:left; font-style:normal; font: 12px/20px "微软雅黑";}
.div_check .div_none .span_user_name em ii{ width:66px; height:20px; }
.btn_color_on{ background:#868686;  color:#333;}
.btn_color_close{ background:#595959;color:#fff;}
.tr_access {width: 660px; height: 40px;}
.div_access_title { width: 100px; text-align: center; height: 40px; line-height: 40px; background: rgb(215,215,215); float: left;}
.div_access_list {width: 560px; height: 40px;}
.div_access_list span {display: inline-block; padding: 0 5px; height: 20px; float: left; margin: 10px 10px; text-align: center; font-size: 12px; border: 1px solid #ccc; border-radius: 10px; line-height: 20px; display: none; cursor:pointer;}
.td_left {background: rgb(215,215,215);}
.div_label_btn { width: 900px; height: 35px; text-align: center;}
.div_label_btn span { display:inline-block; width: 100px; height: 30px;  border-radius: 3px; margin: 20px auto; line-height: 30px; cursor: pointer;}
.btn_sub,.btn_reset{background: RGB(22,155,213); color: #fff;}
.rules_transverse_btn{ width:100%; height:30px; margin-top:30px; margin-left:150px;}
.rules_transverse_btn button{ width:120px;margin-right: 20px;font-size:14px;font-family:"微软雅黑";background:#505050;color:#fff;height:34px;}
.rules_transverse_btn button:hover{color:#fff;}
.btn_box{width:100%;margin-left:150px;}
.staff_tit{width:100%;padding:10px 0;font-size:14px;}
.staff_tit span{display:inline-block;width:20px;height:20px;border-radius:10px;border:1px solid #b7b7b7;text-align:center;font:14px/20px "微软雅黑";margin-right:10px;}
.staff_user_list{width:100%;overflow:hidden;}
.per_box{width:15%;min-height:80px;float:left;position:relative;margin-right:3%;margin-bottom: 15px;}
.per_box:hover span.close_x{display:block;}
.per_top{width:100%;min-height:60px;background:#ccc;font: 14px/60px "微软雅黑";text-align:center;}
.per_bottom{width:100%;min-height: 20px;font:14px/20px "微软雅黑";text-align:center;}
.per_bottom span{float:left;width:50%;cursor:pointer;}
.open_span{background:#868686;}
.close_span{background:#595959;color:#fff;}
.close_staff{position:absolute;width:20px;top:0;right:0;font:12px/21px "微软雅黑";border-radius:10px;text-align:center;background:#333;color:#fff;cursor:pointer;display:none;}
.close_staff:hover{background:#eb2222;}
.nodata_div {margin: 10px;}
/**
*
*员工邀请页面样式
*
**/
.staff_info{width:100%;min-height:980px;margin: 0px auto;}
.staff_title{width:100%;height:50px;border-bottom:1px solid #ccc;margin-bottom:10px;}
.text_info{width: 98%;min-height: 980px;margin:0 auto;}
.info_height{width:100%;min-height:980px;overflow:hidden;}
.staff_title h5{float:left;font:16px/50px "微软雅黑";color:#333;}
.staff_title b{float:left;width:80px;height:30px;text-align:center;border-radius:3px;font-weight:200;font:12px/30px "微软雅黑";color:#333;margin-top:10px;cursor:pointer;background:#d7d7d7;color:#454545;}
.staff_title b.bg_btn{background:#505050;color:#fff;}
.staff_title b.chinse_btn{margin-left:30px;}
.list_text{width:100%;}
.list_text div.input_div{width:100%;display: inline-block;}
.input_float_left{float:left; width:45.2%;}
.input_addstaff{width:100%;height:42px;float:left;position:relative; margin: 5px 0;}
.input_addstaff input{width:100%;height:32px;background:none;border:1px solid #d2d6df;text-indent:10px;}
.input_addstaff span.span_img{position:absolute;right:15px;top:10px;}
.input_addstaff span.span_img b{display:block;border-color:#d2d6df transparent transparent transparent;border-style:solid;border-width:12px 9px 0 9px;height:0;width:0;cursor:pointer;}
.input_addstaff span.span_img b.up{border-color:transparent transparent #d2d6df transparent;border-style:solid;border-width:0 9px 12px 9px;height:0;width:0;}
.staff_list{display:none;position:absolute;width:65.9%;left:45px;top:32px;border:1px solid #d2d6df;border-top:none;background:#fff; z-index: 999;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.staff_list li{width:100%;height:30px;font:12px/30px "微软雅黑";cursor:pointer;text-indent:10px;}
.staff_list li:hover{background:#5897fb!important;color:#fff;}
.staff_list li.libg{background:#ddd;}
.label_title {display: inline-block; width: 45px; text-align: right;}
.input_addstaff .label_title i{color:#ff0000;margin-top:3px;float:left;}
.input_addstaff ei{ width: 44px;height:32px;border:1px solid #d2d6df; text-align: center; cursor: default;font:22px/30px "微软雅黑";margin-right:13%;font-weight:700;color:#d2d6df;float:right;}
.text_tab_s{display:inline-block;width:65.9%;position:relative;}
@media (max-width:1181px){
    .input_addstaff ei{margin-right:7%;}
}
@media (max-width:1018px){
    .input_addstaff ei{margin-right:4%;}
}
@media (max-width:945px){
    .input_addstaff ei{margin-right:2%;}
}
.input_div_text{width:100%;padding-top:15px;}
.text_float_left{float:left;width:100%; margin-top: -10px; margin-bottom: 10px;}
.text_two{width:80%;}
.text_float_left p{width:70%;margin-left:45px;color:#fba081;}
.staff_power{width:100%;margin-top:20px;overflow:hidden;}
.staff_power h4{width:100%;border-bottom:1px solid #ccc;font:14px/50px "微软雅黑";}
.power_box{width:100%;margin-top:10px; float: left;}
.title_left{color:#333;float: left;width: 128px;line-height:65px;text-align:right;margin-right:10px;}
.title_right{float: left;width:70%;position:relative;}
.title_right em{float:left;}
.title_right input{width:19px;height:19px;position:absolute;left:0;top:0;opacity:0;z-index:22;}
.title_right label{float:left;width:19px;height:19px;background:url("../../images/s_blue.png") no-repeat;background-position:0 0;}
.title_right input[type="checkbox"]:hover+label{background:url("../../images/s_blue.png") no-repeat;background-position:-20px 0;}
.title_right input[type="checkbox"]:checked+label{background:url("../../images/s_blue.png") no-repeat;background-position:-40px 0;}
.select_item{width:25%;min-height:65px;float:left;margin-right:3%;cursor:pointer;}
.text_center{text-align:center;font:14px/65px "微软雅黑";width:15%;height:65px;}
.color_gray{background:#d7d7d7;font-family:"微软雅黑";font-size:12px;color:#333;border-radius:3px;}
.color_red{background:#505050;color:#f4f4f4;}
.select_item p{padding:3px 0 3px 3px;}
.staff_shop{width:100%;padding-top:10px;clear:both;overflow:hidden;}
.shop_left{float: left;width: 128px;font-size:12px;font-family:"微软雅黑";text-align:right;margin-right:10px;color:#333;}
.shop_line{line-height:30px;}
.shop_rule{width:100%;padding-top:20px;clear:both;min-height:65px;display:none;overflow:hidden;}
.shop_item{width:15%;min-height:35px;float:left;margin-right:3%;margin-bottom:3px;text-align:center;line-height:35px;cursor:pointer;border-radius:3px;}
.staff_btn{width:100%;clear:both;padding:20px 0;text-align:right;}
.btn_save{width:120px;height:34px;border-radius:3px;background:#505050;border:none;color:#fff;margin-right:3%;font-size:14px;}
.btn_cancell{width:120px;height:34px;border-radius:3px;background:#d7d7d7;color:#333;border:none;margin-right:15.5%;}
.english_btn{padding:20px 0;}
/**
*
*上传文件页面样式
*
**/
.file_box{width:100%;background:#fff;min-height:600px;}
.file_content{margin:0 auto;}
.file_tit{width:100%;border-bottom:1px solid #b8b8b8;height:50px;line-height:50px;color:#333;}
.file_tit h3{font-size:16px;font-family:"微软雅黑";float:left;line-height:50px;color:#333;}
.file_tit a{float:left;}
.file_btn{margin-top:20px;margin-left:10%;overflow:hidden;}
.file_text{float: left;position:relative;}
.file_text i{float:left;width:120px;height:35px;border-radius:3px;background:#505050;color:#fff;text-align:center;font:12px/35px "微软雅黑";}
.file_text input{position:absolute;left:0;top:0;z-index:22;width:120px;height:35px;opacity:0;filter:alpha(opcity:0);}
.file_btn span{color:#999;margin:20px 0 0 10px;font-size:14px;float:left;}
.staff_file{width:100%;margin-top:20px;}
.staff_file_power{width:100%;border-bottom:1px solid #b8b8b8;height:50px;margin:10px 0;line-height:50px;}
.staff_file_power h3{font-size:16px;font-family:"微软雅黑";float:left;line-height:50px;color:#333;}
.staff_file_power span{float:left;color:#333;padding:2px 0 0 10px;}
.file_save_btn{width:100%;margin-top:30px;clear:both;overflow:hidden;padding-left:20%;padding-bottom:15px;}
.file_save_btn input{width:120px;background:#505050;color:#fff;margin-right:20px;}
.file_save_btn input:hover{color:#fff;}
.can_btn{background:#d7d7d7!important;color:#333!important;border:none;}
/*文本框获取焦点样式*/
.form_focus:focus{box-shadow:none;border:1px solid #3c8dbc;}