*{margin:0;padding:0;}
.events-text{
    text-indent:0em !important;
    font-family:"微软雅黑" !important;
}


body{
    background-color: #494a5f !important;
}

div.events-header{
    font-size: 16px !important;
    font-family:"黑体" !important;
}
.load_more{
	width:100%;
	position:relative;
	bottom:0;
	left:0;
	z-index:3333;
	background:#494a5f;
	padding-top:5px;
}
.load_more p{
	width:100%;
	font-size:14px;
	color:#ccc;
	font-family:"微软雅黑";
	text-align:center;
}
