@charset "utf-8";
.tree-main{
	width:100%;
}
.top-null{
	width:100%;
	height:136px;
}
.division-content{
	width:100%;
	min-height:700px;
}
.division-nav{
	width:100%;
	height:54px;
}
.division-nav span{
	float:left;
	height:54px;
	line-height:54px;
	padding-left:35px;
	padding-right:35px;
	background:#fff;
	margin-right:8px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	font-size:14px;
	color:#333;
}
.division-nav span.active{
	border-top:3px solid #ffa771;
	margin-top:-3px;
	height:58px;
	border-left:1px solid #e1e3e6;
	border-right:1px solid #e1e3e6;
}
.division-con{
	width:100%;
	border:1px solid #e1e3e6;
	min-height:700px;
	background:#fff;
}
.divi-right{
	margin-left:90px;
}
.division-add-menu{
	margin-top:33px;
	margin-bottom:84px;
}
.division-add-menu button{
	width:105px;
	height:33px;
	border-radius:3px;
	background:#ffa771;
	border:none;
	color:#fff;
	font-size:12px;
	font-family:"microsoft yahei";
}
.division-add-menu button:hover{
	background-color:#ff9859;
}

.add-child span{
	color:#333;
	font-size:14px;
	margin-left:25px;
	opacity:0.8;
}
.add-child span:hover{
	opacity:1;
}
.add-child span.add-ic:before{
	content:"";
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../../images/del.png) no-repeat -5px -6px;
	vertical-align:-5px;
	margin-right:8px;
}
.add-child span.exchange-ic:before{
	content:"";
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../../images/del.png) no-repeat -40px -6px;
	vertical-align:-5px;
	margin-right:8px;
}
.add-child span.remove-ic:before{
	content:"";
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../../images/del.png) no-repeat -74px -6px;
	vertical-align:-5px;
	margin-right:8px;
}
.tree-line-top{
	margin-top:
}
.line-h{
	display:inline-block;
	width:17px;
	height:15px;
	background:url(../../images/line-h_07.png) repeat-x 0 center;
}


/**员工管理**/
.staff-nav{
	width:100%;
	height:75px;
	border-bottom:1px solid #e1e3e6;
}
.vav-s{
	height:75px;
	margin-left:44px;
}
.vav-s a{
	float:left;
	margin-top:43px;
	margin-right:50px;
	color:#333;
	font-size:14px;
}
.vav-s a.active-color{
	color:#244773;
}
.staff-search{
	width:100%;
	height:128px;
}
.add-l-per{
	float:left;
	margin-top:42px;
	margin-left:42px;
}
.add-l-per button{
	padding:0 15px;
	height:30px;
	background-color:#ffa776;
	border-radius:4px;
	color:#fff;
	font-size:12px;
	color:#fff;
}
.add-l-per button:hover{
	background-color:#ff9859;
}
.add-l-per button.set-li-btn{
	background-color:#eda8ad;
	margin-left:30px;
}
.staff-search-if{
	float:right;
	width:auto;
	margin-top:42px;
}
.staff-s-i-menu{
	float:left;
	width:108px;
	height:38px;
	background:#f9f9f9;
	border:1px solid #dedede;
	border-radius:3px;
	margin-right:26px;
	position:relative;
}
.staff-s-i-menu input.sta-input{
	width:87px;
	height:38px;
	border:none;
	background:none;
	float:left;
	text-indent:15px;
	color:#244773;
	font-size:12px;
	font-family:"microsoft yahei"
}
.sta-m-input em.xiao-icon{
	float:left;
	width:19px;
	height:38px;
}
.sta-m-input em.xiao-icon i{
	display:block;
	width:6px;
	height:6px;
	border-top:1px solid #1e262d;
	border-left:1px solid #1e262d;
	border-radius:1px;
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
	margin-left:5px;
	margin-top:13px;
}
.sta-m-input em.xiao-icon img{
	width:10px;
	height:10px;
	margin-top:14px;
	margin-left:2px;
	cursor:pointer;
}
.stadd-tree{
	position:absolute;
	left:0;
	top:43px;
	width:380px;
	height:250px;
	overflow-y:auto;
	/*overflow-x:auto;*/
	border:1px solid #dedede;
	border-radius:4px;
	background:#fff;
	z-index:11111;
	display:none;
}
/**树形结构问题**/
.tree-line{
	width:540px;
}
.tree{
	margin-left:0!important;
	width:365px;
}
.staff-search-right{
	float:left;
	width:228px;
	height:38px;
	border:1px solid #dedede;
	border-radius:4px;
	margin-right:40px;
}
.staff-search-right em.search-icon{
	float:left;
	width:35px;
	height:38px;
	cursor:pointer;
}
.staff-search-right em.search-icon img{
	width:18px;
	height:19px;
	margin-left:5px;
	margin-top:8.5px;
}
.menu-search-r-in{
	float:left;
	width:190px;
	height:38px;
	color:#333;
	font-size:12px;
	font-family:"microsoft yahei";
	border:none;
	background:none;
	text-indent:15px;
}
.staff-per-list{
	width:100%;
}
.staff-per-list table{
	width:100%;
}
.staff-per-list table thead{
	background:#f0f0f0;
}
.staff-per-list table thead tr{
	height:50px;
	line-height:50px;
}
.staff-per-list table thead tr label{
	margin-left:20px;
	vertical-align:-3px;
}
.staff-per-list table tbody tr{
	height:70px;
	line-height:70px;
	border-bottom:1px solid #e1e3e6;
}
.staff-per-list table tbody tr:hover{
	background:#f9f9f9;
}
.staff-per-list table tbody tr label{
	margin-left:20px;
	vertical-align:-3px;
}
.staff-edit-td{
	font-style:normal;
	color:#244773;
}
.vision-menu{
	height:26px;
	padding-top:10px;
	position:relative;
}
.vision-menu-input{
	width:178px;
	height:26px;
	border:1px solid #dedede;
	border-radius:3px;
	background:#f9f9f9;
	overflow:hidden;
}
.vision-menu-input input.vision-input{
	float:left;
	width:155px;
	line-height:23px;
	border:none;
	background:none;
	font-size:12px;
	color:#244773;
	text-indent:10px;
}
.vision-menu-input em.vision-xia{
	float:left;
	width:21px;
	height:100%;
}
.vision-menu-input em.vision-xia i{
	display:block;
	width:6px;
	height:6px;
	border-radius:1px;
	border-top:1px solid #1e262d;
	border-left:1px solid #1e262d;
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
	margin-left:5px;
	margin-top:6px;
}
.vision-w{
	width:133px;
}
.vision-w input.vision-input{
	width:110px;
}
.vision-menu-xl{
	position:absolute;
	left:0;
	top:40px;
	width:133px;
	border:1px solid #dedede;
	border-radius:4px;
	padding-top:20px;
	padding-bottom:20px;
	background:#fff;
	z-index:11111;
	display:none;
}
.vision-menu-xl li{
	color:#224675;
	font-size:12px;
	line-height:28px;
	text-indent:10px;
	cursor:pointer;
}

/**离职员工**/
.quit-table{
	width:100%;
}
.quit-table-list{
	width:100%;
}
.quit-table-list thead{
	width:100%;
}
.quit-table-list thead tr{
	width:100%;
	height:50px;
	line-height:50px;
	background:#f0f0f0;
}
.quit-table-list thead tr td{
	color:#333;
	font-size:12px;
	width:33.3333%;
	text-align:center;
}
.quit-table-list tbody{
	width:100%;
}
.quit-table-list tbody tr{
	width:100%;
	height:69px;
	border-bottom:1px solid #e1e3e6;
}
.quit-table-list tbody tr:hover{
	background-color:#f9f9f9;
}
.quit-table-list tbody tr td{
	color:#333;
	font-size:12px;
	line-height:69px;
	width:33.3333%;
	text-align:center;
}
.vision-m-auto{
	width:133px;
	margin:0 auto;
}

/**标签管理**/

.label-manage{
	width:100%;
}
.label-remove{
	width:100%;
	padding-top:37px;
	padding-bottom:86px;
}
.label-remove button{
	width:78px;
	height:27px;
	border-radius:4px;
	background-color:#ffa776;
	border:none;
	color:#fff;
	font-size:12px;
	margin-left:93px;
}
.label-remove button:hover{
	background-color:#ff9859;
}
.label-list{
	width:100%;
}
.label-list ul.label-ul{
	width:100%;
}
.label-list ul.label-ul li{
	width:100%;
	height:28px;
	line-height:28px;
	margin-bottom:5px;
}
.label-list ul.label-ul li:hover{
	background-color:#f8f8f8;
}
.label-ch{
	margin-left:93px;
	overflow:hidden;
}
.label-ch label{
	vertical-align:5px;
	display:inline-block;
}
.label-ch span{
	display:inline-block;
	max-width:600px;
	color:#333;
	font-size:14px;
	margin-left:23px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.label-ch em.label-w-i{
	display:inline-block;
	width:20px;
	height:20px;
	background-image:url(../../images/label-edit.png);
	background-repeat:no-repeat;
	margin-left:25px;
	vertical-align:4px;
	display:none;
	cursor:pointer;
}
.label-ch em.label-edit-i{
	width:22px;
	background-position:1px 0;
}
.label-ch em.label-remove-i{
	background-position:-34px 0;
}
.label-ch input.label-edit{
	width:298px;
	height:26px;
	background-color:none;
	border:1px solid #b5b5b5;
	border-radius:3px;
	text-indent:15px;
	margin-right:40px;
}
.label-ch button.label-edit-btn{
	width:60px;
	height:25px;
	background-color:#ffa776;
	color:#fff;
	font-size:12px;
	border:none;
	line-height:23px;
	border-radius:4px;
	margin-right:20px;
}
.label-ch button.label-edit-btn:hover{
	background-color:#ff9859;
}
.label-ch button.label-btn-cancel{
	background-color:#f9f9f9;
	border:1px solid #dedede;
	color:#666;
}
.label-ch button.label-btn-cancel:hover{
	background-color:#d4d4d4;
	border: 1px solid #1e262d;
}
.label-none{
	display:none;
}
.add-label{
	width:100%;
	margin-top:20px;
}
.add-label span.add-label-icon{
	display:inline-block;
	width:18px;
	height:18px;
	border:1px solid #e0e0e0;
	font-size:10px;
	line-height:15px;
	text-align:center;
	margin-left:93px;
	cursor:pointer;
}
.add-label em{
	font-size:14px;
	color:#224675;
	font-style:normal;
	line-height:20px;
	margin-left:15px;
	cursor:pointer;
}

/**部门权限设置**/
.set-power-main{
	width:100%;
}
.all-stall-set{
	padding-top:95px;
	margin-left:90px;
	line-height:30px;
}
.all-stall-set span{
	color:#333;
	font-size:12px;
}
.all-stall-set label{
	vertical-align:-4px;
	margin-right:5px;
}
.setpower-btn{
	padding-top:177px;
	margin-left:90px;
}
.setpower-btn button{
	width:80px;
	height:30px;
	background-color:#ffa776;
	font-size:14px;
	color:#fff;
	border-radius:4px;
}
.setpower-btn button:hover{
	background-color:#ff9859;
}

/**待认证**/
.set-td span.pass-set{
	color:#224675;
}
.set-td span.remove-set{
	color:#f00;
	margin-left:10px;
}