html,body{
	background:#fff;
}
.login-warp{
	width:100%;
}
.l-top{
	width:100%;
	height:90px;
}
.l-b-head{
	width:100%;
	height:90px;
	position:fixed;
	top:0;
	left:0;
	z-index:111111111;
	background:#1c252e;
	box-shadow:1px 0 5px #1c252e;
}
.l-head{
	width:1190px;
	height:90px;
	margin:0 auto;
}
.l-head img.l-logo{
	margin-top:15px;
}
.l-login{
	width:100%;
	min-height:90.5vh;
	background-image:url(../../images/bg.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	overflow:hidden;
	padding-bottom:138px;
}
.login-main{
	width:430px;
	margin:0 auto;
	margin-top:14vh;
	border:1px solid #e6e6e6;
	background:#fff;
}
.login-con{
	width:336px;
	margin:0 auto;
	padding-top:32px;
	padding-bottom:58px;
}
.login-con h2{
	line-height:40px;
	color:#333;
	font-size:18px;
	border-bottom:1px solid #e3e5e5;
	font-weight:500;
}
.login-change{
	width:100%;
	height:50px;
	margin-top:10px;
	margin-bottom:5px;
}
.login-icon{
	float:right;
	width:48px;
	height:50px;
	background:url(../../images/login_wx.png) no-repeat -53px 0px;
}
.login-wei-icon{
	background-position:0 0;
}
.login-input{
	width:100%;
	height:40px;
	margin-bottom:18px;
}
.login-input input{
	width:100%;
	height:38px;
	border:1px solid #e3e5e5;
	font-size:12px;
	color:#333;
	text-indent:15px;
	background:none;
	border-radius:3px;
	font-family:"microsoft yahei";
}
.for-pasword{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:right;
}
.for-pasword a{
	color:#069;
	font-size:12px;
}
.login-btn{
	width:100%;
	height:40px;
	margin:15px 0;
}
.login-btn button{
	width:100%;
	height:40px;
	border-radius:4px;
	border:none;
	background:#ffa776;
	font-size:16px;
	font-family:"microsoft yahei";
	color:#fff;
}
.no-href{
	width:100%;
	line-height:30px;
	font-size:12px;
	color:#333;
	text-align:center;
}
.no-href a{
	color:#069;
}
.login-z{
	display:none;
}
.wei-img{
	width:260px;
	margin:0 auto;
}
.wei-er-icon{
	width:260px;
	height:180px;
	margin:0 auto;
}
.wei-er-icon iframe {
	width: 260px; 
	height: 180px;
}
.wei-er-icon img{
	width:100%;
	height:100%;
}
.wei-img p{
	padding-top:40px;
	padding-bottom:20px;
	text-align:center;
	font-size:16px;
	color:#333;
}
.login-footer{
	width:100%;
	height:153px;
	text-align:center;
	color:#333;
	font-size:12px;
}
.foo-nav{
	padding-top:30px;
	padding-bottom:26px;
}
.foo-nav span{
	margin-right:26px;
	margin-left:32px; 
}
.login-footer p{
	color:#333;
	font-size:12px;
}
/**注册**/
.register{
	width:100%;
	background-image:url(../../images/bg.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	overflow:hidden;
}
.register-main{
	width:1190px;
	margin:0 auto;
	overflow:hidden;
	padding-top:65px;
	padding-bottom:70px;
}
.register-left{
	width:478px;
	float:left;
	margin-top:190px;
}
.register-text{
	margin-left:200px;
}
.register-text h3{
	font-size:28px;
	color:#264872;
	font-weight:normal;
	margin-bottom:40px;
}
.register-text ul li{
	color:#999;
	font-size:14px;
	margin:14px 0;
}
.register-text ul li em{
	display:inline-block;
	width:38px;
	height:38px;
	margin-right:14px;
	background-image:url(../../images/reg_icon.png);
	background-repeat:no-repeat;
	vertical-align:middle;
}
.register-text ul li.icon1 em{
	background-position:-42px -31px;
}
.register-text ul li.icon2 em{
	background-position:-89px -31px;
}
.register-text ul li.icon3 em{
	height:41px;
	background-position:-136px -31px;
}
.register-right{
	width:520px;
	float:left;
	margin-left:135px;
	background-color:#fff;
}
.re-tit{
	width:100%;
	text-align:center;
}
.re-tit dt{
	color:#1c252e;
	font-size:36px;
	font-weight:400;
}
.re-tit dd{
	color:#ccc;
	font-size:14px;
	margin-top:15px;
}
.register-form{
	width:100%;
	border:1px solid #ebebeb;
	margin-top:42px;
}
.register-form-c{
	width:420px;
	margin:0 auto;
	padding-top:40px;
	padding-bottom:64px;
}
.regiser-have{
	width:100%;
	text-align:right;
	font-size:12px;
	color:#333;
	margin-bottom:20px;
}
.regiser-have a{
	color:#069;
}
.register-item{
	width:100%;
	min-height:40px;
	margin-bottom:20px;
	position:relative;
}
.register-item b{
	color:#ffa776;
	line-height:45px;
	margin-right:10px;
}
.register-f b{
	float:left;
}
.register-menu{
	float:left;
}
.menu-t{
	height:38px;
	border:1px solid #e3e5e5;
	border-radius:3px;
}
.menu-t input.menu-z{
	width:65px;
	height:38px;
	font-size:12px;
	color:#333;
	font-family:"microsoft yahei";
	border:none;
	background:none;
	text-indent:15px;
}
.menu-t span{
	display:inline-block;
	width:24px;
	height:38px;
}
.menu-t span i{
	content:"";
	display:inline-block;
	width:0;
	height:0;
	border-width:5px 5px 0;
	border-style:solid;
	border-color:#1c252e transparent transparent;
	vertical-align:2px;
}
.re-phone{
	float:right;
	width:285px;
	height:38px;
	border:1px solid #e3e5e5;
	border-radius:3px;
	background:none;
	font-size:12px;
	color:#333;
	font-family:"microsoft yahei";
	text-indent:15px;
}
.input-error{
	background:#fefbed;
}
.register-phone{
	float:left;
	width:278px;
	height:38px;
	border:1px solid #e3e5e5;
	border-radius:3px;
	font-size:12px;
	color:#333;
	font-family:"microsoft yahei";
	text-indent:15px;
}
.register-number{
	float:right;
	width:102px;
	height:38px;
	border:1px solid #e3e5e5;
	cursor:pointer;
	text-align:center;
	line-height:38px;
	font-size:12px;
	color:#ccc;
}
.register-item p.error-ts{
	width:100%;
	color:#ff0000;
	font-size:12px;
	padding-top:10px;
	margin-left:15px;
	display:none;
}
.register-item p.error-wz{
	margin-left:131px;
}
.register-t-i{
	width:400px;
	height:38px;
	border:1px solid #e3e5e5;
	border-radius:3px;
	float:left;
	font-size:12px;
	color:#333;
	font-family:"microsoft yahei";
	text-indent:15px;
}
.register-xie{
	margin-left:15px;
	color:#333;
	font-size:12px;
}
.register-xie label{
	vertical-align:-8px;
	margin-right:4px;
}
.register-xie a{
	color:#069;
}
.register-ty{
	width:405px;
	height:40px;
	margin-left:15px;
	margin-top:30px;
}
.register-ty button{
	width:100%;
	height:100%;
	background-color:#ffa776;
	color:#fff;
	font-size:16px;
	border:none;
	font-family:"microsoft yahei";
}


/**找回秘密页**/
.getpwd-z{
	padding-top:25px;
}
.getpwd-img{
	width:100%;
	margin-bottom:18px;
}
.getpwd-img input{
	width:170px;
	height:38px;
	border:1px solid #e3e5e5;
	background:none;
	border-radius:3px;
	color:#333;
	font-family:"microsoft yahei";
	text-indent:15px;
	font-size:12px;
}
.getpwd-img img{
	width:100px;
	height:26px;
	margin-left:9px;
}
.getpwd-img a{
	color:#069;
	font-size:12px;
	margin-left:10px;
}
.getpwd-img a:hover{
	text-decoration:none;
}
.getpwd-renum{
	width:100%;
	margin-bottom:18px;
}
.getpwd-renum input{
	width:224px;
	height:38px;
	border:1px solid #e3e5e5;
	background:none;
	border-radius:3px;
	font-family:"microsoft yahei";
	text-indent:15px;
	font-size:12px;
}
.getpwd-renum button{
	width:88px;
	height:36px;
	border:1px solid #ffa979;
	background-color:#fef4ef;
	font-size:12px;
	color:#ffa776;
	font-family:"microsoft yahei";
	vertical-align:1px;
	margin-left:15px;
}

/**  服务条款  **/
.serve-mian{
	width:760px;
	margin:0 auto;
	padding-top:170px;
	overflow:hidden;
}
.serve-left{
	width:580px;
	float:left;
}
.serve-left h2{
	font-size:30px;
	color:#333;
	font-weight:normal;
	margin-bottom:35px;
}
.serve-left h4{
	font-size:14px;
	color:#333;
	font-weight:normal;
	margin-bottom:28px;
}
.serve-left p{
	font-size:12px;
	color:#333;
	line-height:25px;
	margin-bottom:60px;
}
.serve-right{
	width:130px;
	float:right;
	padding-top:40px;
	padding-left:30px;
	padding-bottom:40px;
	border-left:1px solid #e6e6e6;
}
.serve-right h4{
	font-size:16px;
	color:#333;
	text-decoration:underline;
}
.serve-right ul{
	margin-left:20px;
}
.serve-right ul li{
	line-height:25px;
}
.serve-right ul li a{
	color:#ffa776;
	font-size:14px;
	text-decoration:underline;
}
