html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-family:"microsoft yahei";
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
body {
	line-height: 1;
	font-size:14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
input,textarea,button{
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
a{
	text-decoration:none;
}
img{
	vertical-align:middle;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 清除浮动 */
.clear{ clear:both;}
.clear:after{clear:both;content:'';display:block}
.clear{zoon:1;}

.lin-bg{
	width:100%;
	height:100%;
	background:url("../../images/bgdesktop.jpg") no-repeat;
	background-size:100% 100%;
}
.i-content{
	position:absolute;
	bottom:24vh;
	left:10vw;
}
.i-content p{
	font-size:20px;
	color:#205656;
	margin-bottom:25px;
}
.input-i{
	height:42px;
	overflow:hidden;
}
.input-i input{
	border:none;
	background:#fff;
	font-size:18px;
	color:#aabfbe;
	height:42px;
	float:left;
	display:block;
}
.input-i input.input1{
	width:102px;
	text-align:left;
	margin-right:15px;
	padding:0 15px;
}
.input-i input.input2{
	width:268px;
	padding:0 15px;
}
.submit-btn{
	margin-top:20px;
}
.submit-btn button{
	width:102px;
	height:35px;
	font-size:20px;
	color:#38383c;
	background:#87cedb;
	border:3px solid #a6dae4;
}
.num-error{
	padding:13px 20px;
	background:#fff;
	color:#084744;
	font-size:24px;
	border-radius:12px;
	text-align:center;
}
.num-error em{
	display:inline-block;
	width:20px;
	height:20px;
	margin-left:10px;
	cursor:pointer;
	background:url(../../images/close.png) no-repeat;
	background-size:100% 100%;
	vertical-align:-2px;
}
.lin-s{
	position:absolute;
	bottom:16vh;
	left:10vw;
}
.lin-s p{
	width:75px;
	padding:10px 0;
	font-size:18px;
	color:#281cbd;
	border-bottom:2px solid #2160a5;
}
.sh-dialog{
	width:395px;
	height:550px;
	background:#fff;
	border-radius:15px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-197.5px;
	margin-top:-275px;
}
.sh-dialog h3{
	font-size:16px;
	color:#0b4946;
	padding-top:50px;
	padding-bottom:20px;
	text-align:center;
}
.sh-dialog ul{
	width:325px;
	margin:0 auto;
}
.sh-dialog ul li{
	line-height:22px;
	font-size:14px;
	color:#0b4946;
	text-align:justify;
}
.sh-dialog span.pc-close-img{
	width:20px;
	height:20px;
	background:url(../../images/close.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	top:20px;
	right:20px;
}
.wei-img{
	text-align:center!important;
}
.wei-img img{
	width:130px;
	height:130px;
}
.li-tow{
	margin-bottom:15px;
}
.li-one{
	margin-bottom:10px;
}
.li-t{
	margin-bottom:5px;
}

/**h5**/
.linh-main{
	width:100%;
	height:100%;
	background:url(../../images/bgmobile.jpg);
	background-size:100% 100%;
}
.h5-content{
	position:absolute;
	bottom:.4rem;
	left:.25rem;
}
.h5-content p{
	font-size:.125rem;
	color:#0b4946;
	margin-bottom:.15rem;
}
.input-h5 input{
	font-size:.15rem;
	color:#d2dddd;
	height:.31rem;
	border:none;
	background:#fff;
}
.input-h5 input.hinput1{
	width:.43rem;
	margin-right:.1rem;
	text-align:left;
	padding:0 .15rem;
}
.input-h5 input.hinput2{
	width:1.71rem;
	padding:0 .15rem;
}
.h5-submit{
	margin-top:.15rem;
}
.h5-submit button{
	width:.68rem;
	height:.3rem;
	background:#87cfdc;
	border:.03rem solid #86cedb;
	font-size:.125rem;
	color:#2a1c1d;
}
.h5-shuo{
	margin-top:.15rem;
}
.h5-shuo span{
	color:#281cbd;
	font-size:.11rem;
	text-decoration:underline;
}
.error-h5{
	padding:0 .2rem;
	min-height:.4rem;
	color:#17524f;
	font-size:.175rem;
	text-align:center;
	line-height:.4rem;
	background:#fff;
	border-radius:.1rem;
	margin:.15rem 0;
}
.error-h5 em{
	display:inline-block;
	width:.16rem;
	height:.16rem;
	font-style:normal;
	margin-left:.1rem;
	background:url(../../images/close.png) no-repeat;
	background-size:100% 100%;
	vertical-align:-.01rem;
}
.h5-dialog{
	width:3.17rem;
	min-height:4.44rem;
	padding-bottom:.1rem;
	background:#fff;
	border-radius:.2rem;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	z-index:100;
	display:none;
}
.h5-dialog h3{
	color:#0b4946;
	font-size:.125rem;
	text-align:center;
	padding-top:.3rem;
	padding-bottom:.15rem;
}
.h5-dialog ul{
	width:2.59rem;
	margin:0 auto;
}
.h5-dialog ul li{
	line-height:.2rem;
	color:#0b4946;
	font-size:.12rem;
}
.h5-dialog span.close-img{
	width:.18rem;
	height:.18rem;
	background:url(../../images/close.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	top:.2rem;
	right:.2rem;
}
.h5-wei-img{
	text-align:center;
}
.h5-wei-img img{
	width:1rem;
	height:1rem;
}
.h5-li-tow{
	margin-bottom:.05rem;
}
.h5-li-one{
	margin-bottom:.05rem;
}
.h5-li-t{
	margin-bottom:.03rem;
}