@CHARSET "UTF-8";
/* reset */
html,body{
	width:100%;
	margin: 0;
	padding:0;
	background:#1d212c;
	overflow:auto;
	position:relative;
}
a{
	-webkit-tap-highlight-color:transparent;
}
i,em{font-style:normal;}
.news_content_c i,.news_content_c em{font-style:italic!important;}
input {outline:medium;outline:none;-webkit-appearance:none;/*去除input默认样式*/}
p,div,section,em,span,b,footer,header,h1,h2,h3,h4,h5,h6,dl,dt,dd,img{
	margin: 0;
	padding:0;
	font-weight:normal;
	max-height:100%;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
}
a{
	text-decoration:none;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
/* placeholder 字体颜色改变 */
::-webkit-input-placeholder { /* WebKit browsers */color:#fff;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#fff;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color:#fff;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#fff;}
/* head */
.show_top{
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition:all .5s cubic-bezier(.19,1,.22,1);
	transition:all .5s cubic-bezier(.19,1,.22,1);
}
.hide_top{
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
	-webkit-transition:all .3s cubic-bezier(.55,.055,.675,.19);
	transition:all .3s cubic-bezier(.55,.055,.675,.19);
}

.head_open{width:100%;height:2.5rem;}
.load_text{width:100%;height:2.5rem;background:#353944;position:fixed;top:0;left:0;}
.load_content{width:14.944rem;height:100%;margin:0 auto;display:flex;display:-webkit-flex;display:-moz-flex;display:-o-flex;position:relative;}
.load_content span.colse img{width:1rem;height:1rem;margin-top:0.75rem;}
.load_content span.logo{margin-left:1rem;}
.load_content span.logo img{width:2rem;height:2rem;margin-top:0.25rem;}
.load_content p{margin-left:0.6rem;}
.load_content p em.tit{font-family:"Microsoft YaHei";font-size:0.8rem;color:#d3d4d6;display:block;margin-top:0.2rem;}
.load_content p em.text{font-family:"Microsoft YaHei";font-size:0.6rem;color:#d3d4d6;display:block;margin-top:0.15rem;}
.load_content small{position:absolute;right:0;line-height:2.5rem;color:#d3d4d6;font-size:0.6rem;font-family:"Microsoft YaHei";}
.head_box{background:#262a36;width:100%;}
.head-mi{width:100%;}
.search_box{width:100%;height: 3.06rem;}
.search_box i{ display:inline-block; width:0.444rem; height:0.666rem;  padding:0.64rem 0 0 0.75rem;}
.search_box i img{ width:0.444rem; height:0.666rem;}
.search_box span{ display:inline-block; float:right; width:100%; height: 3.06rem; font:0.8rem/3.06rem '微软雅黑'; color:#fff; text-align:center;}
.search_box span.name_top{ padding-top:0.622rem;}
.search_box span img{ width:3.82rem; height: 0.73rem; border:none; padding:0.62rem 0 0 0;}
.indexsearch_box{width:100%;height: 4.802rem; display: table;}
.indexsearch_box i{ display:block; float:left; width:0.444rem; height:0.666rem;  padding:0.64rem 0 0 0.75rem;}
.indexsearch_box i img{ width:0.444rem; height:0.666rem;}
.indexsearch_box span{ display:block; width:100%; height: 0.9rem; font:0.8rem/0.8rem '微软雅黑'; color:#fff; text-align:center; display:table-cell; vertical-align: middle;}
.indexsearch_box span.name_top{ padding-top:0rem;}
.indexsearch_box span img{ width:3.82rem; height: 0.73rem; border:none; padding:0.62rem 0 0 4.86rem;}
.faqsearch_box{width:100%; padding-top:0.6rem;margin-bottom:.444rem;}
.faqsearch_box i{ display:block; float:left; width:0.444rem; height:0.666rem;  padding:0.64rem 0 0 0.75rem;}
.faqsearch_box i img{ width:0.444rem; height:0.666rem;}
.faqsearch_box span{ display:block; font:1.06rem/1.2rem '微软雅黑'; color:#d3d4d6;margin-left:0.544rem;}
.faqsearch_box span img{ width:3.82rem; height: 0.73rem; border:none; padding:0.62rem 0 0 4.86rem;}

/* content */
.content{width:100%;}
.ImOra_logo{height:3.15rem; padding: 0 0 0 6.4rem; display: inline-block;}
.ImOra_logo img{ width:3.2rem; height:3.15rem;}
.ImOra_jjie{min-height:7.82rem; margin-top:1.444rem; overflow:hidden;}
.ImOra_jjie span.span_lefttitle{padding-left:0.711rem; float:left; width:21%; height:7.82rem; color:#ccc; font-size:0.622rem;}
.ImOra_jjie span.p_rightcont{ width:91.6%; min-height:7.82rem; float:left; color:#fff; margin-left:0.666rem; font-size:0.622rem; line-height:1.12rem;}
.ImOra_tixing{height:0.622rem; margin-top:2rem; padding-left:3.4rem; color:#ccc; font-size:0.622rem;}
.ImOra_form{ height:7.55rem; border-top:1px solid #525252; margin-top:0.888rem;}
.ImOra_phone{ height:2.68rem; border-bottom:1px solid #525252;}
#js_v_mcode{ width:2.02rem; height:1.02rem; margin:0.74rem 0 0 1.42rem; float:left; border:none; outline:medium; border:none; background:none; color:#fff; font-size:0.622rem;}
.ImOra_phone span{float:left; color:#575757; margin-top:0.655rem;}
#js_v_phone{ width:10rem; height:1.02rem; float:left; background:none; border:none; margin-top:0.84rem; padding: 0 0 0 0.533rem; color:#ccc; font-size:0.622rem; line-height:1.02rem;}
#js_v_phonecode{ width:10rem; height:1.02rem; float:left; background:none; border:none; padding-left:1.28rem; margin-top:0.84rem; font-size:0.622rem; line-height:1.02rem; color:#ccc;}
.mobile_SendPhoneCode{ width:3.64rem; height:1.22rem; margin-top:0.71rem; border:1px solid #525252; background:#363636; color:#fff; font-size:0.533rem; line-height:1.22rem;}
.ImOra_bin{height:3.644rem; padding:1.511rem 0 0 0rem; text-align: center;}
.ImOra_bin input{ width:4.555rem; height:0.866rem; border:none; overflow:hidden; background:none; color:#ccc; font-size:0.711rem; line-height:0.666rem;}

/* 名片交换页面样式 */

.content_c{ 
	width:100%; 
	height:9.577rem; 
	background:url(../images/bg_business_card.png);
	overflow:hidde;
}
.manual_c,.faq_c{ 
	width:100%; 
	height:auto; 
	overflow:hidden;
	display:block;
}
.content_c_text{
	width:16rem;
	height:9.577rem;
	float:left;
	display:none;
}
.content_c_img{
	width:16rem;
	height:9.577rem;
	float:left;
	display:block;
}
.content_c_img img{width:16rem; height:9.577rem;}
.content_c_text h2{
	font-size: 0.888rem;
	display:block;
	color:#333;
	margin-top:1.777rem;
	margin-left:1.777rem;
	line-height:0.9rem;
	padding-bottom:0px;
	font-family:'Microsoft YaHei','微软雅黑';
	
}
.content_c_text span{
	display:block;
	font-size: 0.5333rem;
	margin-top:0.6222rem;
	margin-left:1.777rem;
	line-height:0.6rem;
	color:#333;
	font-family:'Microsoft YaHei','微软雅黑';
}
.content_manual_text{
	padding-right: 1.15rem;
	height:100%;
	margin:0 0 1.15rem 1.15rem;
}
.content_manual_text img{
	max-width:100%;
}
.content_manual_text span{
	display:block;
	font-size: 0.75rem;
	margin-top:0.4222rem;
	line-height:0.9rem;
	color:#fff;
	font-family:'Microsoft YaHei','微软雅黑';
	text-align: left;
}
.content_manual_text pre{
	display:block;
	font-size: 0.688rem;
	margin-top:0.4222rem;
	line-height:0.911rem;
	word-break:break-all;
	color:#fff;
	white-space: pre-wrap;
	font-family:'Microsoft YaHei','微软雅黑';
}
.content_c_text_bottom{
	width:12.6rem;
	overflow:hidden;
	margin-top:3.555rem;
}
.content_c_text_bottom p{
	display:block;
	font-size: 0.6222rem;
	line-height:0.6222rem;
	color:#333;
	margin-left:1.777rem;
	font-family:'Microsoft YaHei','微软雅黑';
}
.indexcontent_bin{
	width:100%;
	height:9.444rem;
	position:relative;
}
.indexbin_cont{ width:3.644rem; height:3.644rem; text-align:center; border:0.052rem solid #ccc; position:absolute; left:50%; margin-left:-1.822rem; top:50%; margin-top:-1.822rem;}
.indexbin_cont i{display:block; width:1.155rem; height:1.155rem; margin:1.022rem 0 0 1.244rem;}
.indexbin_cont i img{width:1.155rem; height:1.155rem;}
.indexbin_cont span{margin-top:0.3331rem;display:block;font-family:'Microsoft YaHei','微软雅黑'; font-size: 0.444rem; color:#fff; text-align:center;}

.content .intro_c{color:#fff;}

/* 我的名片页面样式 */
.getIndex_box{width:100%;height: 1.911rem; text-align: center;}
.getIndex_box i{ display:block; float:left; width:0.622rem; height:0.622rem;  padding:0.64rem 0 0 0.75rem;}
.getIndex_box i img{ width:0.622rem; height:0.622rem;}
.getIndex_box span{ display:inline-block; height: 0.911rem; font:0.8rem/0.8rem '微软雅黑'; color:#fff; text-align:center;}
.getIndex_box span.name_top{ padding-top:0.5rem;}
.getIndex_box span img{ width:3.82rem; height: 0.73rem; border:none; padding:0.62rem 0 0 4.86rem;}
.getIndex_box em{ display:inline-block; float:right; width:0.755rem; height:0.6rem;  padding:0.64rem 0.755rem 0 0;}
.getIndex_box em img{ width:0.755rem; height:0.6rem;}

.getask_box{width:100%;height: 2.222rem; text-align: center;}
.getask_box span{ display:inline-block; height: 0.911rem; font:0.8rem/0.8rem '微软雅黑'; color:#fff; text-align:center;}
.getask_box span.name_top{ padding-top:0.666rem;}
.getask_box span img{ width:3.82rem; height: 0.73rem; border:none; padding:0.62rem 0 0 4.86rem;}
.getask_box em{ display:inline-block; float:right; width:0.953rem; height:0.822rem;  margin:0.67rem 0.755rem 0 0;}
.getask_box em img{ width:0.933rem; height:0.822rem;}


.getIndex_c{width:100%; height:auto; background:#111;overflow:hidden; margin-top:0.6rem;}
.getIndex_c div{  margin-top:0.266rem; background:#282828; clear: both; overflow:hidden;}
.getIndex_c div span{width: 100%;float: left; background:#282828; height:1.666rem; padding:0.355rem 0.888rem 0.355rem 0.888rem;}
.getIndex_c div span i.namespan_m{ display: inline-block; width:0.888rem; height:0.866rem; float:left; padding-right:0.711rem; padding-top:0.455rem;}
.getIndex_c div span i.namespan_m img{width:0.733rem; height:0.866rem;}
.getIndex_c div span input{display: inline-block; width: 12.05rem; height:1rem; border:none; margin-top:0.3rem; background:none; font:0.533rem/1rem '微软雅黑'; color:#fff;}
.getIndex_c div span i.namespan_e{ display: inline-block; width:0.888rem; height:0.777rem; float:left; padding-right:0.711rem; padding-top:0.455rem;}
.getIndex_c div span i.namespan_e img{width:0.777rem; height:0.777rem;}
.getIndex_c div span i.zwspan_z{ display: inline-block; width:0.888rem; height:0.844rem; float:left; padding-right:0.711rem; padding-top:0.405rem;}
.getIndex_c div span i.zwspan_z img{width:0.688rem; height:0.844rem;}
.getIndex_c div span i.mobilespan_m{ display: inline-block; width:0.888rem; height:0.866rem; float:left; padding-right:0.711rem; padding-top:0.395rem;}
.getIndex_c div span i.mobilespan_m img{width:0.733rem; height:0.866rem;}
.getIndex_c div span i.tellspan_t{ display: inline-block; width:0.888rem; height:0.888rem; float:left; padding-right:0.711rem; padding-top:0.355rem;}
.getIndex_c div span i.tellspan_t img{width:0.888rem; height:0.888rem;}
.getIndex_c div span i.mailspan_m{ display: inline-block; width:0.888rem; height:0.755rem; float:left; padding-right:0.711rem; padding-top:0.445rem;}
.getIndex_c div span i.mailspan_m img{width:0.844rem; height:0.755rem;}
.getIndex_c div span i.homespan_h{ display: inline-block; width:0.888rem; height:0.822rem; float:left; padding-right:0.711rem; padding-top:0.455rem;}
.getIndex_c div span i.homespan_h img{width:0.888rem; height:0.822rem;}
.getIndex_c div span i.httpspan_h{ display: inline-block; width:0.8rem; height:0.8rem; float:left; padding-right:0.711rem; padding-top:0.435rem;}
.getIndex_c div span i.httpspan_h img{width:0.8rem; height:0.8rem;}
.getIndex_c div span i.addressspan_a{ display: inline-block; width:0.888rem; height:0.888rem; float:left; padding-right:0.711rem; padding-top:0.465rem;}
.getIndex_c div span i.addressspan_a img{width:0.733rem; height:0.888rem;}

/* 橙秀问答详情页面样式 */
.consult_c{width:100%; height:100%; background:#333;overflow:hidden;}
.ask_title{ width:100%; height:2.222rem; background:#444; font:0.711rem/2.222rem '微软雅黑'; color:#ccc; padding-left:0.666rem;}
.ask_namelogo{ width:14rem; height:2.666rem; margin-left:1.111rem;}
.ask_left_pic{ width:9.022rem; height:2.666rem; float:left;}
.ask_left_pic i,.ask_left_pic em{ display:block; float:left;}
.ask_left_pic i{ width:1.777rem; height:1.777rem; margin:0.466rem 0.422rem 0 0;}
.ask_left_pic i img{width:1.777rem; height:1.777rem;}
.ask_left_pic em{ width:6.8rem; height:1.777rem; font:0.622rem/0.622rem '微软雅黑'; color:#ccc; margin-top:1.155rem;}
.ask_right_c{ width:4.22rem; height:1.189rem; float:right; margin-top:1.177rem;}
.ask_right_c i,.ask_right_c em{display:block; float:left; font:0.444rem/0.444rem '微软雅黑'; color:#999;}
.ask_right_c i{ margin-right:0.377rem;}
.ask_cont{ width:14.433rem; height:auto; overflow:hidden; margin-left:0.622rem;}
.ask_cont p{margin:0px; padding:0px;font:0.622rem/0.933rem '微软雅黑'; color:#ccc;}
.ask_piccard{ width:15.155rem; height:9.088rem; margin:0.311rem 0 0 0.444rem;}
.ask_piccard img{width:15.155rem; height:9.088rem;}
.diban{
	width:14.689rem; background:#222;
  	box-shadow:0.064rem 0.064rem 0.042rem rgba(40, 40, 40, .3), /*左边阴影*/  
    -0.064rem 0.064rem 0.042rem rgba(40, 40, 40, .3), /*右边阴影*/  
    0.064rem -0.064rem 0.042rem rgba(40, 40, 40, .3), /*顶部阴影*/  
    0.064rem 0.064rem 0.042rem rgba(40, 40, 40, .3); /*底边阴影*/ 
    margin:0.444rem 0.666rem 0 0.666rem;
    position:relative;
    overflow: hidden;
}
.ask_quest{ width:100%; height:auto; overflow:hidden; padding-bottom:2.4rem;}
.ask_topy{ width:0.262rem; height:0.262rem; background:#111; position:absolute; left:2.866rem; top:-0.111rem; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}
.ask_bottomy{ width:0.262rem; height:0.262rem; background:#111; position:absolute; left:2.866rem; bottom:-0.111rem; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}
.ask_quest_c{ width:14.689rem; min-height:3.577rem; overflow:hidden; float:left;}
.left_namepic{ width:2.866rem; min-height:3.577rem; overflow:hidden; float:left;}
.left_namepic i,.left_namepic em{ display:block;}
.left_namepic i{ width:2.244rem; height:2.244rem; margin:0.355rem 0 0 0.355rem;}
.left_namepic i img{ width:2.244rem; height:2.244rem;}
.right_content_c{ width:11.211rem; min-height:3.177rem; overflow:hidden; float:left; margin:0.302rem 0 0 0.244rem;position:relative;}
.right_content_c em{ font:0.8rem/0.544rem '微软雅黑';display:block;color:#fffefe;padding-bottom:0.466rem;padding-top:0.1rem;}
.right_content_c p{ font:0.622rem/1.1rem '微软雅黑'; color:#ccc;padding-bottom:0.244rem;}
.right_content_c p i{font:0.622rem/0.8rem '微软雅黑'; color:#ccc;}
.right_content_c span{position:absolute;top:0.07rem;right:0.1rem;}
.right_content_c span em{float:left; width:0.466rem; height:0.466rem; margin-right:0.133rem; display:inline-block;}
.right_content_c span em img{width:0.466rem; height:0.466rem; float:left;}
.right_content_c span i{float:left;display:inline-block; font:0.444rem/0.466rem '微软雅黑'; color:#ccc; overflow: hidden;}
.artical_top{border-bottom:1px solid #333;}
.artical{width:100%;margin-top:0.244rem;background:#111;}
.artical small{font:0.622rem/1.1rem '微软雅黑'; color:#fff;}

.ask_more{ width:15.155rem; height:2.222rem;}
.ask_more i,.ask_more em{ display:block; float:left;}
.ask_more i{font:0.711rem/0.711rem '微软雅黑'; color:#ccc; margin:0.844rem 0.511rem 0 5.955rem;}
.ask_more em{ width:0.444rem; height:0.8rem;}
.ask_more em img{width:0.444rem; height:0.8rem; margin-top:0.825rem;}
aa img{/*margin-top:4px;*/}





/*.getIndex_box em.em_Wishlists{ display:inline-block; float:right; width:0.711rem; height:0.711rem;  padding:0.64rem 0.755rem 0 0;}
.getIndex_box em.em_Wishlists img{ width:0.755rem; height:0.755rem;}
.consult_title{ width:100%; height:1.6rem; background:#444; font:0.711rem/1.5rem '微软雅黑'; color:#ccc; padding-left:0.666rem;}
.consult_name{ width:14.244rem; height:1.777rem; margin-left:1.111rem; margin-top:0.466rem;}
.consult_name_l i,.consult_name_l em{display:inlin-block;}
.consult_name_l i{ width:1.777rem; height:1.777rem;}
.consult_name_l i img{width:1.777rem; height:1.777rem;}
.consult_name_l{float:left; width:9.888rem;}
.consult_name_l em{ font:0.622rem/1.777rem '微软雅黑'; color:#ccc;}
.consult_name_r{float:right;}
.consult_name_r i,.consult_name_r em{display:inline-block; font-style:normal; font:0.444rem/1.977rem '微软雅黑'; color:#999;}
.consult_content{ width:14.711rem; height:auto; overflow:hidden; margin-left:0.644rem;}
.consult_content span{ display:inline-block; font:0.622rem/0.933rem '微软雅黑'; color:#ccc; margin-top:0.266rem;}
.consult_card{padding-bottom:2.355rem;width:14.666rem; height:auto; overflow:hidden; margin-top:0.444rem;  margin-left:0.644rem;}
.consult_card i{display:block; width:14.666rem; height:8.622rem; margin-bottom:0.2rem;}
.consult_card i img{border:none; width:14.666rem; height:8.622rem;}
.consult_footer_fixed{ width:100%; height:2.355rem; background:#444; position:fixed; left:0px; bottom:0px;}
.consult_footer_input{float:left; margin-left:0.688rem; margin-top:0.8rem; width:11.555rem; height:1.022rem; background:url(../images/mobile_img_border.png) no-repeat; background-size:100% 100%; }
.consult_footer_input i{ width:1.555rem; height:0.911rem; display:block;}
.consult_footer_input i img{width:1.555rem; height:0.911rem;}
.consult_footer_r{ float:right; margin-right:0.688rem; margin-top:0.8rem;}
.consult_footer_r i{ padding-left:0.644rem; width:1.178rem; height:1.022rem; float: left; background:url(../images/mobile_img_z.png) 0 0 no-repeat; background-size:100% 100%; font:0.533rem/0.533rem '微软雅黑'; color:#ccc;}
.consult_footer_r em{ width:0.955rem; height:1.022rem; float: left;}
.consult_footer_r em img{width:0.955rem; height:1.022rem;} */

/* 橙秀咨询详情页面样式 */
.getnews_box{width:100%;height: 1.911rem; text-align: center; position:fixed; left:0px; top:0px;}
.getnews_box i{ display:block; float:left; width:0.444rem; height:0.666rem;  padding:0.64rem 0 0 0.75rem;}
.getnews_box i img{ width:0.444rem; height:0.666rem;}
.getnews_box em{ display:inline-block; float:right; width:0.953rem; height:0.822rem;  margin:0.67rem 0.755rem 0 0;}
.getnews_box em img{ width:0.933rem; height:0.822rem;}
.newsorg_box{width:100%;height: 0.777rem; margin-top:0.6rem; margin-bottom:0.577rem;}
.newsorg_box a{display:block; height: 0.777rem; float:left;}
.newsorg_box i{display:block; height: 0.777rem; margin-left:0.688rem;}
.newsorg_box i img{ width:0.444rem; height:0.777rem;}
.newsorg_box em{float:left; margin-left:5.311rem; font:0.9rem/0.9rem '微软雅黑'; color:#fff;}
.news_c{width:100%; max-height:9.577rem; background:#333;overflow:hidde;}
.news_bg{ width:16rem; height:12rem; margin:0px; padding:0px;}
.news_bg img{width:16rem; height:12rem;}
.news_title{ width:16rem; min-height:2.055rem; background:#444;}
.news_title p{overflow: hidden; width:14.574rem; font:0.889rem/1.2rem '微软雅黑'; color:#fff; padding:0.377rem 0 0.6rem 0.558rem;}


.news_content{width:16rem; height:auto; overflow:hidden;}
.news_name_l{ width:14.244rem; height:auto; margin-left:0.544rem;}
.news_name_l i,.consult_name_l em{display:inline-block;}
.news_name_l i img{width:1.6rem; height:1.6rem;}
.news_name_l i,.news_name_l em{display:inline-block; font-style:normal; font:0.6rem/1.475rem '微软雅黑'; color:#d3d4d6;padding-right:0.488rem;}
.news_name_l em{ font:0.533rem/0.533rem '微软雅黑'; color:#ccc;}
.news_content_c{ width:14.944rem; height:auto; overflow:hidden; margin:0 auto;}
.news_img{width:92%;margin:0 auto;margin-bottom:0.88rem;}
.news_img img{width:100%;height:auto;}
.opcity_top{width:100%;height:2.4rem;position:fixed;left:0;top:0;background:#fff;opacity:0.95;z-index:1000;}
.new_top{width:100%;height:2.4rem;position:fixed;left:0;top:0;z-index:1000;}
.close_btn{width:0.59rem;height:0.59rem;background:url("../../images/close.png") no-repeat;background-size:100% 100%;position:absolute;top:50%;margin-top: -0.296rem;left:0.66rem;z-index:1000;}
.logo_icon{padding-left:2rem;font:0.755rem/2.4rem "微软雅黑";}
.logo_icon span{float:left;width:1.77rem;height:1.77rem;border-radius:0.3rem;margin-top:0.315rem;margin-right:0.244rem;background:url("../../images/ic_show_share_logo_small.png") no-repeat;background-size:100% 100%;}
.open_box{width:3.33rem;height:1.777rem;background:#111;position:absolute;top:50%;margin-top:-0.888rem;right:0.644rem;color:#fff;font-size:0.677rem;font:0.677rem/1.777rem "微软雅黑";text-align:center;}
.opcity_bottom{width:100%;height:2.4rem;background:#f3f3f3;opacity:0.95;position:fixed;left:0;bottom:0;}
.news_bottom{width:100%;height:2.4rem;position:fixed;left:0;bottom:0;text-align:center;font:0.8rem/2.4rem "微软雅黑";color:#111;}
.s_big_imgs{width:100%;height:100%;background:rgba(0,0,0,1);position:fixed;left:0;top:0;z-index:111;display:none;overflow:auto;}
.s_big_imgs img{width:100%;height:auto;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;}
.animated {
  animation-duration: .45s;
  animation-fill-mode: both;
}
@keyframes zoomIn{
	0%{
		opacity:0;
		transform:scale3d(.3,.3,.3);
	}
	50%{
		opacity:1;
	}
}
.zoomIn{
	animation-name:zoomIn;
}
//图片横竖屏处理
/* 竖屏 */
@media screen and (orientation:portrait) {
	.s_big_imgs img{width:100%;}
}
/* 横屏 */
@media screen and (orientation:landscape) {
.s_big_imgs img{width:90%;}
}
/*
.news_content_c p{font:0.577rem/0.933rem '微软雅黑';display:block; color:#ccc; margin-top:0.266rem;word-break: break-all;}
.news_content_c p img{margin-top:2px;width:100%; display:block;}
.news_content_c p span.big{font-size:0.777rem;}
.news_content_c p span.small{font-size:0.466rem;}
.news_content_c p span.bigger{font-size:0.933rem;}
.news_content_c p{font:0.777rem/0.933rem '微软雅黑';display:block; color:#fff; margin-top:0.266rem;word-break: break-all;}
.news_content_c p span.bigger{font-size:0.933rem;}*/
.pad_up{padding:1rem 0 .45rem 0;}
.news_content_c p{font:0.7rem/1.2rem '微软雅黑'!important;display:block; color:#ccc; word-break: break-all;}
.news_content_c p img{max-width:100%;height:auto;}
.news_content_c p a{color:#ccc;text-decoration:underline;}
.news_content_c p span.small{font-size:.5rem;line-height:.5rem;font-family:"Microsoft YaHei";}
.news_content_c p span.normal{font-size:.65rem;line-height:.8rem;font-family:"Microsoft YaHei";}
.news_content_c p span.big{font-size:.8rem;line-height:1.125rem;font-family:"Microsoft YaHei";}
.news_content_c p span.bigger{font-size:1.1rem;line-height:1.55rem;font-family:"Microsoft YaHei";}
.news_content_c p.marginb30{margin-bottom:1rem;}
.news_content_c p.marginb10{margin-bottom:0.325rem;}
.newsSuggestDownload{font-size: 0.6rem;text-align: center;font-family:'Microsoft YaHei','微软雅黑';}
.newsSuggestDownload a {text-decoration:none;}
.consult_list{width:94.4%;background:#222;margin:0 auto;font-family:"微软雅黑";}
.consult_list h3{font-size:0.58rem;margin-left:0.444rem;font-weight:200;color:#999;padding:0.511rem 0;}
.consult_list a{display:block;width:94%;margin:0 auto;text-decoration:none;font-size:0.711rem;color:#ccc;padding:0.289rem 0;border-top:1px solid #333;font-weight:200;}
.show_box{height:1.33rem;font:0.555rem/1.33rem "微软雅黑";text-align:left;padding-right:0.577rem;color:#fff;border-top:1px solid #333;}
table{
	border-collapse:collapse;
	border-bottom:.02rem solid #b8b8b8;
	border-left:.02rem solid  #b8b8b8;
	width:100%;
}
table tr td{
	border-top:.02rem solid #b8b8b8;
	border-right:.02rem solid #b8b8b8;
	font-size:.7rem;
	color:#ccc;
	text-align:center;
	vertical-align:middle;
}
table tr td span.small{font-size:0.5rem;}
table tr td span.normal{font-size:0.65rem;}
table tr td span.big{font-size:.8rem;}
table tr td span.bigger{font-size:1.1rem;}
/* h5产品展示页面样式 */
.about_box{width:100%; height: 2.592rem; text-align: center;}
.about_box span{display:inline-block; height: 2.592rem; font:1.066rem/2.592rem '微软雅黑'; color:#fff; text-align:center;}
.about_content{ width:100%; height:130.018rem; overflow:hidden; background:#fff;}
.about_content_g{ width:100%; height:19.718rem; overflow:hidden; text-align:center;}
.about_content_g span{ display:block; height:3.926rem;}
.about_content_g span i,.about_content_g span em{ display:block; }
.about_content_g span i{font-weight:bold; margin-top:1.125rem;height: 0.888rem; font:0.888rem/0.888rem '微软雅黑'; color:#333; text-align:center;}
.about_content_g span em{margin-top:0.592rem;height: 0.888rem; font:0.633rem/0.533rem '微软雅黑'; color:#999; text-align:center;}
.about_content_g img{ width:10.237rem; height:14.592rem; overfow:hidden; /*text-align:center; margin-left:3.037rem;*/}
.about_content_f{ width:100%; height:20.998rem; overflow:hidden; margin-top:1.556rem; text-align:center;}
.about_content_f span{ display:block; height:3.226rem;}
.about_content_f span i,.about_content_f span em{ display:block; }
.about_content_f span i{font-weight:bold; margin-top:1.125rem;height: 0.888rem; font:0.888rem/0.888rem '微软雅黑'; color:#333; text-align:center;}
.about_content_f span em{margin:0 auto;margin-top:0.592rem;width:12.362rem;height: 0.888rem; font:0.633rem/0.888rem '微软雅黑'; color:#999; text-align:center;}
.about_content_f img{ width:10.237rem; height:14.592rem; overfow:hidden; /*text-align:center; margin-left:3.037rem;*/ margin-top:2.074rem;}
.about_content_d{ width:100%; height:20.998rem; overflow:hidden; margin-top:1.556rem; text-align:center;}
.about_content_d span{ display:block; height:3.226rem;}
.about_content_d span i,.about_content_d span em{ display:block; }
.about_content_d span i{font-weight:bold; margin-top:1.125rem;height: 0.888rem; font:0.888rem/0.888rem '微软雅黑'; color:#333; text-align:center;}
.about_content_d span em{margin:0 auto;margin-top:0.592rem;width:12.362rem;height: 0.888rem; font:0.633rem/0.888rem '微软雅黑'; color:#999; text-align:center;}
.about_content_d img{ width:13.377rem; height:12.785rem; overfow:hidden; /*text-align:center; margin-left:1.481rem;*/ margin-top:2.074rem;}
.about_content_z{ width:100%; height:18.998rem; overflow:hidden; margin-top:1.556rem; text-align:center;}
.about_content_z span{ display:block; height:3.226rem;}
.about_content_z span i,.about_content_z span em{ display:block; }
.about_content_z span i{font-weight:bold; margin-top:1.125rem;height: 0.888rem; font:0.888rem/0.888rem '微软雅黑'; color:#333; text-align:center;}
.about_content_z span em{margin:0 auto;margin-top:0.592rem;width:13.562rem;height: 0.888rem; font:0.633rem/0.888rem '微软雅黑'; color:#999; text-align:center;}
.Officialwebsite_qiehuan{ width:15.407rem; height:auto; margin:0 auto; }
.Officialwebsite_qiehuan ul{ margin:0 auto; padding-top:1.481rem; width:100rem; height:11.481rem;}
.Officialwebsite_qiehuan ul li{ width:5.236rem; height:10rem; float:left; position:relative;
	-ms-transform:scale(0.9);
	-webkit-transform:scale(0.9, 0.9);
	-moz-transform:scale(0.9, 0.9);
	-o-transform:scale(0.9, 0.9);
	transform:scale(0.9, 0.9);
}
.Officialwebsite_qiehuan ul li i{width:4.866rem; height:9rem; position:absolute; top:0.651rem; left:0.029rem; z-index:2;}
.Officialwebsite_qiehuan ul li i img{width:4.177rem; height:7.481rem; margin:0.385rem 0 0 0rem; opacity:1;box-shadow:0 5px 20px 10px #b0afaf;}
.Officialwebsite_qiehuan ul li i img.moreShadow{opacity:0.6;box-shadow:0px 0px 0.296rem black;}
.Officialwebsite_qiehuan ul li i video.moreShadow{opacity:0.6;box-shadow:0px 0px 0.296rem black;}
.Officialwebsite_qiehuan ul li i video{width:4.385rem; height:7.822rem; margin:0.385rem 0 0 0.192rem; opacity:0.6;box-shadow:0px 0px 10px black;}
.Officialwebsite_qiehuan ul li em{display:block;height:10.103rem;opacity:0;position:absolute; top:0px; left:0px;z-index:1;}
.Officialwebsite_qiehuan ul li em img{display:block; width:4.888rem;height:10.074rem;position:absolute; top:0px; left:0px;z-index:1;}
.Officialwebsite_qiehuan ul li.video_play{z-index:999;
	-ms-transform:scale(1.1);
	-moz-animation:myfirst 1s; 
	-moz-animation-fill-mode:forwards;
	-ms-animation:myfirst 1s; 
	-ms-animation-fill-mode:forwards;
	-webkit-animation:myfirst 1s; 
	-webkit-animation-fill-mode:forwards;
	-o-animation:myfirst 1s; 
	-o-animation-fill-mode:forwards;
	animation:myfirst 1s; 
	animation-fill-mode:forwards;
}
.Officialwebsite_qiehuan ul li.video_play i{background:none;}
.Officialwebsite_qiehuan ul li.video_play i img{opacity:1;box-shadow:none;}
.Officialwebsite_qiehuan ul li.video_play i video{opacity:1;box-shadow:none;}
.Officialwebsite_qiehuan ul li.video_play em{opacity:1;}
@keyframes myfirst{
	0%   {}
	100% {transform:scale(1.1, 1.1)}
}

@-ms-keyframes myfirst{
	0%   {}
	100% {-ms-transform:scale(1.1, 1.1)}
}

@-webkit-keyframes myfirst{
	0%   {}
	100% {-webkit-transform:scale(1.1, 1.1)}
}

@-moz-keyframes myfirst{
	0%   {}
	100% {-moz-transform:scale(1.1, 1.1)}
}

@-o-keyframes myfirst{
	0%   {}
	100% {-o-transform:scale(1.1, 1.1)}
}

.Officialwebsite_btn ol{ width:2.074rem; height:0.148rem; margin:0 auto; margin-top:0.088rem; padding:0px;}
.Officialwebsite_btn ol li{list-style:none;cursor:pointer; width:0.148rem; height:0.148rem; background:#ccc; margin-right:0.266rem; float:left; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}
.Officialwebsite_btn ol li.active{cursor:pointer; width:0.148rem; height:0.148rem; background:#c0816f; margin-right:0.266rem; float:left; -webkit-border-radius:50% 50%; -moz-border-radius:50% 50%; -o-border-radius:50% 50%; -ms-border-radius:50% 50%; border-radius:50% 50%;}

.about_content_sz{ width:100%; height:18.998rem; overflow:hidden; margin-top:1.556rem; text-align:center;}
.about_content_sz span{ display:block; height:3.226rem;}
.about_content_sz span i,.about_content_sz span em{ display:block; }
.about_content_sz span i{font-weight:bold; margin-top:1.125rem;height: 0.888rem; font:0.888rem/0.888rem '微软雅黑'; color:#333; text-align:center;}
.about_content_sz span em{margin:0 auto;margin-top:0.592rem;width:12.362rem;height: 0.888rem; font:0.633rem/0.888rem '微软雅黑'; color:#999; text-align:center;}
.about_content_sz img{ width:100%; height:12.785rem; overfow:hidden; text-align:center; margin-top:1.074rem;}

.about_content_wd{ width:100%; height:20.998rem; overflow:hidden; margin-top:1.556rem; text-align:center;}
.about_content_wd span{ display:block; height:3.226rem;}
.about_content_wd span i,.about_content_wd span em{ display:block; }
.about_content_wd span i{font-weight:bold; margin-top:1.125rem;height: 0.888rem; font:0.888rem/0.888rem '微软雅黑'; color:#333; text-align:center;}
.about_content_wd span em{margin:0 auto;margin-top:0.592rem;width:15.762rem;height: 0.888rem; font:0.633rem/0.888rem '微软雅黑'; color:#999; text-align:center;}
.about_content_wd img{ width:14.148rem; height:12.370rem; overfow:hidden; /*text-align:center; margin-left:0.977rem;*/ margin-top:1.074rem;}

/* h5交换名片退出下载页面样式 */
.saveEndsearch_box{width: 100%;height: 1.888rem;}
.saveEndsearch_box span.name_top {padding-top: 0.622rem;}
.saveEndsearch_box span {display: block;float: left;width: 100%;height: 1.266rem;font: 0.8rem/0.8rem '微软雅黑';color: #fff;text-align: center;}
.saveEndcontent_c_text{width:15.133rem;height: 9.111rem;margin-left:0.466rem;float: left;display: none;}
.saveEndcontent_c_text h2 {font-size: 0.888rem;display: block;color: #333;margin-top: 1.777rem;margin-left: 1.777rem;line-height: 0.9rem;padding-bottom: 0px;font-family: 'Microsoft YaHei','微软雅黑';}
.saveEndcontent_c_text span {display: block;font-size: 0.5333rem;margin-top: 0.6222rem;margin-left: 1.777rem;line-height: 0.6rem;color: #333;font-family: 'Microsoft YaHei','微软雅黑';}
.saveEndcontent_c{width: 100%;height: 9.577rem;}
.saveEndcontent_c_img{width:15.133rem;height: 9.111rem;float: left;display: block; margin-left:0.466rem;}
.saveEndcontent_c_img img{width:15.133rem;height: 9.111rem;}
.saveEndcontent_tsy{ width:100%; height:6.333rem; text-align:center;}
.saveEndcontent_tsy span{ display:block; text-align:center;}
.saveEndcontent_tsy span.spantitle{ margin-top:0.888rem;text-align:center; font:0.8rem/0.8rem '微软雅黑'; color:#fff;}
.saveEndcontent_tsy span.spanms{ margin-top:0.444rem;text-align:center; font:0.566rem/0.566rem '微软雅黑'; color:#999;}
.saveEndcontent_tsy a.a_bin{display:block; margin-top:0.822rem; margin-left:0.466rem; width:15.133rem; height:2.222rem; background:#fff; text-decoration:none; text-align:center; font:0.622rem/2.222rem '微软雅黑'; color:#333;}

.newsSuggestDownload{ width:100%; height:2.355rem; background:#282828; text-align:center; font:0.6222rem/2.355rem '微软雅黑'; color:#ccc; margin-bottom: 0.092rem;}
.newsSuggestDownload i{display:inline-block;}
.newsSuggestDownload a{display:inline-block; width:1.866rem; height:1.177rem; background:#fff;margin-left:0.267rem;font:0.711rem/1.177rem '微软雅黑'; color:#535353;}
/**
*
* html5 应用详情页面样式
*
**/
.header_box{width:100%;}
.headerIndex_box{width:100%;height:0.777rem; text-align: center; padding-top:0.6rem;}
.headerIndex_box i{ display:block; float:left; width:0.444rem; height:0.777rem;  padding:0rem 0 0 0.688rem;}
.headerIndex_box i a{float:left; width:0.444rem; height:0.777rem;}
.headerIndex_box i img{ width:0.444rem; height:0.777rem;}
.headerIndex_box span{float:left; display:inline-block; width:13.723rem; height:0.777rem; font:0.711rem/0.777rem '微软雅黑'; color:#fff; text-align:center;}
.appDetail_content{width:100%; overflow:hidden; height:100%;}
.appDetail_content_b{ width:auto; height:43.888rem; overflow:hidden; background:#fff; margin:0 0.666rem; margin-top:0.711rem; margin-bottom:0.911rem; }
.appDetail_content_t{ width:auto; height:2.222rem; overflow:hidden; margin:0 0.666rem; margin-top:0.955rem;}
.appDetail_content_l{ width:2.222rem; height:2.222rem; float:left; margin-right:0.4rem;}
.appDetail_content_l img{width:2.222rem; height:2.222rem;}
.appDetail_content_m{ width:9.044rem; height:2.222rem; float:left; margin:0px; padding:0px;}
.appDetail_title{ font:0.8rem/0.8rem '微软雅黑'; color:#999; margin-top:0.177rem;}
.appDetail_text{ font:0.488rem/0.488rem '微软雅黑'; color:#999; margin-top:0.364rem;}
.appDetail_content_r{text-decoration: none; background:#333; float:right; font:0.577rem/1.155rem '微软雅黑'; text-align:center; color:#fff; width:2.2rem; height:1.155rem;}
.appDetail_b_m{ width:100%; height:auto; overflow:hidden; margin:0px; padding:0px;}
.appDetail_m_title{ font:0.8rem/0.8rem '微软雅黑'; color:#333; margin:0px; padding:0px; margin-top:0.844rem; text-align:center;}
.appDetail_m_text{ font:0.488rem/0.488rem '微软雅黑'; color:#999; margin-top:0.844rem; text-align:center;}
.appDetail_pic{ width:100%; height:auto; overflow:hidden; margin-top:1.688rem;}
.appDetail_pic img{ width:14.666rem; height:16.288rem;}



.h5_main_content p {font:0.6225rem/0.934rem 'Microsoft YaHei'}


/**  企业详情页  **/
.warmp{width:95%;margin:0 auto;}
.company_item{padding:0 2%;margin:0 auto;background:#262a36;margin-bottom:0.5rem;}
.company_list_tit{background:#262a36;position:relative;-webkit-box-align: center;-webkit-align-items: center;align-items: center;}
.com_tit_border{border-top:.02rem solid #353944;}
.company_list_tit h4{width:100%;padding-left:2%;font-size:0.65rem;font-family:"微软雅黑";line-height:1.5rem;color:#d3d4d6;font-weight:normal;}
.company_list{font-family:"微软雅黑";padding:.25rem 0;display:flex;display:-webkit-flex;display:-moz-flex;display:-o-flex;position:relative;}
.company_list span.company_title{display:block;font-size:0.65rem;color:#7c7f86;width:2.7rem;margin-right:0.15rem;}
.company_list span.company_tit_width{width:5rem;}
.company_list em.company_info{display:block;width:100%;font-size:0.65rem;color:#d3d4d6;flex:1;-webkit-flex:1;}
.info_height{
	width:100%;
	display:-webkit-box!important;
	display:box!important;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp:4;
	-moz-line-clamp:4;
	-o-line-clamp:4;
	line-clamp:4;
	overflow:hidden;
}
.flex_text{
	-webkit-flex:1;
	-moz-flex:1;
	-o-flex:1;
	flex:1;
}
.show_font{
	position:absolute;
	font-size:.6222rem;
	color:#ea9566;
	line-height:.8889rem;
	left:2.85rem;
	bottom:.3rem;
	z-index:111;
}
.show_text{
	position:absolute;
	font-size:.6222rem;
	color:#ea9566;
	line-height:.8889rem;
	left:3rem;
	bottom:.3rem;
	z-index:111;
}
.company_padding{
	padding-bottom:1.5rem;
}
.company_bottom{width:100%;background:#262a36;}
.company_change{width:95%;margin:0 auto;border-bottom:1px solid #353944;padding-bottom:0.6rem;}
.company_change p.time_info{font-size:0.6222rem;color:#7c7f86;font-family:"微软雅黑";line-height:1.3rem;}
.change_info{width:100%;margin:0 auto;}
.change_info h6{font-size:0.6222rem;font-family:"微软雅黑";line-height:1rem;color:#7c7f86;font-weight:normal;}
.change_info em{font-size:0.65rem;color:#7c7f86;font-family:"微软雅黑";line-height:1rem;}
.change_info p{font-size:0.65rem;color:#d3d4d6;font-family:"微软雅黑";line-height:1rem;}
.show_all{width:100%;height:1.8rem;font-size:0.65rem;font-family:"微软雅黑";color:#fff;border:none;background:#302F39;}
.no_info{font-family:"微软雅黑";color:#bcbcbc;font-size:0.7rem;text-align:center;line-height:2rem;}
.after_b{width:100%;display:flex;display:-webkit-flex;display:-moz-flex;display:-o-flex;margin-top:.711rem;position:relative;}
.after_b em{display:block;width:2.7rem;margin-right:.55rem;}
.after_b p{width:85%;}
.company_list_tit em{
	width:1.5rem;
	height:100%;
	position:absolute;
	right:2%;
	top:0;
}
.company_list_tit em:after{
	content:"";
    display: inline-block;
    height: 0.35rem;
    width: 0.35rem;
    border-width: 0.12rem 0.12rem 0 0;
    border-color: #7c7f86;
    border-style: solid;
    transform: rotate(134deg);
    -webkit-transform:roate(134deg);
    -moz-transform:roate(134deg);
    -o-transform:roate(134deg);
    position: absolute;
    top: 35%;
    right:0.3rem;
    margin-top: -0.175rem;
}
.company_list_tit em.up:after{
	transform: rotate(-43deg);
    -webkit-transform:roate(-43deg);
    -moz-transform:roate(-43deg);
    -o-transform:roate(-43deg);
	top:50%;
}
.company_list_tit i{
	position:absolute;
	right:1.5rem;
	font-style:normal;
	top:0;
	font-size: 0.50rem;
	font-family: "微软雅黑";
	line-height: 1.5rem;
	color: #73777e;
}

/**   未找到相关企业信息页  **/
.c_found{width:100%;}
.no_found_img{width:100%;text-align:center;padding-top:3.733rem;padding-bottom:1.333rem;}
.no_found_img img{width:6.6667rem;heihgt:6.6667rem;}
.no_found_text{width:100%;text-align:center;}
.no_found_text h5{color:#d3d4d6;font-size:.6222rem;line-height:.889rem;margin-bottom:.444rem;}
.no_found_text p{color:#7c7f86;font-size:.5333rem;line-height:.8rem;}

/**   下载页面  **/
.bg_down{}
.imora_icon{text-align:center;padding-top:4.3111rem;}
/* .imora_icon img{width:2.925rem;height:3.025rem;border-radius:0.25rem;} */
.imora_logo{width:4rem;height:4rem;margin:0 auto;}
.imora_logo img{width:100%;height:100%;text-align:center;}
.imora_logo h2{font-size:1.0667rem;color:#ea9566;font-weight:normal;margin-top:.4444rem;}
/* .imora_font{margin-bottom:1.65rem;}
.imora_font p{font-size:0.75rem;font-family:"Microsoft YaHei";text-align:center;color:#d3d4d6;padding-top:0.575rem;} */
/* .imora_card{text-align:center;}
.imora_card img{width:95%;} */
/* .imora_font{width:2.925rem;height:7rem;margin:0 auto;margin-top:1.688rem;} */
/* .imora_font span{display:block;width:.9333rem;font-size:.9333rem;color:#1d212c;font-weight:300;line-height:1.444rem;}
.imora_font span.right_text{margin-left:1.056rem;margin-top:1.733rem;} */

.imora_download button{outline:none;border:none;display:block;width:82%;height:2.2rem;background:#ea9566;color:#fff;font-family:"Microsoft YaHei";font-size:0.5444rem;margin:0 auto;border-radius:2rem;text-align:center;line-height:2.2rem;}
.open_page{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:11;display:none;}
.open_page img{width:100%;height:100%;}
@media all and (orientation : landscape) { 
/*横屏*/
	.imora_download{position:relative;padding-top:5.1667rem;padding-bottom:1rem;}
} 

@media all and (orientation : portrait){ 
	/*竖屏*/
	.imora_download{position:absolute;bottom:4rem;left:50%;width:100%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);}	
} 

/* 无效链接 */
.invalid{
	width:100%;
	height:100%;
	position:relative;
}
.invalid dl{width:100%;height:6rem;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.invalid dl dt{
	text-align:center;
}
.invalid dl dt img{
	width:4rem;
	height:4rem;
}
.invalid dl dd{font-size:.7rem;color:#d3d4d6;text-align:center;line-height:2.1rem;}

/**   银行列表  */
.rank_list{width:95%;margin:1rem auto 0 auto;background:#fff;border-radius:.2rem;}
.rank_list h5{font-size:.7rem;color:#333;text-align:center;line-height:1.5rem;padding:.3rem 0;}
.rank_name{width:100%;overflow:hidden;}
.rank_name dl{width:33.33%;float:left;text-align:center;margin-bottom:.4rem;}
.rank_name dl dt img{width:3.5rem;height:3.5rem;}
.rank_name dl dd{height:2rem;}
.rank_name dl dd span{color:#333;font-size:.6rem;display:block;padding:.2rem 0;}
.rank_name dl dd em{color:#545454;font-size:.5rem;display:block;}


/**公司搜索列表**/
.com-s-main{
	width:100%;
}
.com-s-content{
	width:94.667%;
	margin:0 auto;
}
.title-h2{
	font-size:.7111rem;
	line-height:1rem;
	padding:.7111rem 0;
	color:#d3d4d6;
	margin-left:.3rem;
}
.sear-item{
	width:100%;
	padding:.7111rem 0;
	background:#262a36;
}
.title-h3{
	font-size:.6222rem;
	color:#d3d4d6;
	line-height:.889rem;
	padding-left:.889rem;
	margin-bottom:.7111rem;
}
.title-h3 i{
	font-style:normal;
	color:#ea9566;
}
.com-info{
	height:.889rem;
	display:box;
	display:-webkit-box;
	display:flex;
	display:-webkit-flex;
	margin-bottom:.3556rem;
}
.com-info span{
	display:block;
	color:#7c7f86;
	line-height:.889rem;
	text-align:center;
	font-size:.6222rem;
}
.com-info span.span1{
	width:25%;
	border-right:.044rem solid #979797;
	overflow:hidden; 
}
.com-info span.span2{
	width:35%;
	border-right:.044rem solid #979797;
	overflow:hidden; 
}
.com-info span.span3{
	width:40%;
	overflow:hidden; 
}


/**news企业详情**/
.nc-mian{
	width:100%;
	overflow:hidden;
}
.ne-conpany-info{
	width:95%;
	margin:.7111rem auto;
	background-color:#262a36;
	border-radius:.2222rem;
	padding:.8889rem 0;
}
.c-name-d{
	width:100%;
	border-bottom:.0444rem solid #353944;
	padding-bottom:.9556rem;
}
.c-name-d h4{
	font-size:.6222rem;
	color:#d3d4d6;
	line-height:.8889rem;
	padding:0 .8889rem;
	margin-bottom:.1333rem;
}
.c-name-d p{
	font-size:.5333rem;
	line-height:.7333rem;
	color:#ea9566;
	padding:0 .8889rem;
}
.c-j-info{
	width:100%;
	padding-top:.8889rem;
}
.j-info{
	padding-left:.8889rem;
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
}
.j-info-margin{
	margin-bottom:.644rem;
}
.j-info p{
	font-size:.6222rem;
	line-height:.8889rem;
	margin-right:.9778rem;
}
.j-info p span{
	color:#fff;
	margin-right:.4444rem;
}
.j-info p em{
	color:#7c7f86;
	font-style:normal;
}
.ne-pad-j{
	padding:.444rem 0;
}
.c-mobile{
	width:100%;
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	position:relative;
}
.c-mobile span{
	font-size:.6222rem;
	color:#fff;
	margin-right:.4444rem;
	padding-left:.8889rem;
}
.c-mobile em{
	color:#7c7f86;
	font-style:normal;
	font-size:.6222rem;
}
.c-mobile b{
	position:absolute;
	right:1.223rem;
	top:.15rem;
	width:.217rem;
	height:.217rem;
	border-top:.0444rem solid #7c7f86;
	border-left:.0444rem solid #7c7f86;
	transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-ms-transform:rotate(-135deg);
	-o-transform:rotate(-135deg);
}
.c-mobile b.up{
	top:.25rem;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
.c-span-width{
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
	margin-bottom:.711rem;
	position:relative;
	white-space:normal;
	overflow:hidden;
}
.c-span-width span{
	width:2.489rem;
	display:block;
}
.c-span-width em{
	display:block;
	width:10.5rem;
	white-space:normal;
}
.company-tab-content{
	width:100%;
	overflow:hidden;
}
.company-tab-icon{
	width:95%;
	margin:0 auto;
	padding:.9778rem 0;
	border-bottom:.0444rem solid #353944;
}
.company-tab-icon ul{
	width:100%;
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:box;
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:-ms-box;
}
.company-tab-icon ul li{
	width:20%;
}
.company-tab-icon ul li dl{
	text-align:center;
}
.company-tab-icon ul li dt{
	width:1.956rem;
	height:1.956rem;
	margin:0 auto;
}
.company-tab-icon ul li dd{
	font-size:.5333rem;
	margin-top:.3556rem;
	color:#7c7f86;
}
.company-tab-icon ul li dl.c-icon dt{
	background:url(../../images/iconCompanyPressed@3x.png) no-repeat;
	background-size:100% 100%;
}
.company-tab-icon ul li.active dl.c-icon dt{
	background:url(../../images/iconCompanyPressed3x.png) no-repeat;
	background-size:100% 100%;
}
.company-tab-icon ul li dl.d-icon dt{
	background:url(../../images/iconMessageDefault3x.png) no-repeat;
	background-size:100% 100%;
}
.company-tab-icon ul li.active dl.d-icon dt{
	background:url(../../images/iconMessageDefault@3x.png) no-repeat;
	background-size:100% 100%;
}

.company-tab-icon ul li dl.g-icon dt{
	background:url(../../images/iconShareholderDefault.png) no-repeat;
	background-size:100% 100%;
}
.company-tab-icon ul li.active dl.g-icon dt{
	background:url(../../images/iconShareholderDefault@3x.png) no-repeat;
	background-size:100% 100%;
}

.company-tab-icon ul li dl.z-icon dt{
	background:url(../../images/iconMembersDefault3x.png) no-repeat;
	background-size:100% 100%;
}
.company-tab-icon ul li.active dl.z-icon dt{
	background:url(../../images/iconMembersDefault@3x.png) no-repeat;
	background-size:100% 100%;
}

.company-tab-icon ul li dl.b-icon dt{
	background:url(../../images/iconRecordDefault3x.png) no-repeat;
	background-size:100% 100%;
}
.company-tab-icon ul li.active dl.b-icon dt{
	background:url(../../images/iconMessageDefault@3x.png) no-repeat;
	background-size:100% 100%;
}

.company-tab-icon ul li.active dl dd{
	color:#fff;
}
.c-t-content{
	width:100%;
}
.com-j{
	width:95%;
	margin:0 auto;
}
.c-title-h3{
	font-size:.6222rem;
	color:#fff;
	border-left:.0889rem solid #ea9566;
	padding-left:.5778rem;
	margin:.9778rem 0;
}
.h-x{
	width:100%;
}
.h-item{
	width:100%;
	margin-bottom:1.334rem;
}
.h-item h4{
	font-size:.6222rem;
	color:#fff;
}
.h-item p{
	font-size:.5778rem;
	color:#7c7f86;
	margin:.667rem 0;
}
.h-item p.line-number{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: 3;
	-moz-line-clamp: 3;
	-ms-line-clamp: 3;
	-o-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
}
.h-item span{
	display:block;
	font-size:.5778rem;
	color:#ea9566;
}
.border-company-b{
	border-bottom:.0444rem solid #353944;
	margin-bottom:.888rem;
}