html,body{width:100%;margin: 0;padding:0;background:#1d212c;position:relative;}
p, div, section, em, span, b, footer, header, h1, h2, h3, h4, h5, h6, dl, dt, dd, img {
    margin: 0;
    padding: 0;
    cursor: pointer;
}
a{color: #ccc}
ol li{margin-left: 1rem;color:#ccc;font-size: 0.6rem;}
ul li{margin-left: 1rem;color:#ccc;font-size: 0.6rem;}
.news_content {
    width: 100%;
    height: auto;
}
.news_content_c {
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.news_content_c p {
    margin: 5px 0;
    color: #ccc;
    word-break: break-all;
    font-family:"Microsoft YaHei";
    font-size: 20px;
    line-height: 150%;
}
.head-mi {
    width: 100%;
}
.news_name_l {
    width: 95%;
    height: auto;
    max-height: 100%;
    margin-left: 2.5%;
}
.news_name_l i, .news_name_l em {
    display: inline-block;
    color: rgb(211, 212, 214);
    padding-right: 0.488rem;
    font: 17px/35px 微软雅黑;
}   
.faqsearch_box {
    width: 100%;
    padding-top: 0.6rem;
    margin-bottom: .444rem;
    max-height: 100%;
}
.faqsearch_box span {
    display: block;
    color: rgb(211, 212, 214);   
    font: 32px/50px 微软雅黑;
    margin-left: 2.5%;
}
span {
    margin: 0;
    padding: 0;
    max-height: 100%;
}
.head_open {
    width: 100%;
    height: 4.5rem;
    margin: 0;
    padding: 0;
    display: block;
}
.load_text {
    display: block;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
    height: 4.5rem;
    background: #353944;
    position: fixed;
    top: 0;
    left: 0;
}
.load_content {
    padding: 0;
    max-height: 100%;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    position: relative;
}
.load_content span.logo {
    margin-left: 1.8rem;
}
.load_content p {
    margin-left: 1.2rem;
}
.load_content span.logo img {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.5rem;
}
img {
    border: none;
    vertical-align: top;
}
.load_content span.colse img {
    margin: 0;
    padding: 0;
    max-height: 100%;
    border: none;
    vertical-align: top;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: 1.2rem;
}
.load_content p em.tit {
    font-family: "Microsoft YaHei";
    font-size: 1.5rem;
    font-style:normal;
    color: #d3d4d6;
    display: block;
    margin-top: 0.2rem;
    min-width: 3rem;
}
.load_content p em.text {
    font-family: "Microsoft YaHei";
    font-size: 1.1rem;
    font-style:normal;
    color: #d3d4d6;
    display: block;
    margin-top: 0.15rem;
    min-width: 10rem;
}
.load_content small {
    position: absolute;
    right: 0;
    line-height: 4rem;
    color: #d3d4d6;
    font-size: 1.1rem;
    font-family: "Microsoft YaHei";
}
.show_top{
    -webkit-transform:translateY(0);
    transform:translateY(0);
    -webkit-transition:all .5s cubic-bezier(.19,1,.22,1);
    transition:all .5s cubic-bezier(.19,1,.22,1);
}
.hide_top{
    -webkit-transform:translateY(-100%);
    transform:translateY(-100%);
    -webkit-transition:all .3s cubic-bezier(.55,.055,.675,.19);
    transition:all .3s cubic-bezier(.55,.055,.675,.19);
}